-c={}
-c[:description]="#{community_name} Reseller Program offers volume discounting and low prices on ssl certificates."
-c[:keywords]="SSL reseller host providers hosting webmasters low cost ssl certificate authority ssl resellers"
-c[:title]="SSL Reseller Program Details"
-c.each do |k, v|
  -content_for k, c[k]
-content_for :header, 'public'
%h1
  Save Time, Money, and Effort With SSL Reseller
%h2
  Lower pricing and better tools results in higher efficiency
.default_container
  %h3 SSL Reseller Program Details
  =image_tag 'increase_profits_with_ssl_reseller.jpg', :id=>'upward_trend'
  %p
    The SSL Reseller Program is designed to ease management of bulk ssl
    certificate purchases while increasing your bottom line through volume
    discounting. With the SSL Reseller Program, you can view real-time
    processing status information of each certificate, run historical reports
    on your certificate purchases, and do a host of other administrative
    functions. And that's just the beginning....
  %p
    Depending on your projected sales volume of ssl certificates, you can "buy"
    into a higher discounting bracket
    (#{link_to "click here for pricing tiers", reseller_tiers_path}), resulting
    in lowered costs and increased profitability. These brackets are suitable
    for organizations of all sizes; from independent consultants to government
    institutions to globally based hosting companies, there's a right fit for
    everyone.
%h2
  #{community_name}'s intuitive certificate management portal saves time
.default_container
  %h3 #{community_name} Management Portal
  %p
    From the administrative screen, you can manage the full
    life-cycle of each ssl certificate request including buying or renewing
    certificates, reprocessing existing certificates, or even revoking
    certificates. Manage your dynamic SSL Secured Smart SeaLs from your
    administrative screen and choose from a number of designs; you can choose
    a different design for each site.
  #ssl_reseller_certs_screenshot
    =image_tag 'ssl_reseller_certs_screenshot.jpg'
  %p
    Even the validation process can be handled on your end (subject to agreed
    Terms and Conditions) to allow you control over all aspects of your ssl
    certificate issuances or simply let the validation technicians at #{community_name}
    handle validations diligently so you can focus on what matters to you.
    Our 24/7 excellent customer support is there for you in the event you have
    any issues ranging from installation problems to validation questions to
    anything that will help you get up and running with SSL security quickly.
    You can chat with someone 24 hours a day through our toll free
    =Settings.corp_tollfree_tag
    phone number, or visit support@ssl.com to
    find answers or open a support ticket.
%h2
  Automate ssl certificate installs with #{community_name} RESTful api
.default_container
  %h3 Private Label and Seamless Integration
  =image_tag 'shop_securely_with_ssl.jpg', :id=>'shop_securely_with_ssl'
  %p
    The SSL Reseller Program is the perfect white-label solution for your ssl
    certificate needs. Set reminders for expiring ssl certificates and
    customize the reminder notices to gain more control over what is included in
    each reminder. You can even set the time period when they are sent out and
    to which email addresses. The detailed reporting allows you more insight
    into your order history as well as SSL Certificate purchase history.
    Filters allow you to search based on a number of factors such as domain
    name, time period reporting, and more.
  %p
    Improve efficiency and productivity by interfacing with #{community_name}'s RESTful
    api. No need to login through a web page and
    manage your certificates from your SSL Reseller interface. You can now
    handle all ssl certificate life-cycle operations through the RESTful api and
    build
    a custom solution more tailored to your needs. This great for host
    providers and other value added resellers or as a white-label solution.
#become_a_reseller_today
  %h3 get started today!
  =link_to "Become a reseller!", new_account_url, :class=>"buttonc"
