%table(cellspacing="0")
  %tbody
    %tr.alt
      %th email
      %th country
      %th locality
      %th state
      %th organization
      %th unique_value
    %tr.alt
      %td= csr.email
      %td= csr.country
      %td= csr.locality
      %td= csr.state
      %td= csr.organization
      %td= csr.unique_value
