<script type="text/javascript">
function destroy_pkey_download_link(event) {
  document.body.removeChild(event.target);
}
function pkey_download(pkey) {
  var pkeyAsBlob = new Blob([pkey], { type: "application/pkcs8" });
  var downloadLink = document.createElement('a');
  downloadLink.download = 'pkey.key';
  downloadLink.innerHTML = "Download File";

  downloadLink.href = window.URL.createObjectURL(pkeyAsBlob);
  downloadLink.onclick = destroy_pkey_download_link;
  downloadLink.style.display = "none";
  document.body.appendChild(downloadLink);

  downloadLink.click();
}

jQuery.noConflict();
jQuery(function($) {
  $(document).ready(function() {
    $('#number_rows').change(function() {
      url = window.location.href;
      if (url.indexOf('?')>0) {
        url = url.substring(0, url.indexOf('?'))
      }
      window.location = url + "/?per_page=" + $(this).val();
    });

    $('.dropdown, .status_message, .expand, .subject_column > a').click(function(){

      var currentElmt = $(this);

      if (currentElmt.parents().filter('tr').next().hasClass('expanded') == true) {
        if (currentElmt.parents().filter('tr').next().is(":visible")) {
          currentElmt.parents().filter('tr').next().hide();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('expand.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('open');
        } else {
          currentElmt.parents().filter('tr').next().show();
          currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
          currentElmt.parents().filter('tr').find('.expand').text('close');
        }
      } else {
        var csr_id = currentElmt.parents().filter('tr').attr('alt');
        var ajaxUrl = '<%=show_csr_detail_managed_csrs_path()%>';

        $.ajax({
          url: ajaxUrl,
          data: {
            id: csr_id
          },
          type: "GET",
          dataType: "html",
          success: function(result) {
            if (result == 'no-user') {
              location.reload(true);
            } else {
              console.log(result);
              if (currentElmt.parents().filter('tr').next().hasClass('expanded') == false) {
                currentElmt.parents().filter('tr').after(result);
                currentElmt.parents().filter('tr').find('.dropdown img').attr('src',"<%= asset_path('contract.png') %>");
                currentElmt.parents().filter('tr').find('.expand').text('close');
              }
            }
          }
        });
      }

    });

    // Show / Hide CSR field for past own CSR.
    $('.own_csr').click(function() {
      if ($(this).prop('checked')) {
        $('#csr').val('');
        $('.csr_wrap').show();
        $('.generate_cert').removeClass('btn-primary');
        $('.generate_cert').prop('disabled', true);
        $('.generate_wrap').hide();
        $('.private_key_wrap').hide();
        $('.clipboard_wrap').hide();
        $('#upload_validations').hide();
      } else {
        $('.csr_wrap').hide();
        if ($('#commonname').val() != '') {
          $('.generate_cert').addClass('btn-primary');
          $('.generate_cert').prop('disabled', false);
        }
        $('.generate_wrap').show();
        $('#upload_validations').hide();
      }
    });

    // Enable / Disable Generate CSR Button if ONLY commonname has value.
    $(document).on('blur keyup', '#commonname', function() {
      if ($(this).val() == '') {
        $('.generate_cert').removeClass('btn-primary');
        $('.generate_cert').prop('disabled', true);
      } else {
        $('.generate_cert').addClass('btn-primary');
        $('.generate_cert').prop('disabled', false);
      }
    });

    // Show / Hide Validate button only if CSR value exist.
    $(document).on('blur keyup', '#csr', function() {
      if ($(this).val() == '') {
        $('#upload_validations').hide();
      } else {
        $('#upload_validations').show();
      }
    });

    // Generate CSR based on inputted Common Info and SANs.
    $('.generate_cert').click(function() {
      // Adding loading bar while generate CSR, Private Key and Certificate.
      var page_loader_wrap = $('<div></div>');
      page_loader_wrap.attr('class', 'page_loader_wrap');

      var page_loader = $('<div></div>');
      page_loader.attr('class', 'page_loader');

      page_loader_wrap.append(page_loader);

      window.scrollTo(0, 0);
      $('body').addClass('no_scroll_y');
      page_loader_wrap.insertBefore($('#header'));

      // Getting Common Info
      const info = {};
      if ($('#commonname').val() != '') {
        info['commonname'] = $('#commonname').val().trim();
      }
      if ($('#email').val() != '') {
        info['email'] = $('#email').val().trim();
      }
      if ($('#organization').val() != '') {
        info['organization'] = $('#organization').val().trim();
      }
      if ($('#organizationalunit').val() != '') {
        info['organizationalunit'] = $('#organizationalunit').val().trim();
      }
      if ($('#address').val() != '') {
        info['address'] = $('#address').val().trim();
      }
      if ($('#locality').val() != '') {
        info['locality'] = $('#locality').val().trim();
      }
      if ($('#state').val() != '') {
        info['state'] = $('#state').val().trim();
      }
      if ($('#country').val() != '') {
        info['country'] = $('#country').val().trim();
      }
      if ($('#zipcode').val() != '') {
        info['zipcode'] = $('#zipcode').val().trim();
      }

      // Getting SANs array
      var sans = [];
      var sans_str = $('#sans').val();
      if (sans_str != '') {
        sans_str = sans_str.replace(/,/g, ' ').replace(/\s\s+/g, ' ').replace(/(\r\n|\n|\r)/gm, ' ');
        sans = sans_str.split(' ');
      }

      // Generate CSR.
      generateCSR(info, sans, undefined, function(csr, pkey) {
        $('#private_key').val(pkey);

        $.ajax({
          url: '<%= add_generated_csr_managed_csrs_path%>',
          data: {
            csr_id: $('#csr_id').val(),
            csr: csr,
            friendly_name: $('#friendly_name').val()
          },
          type: "POST",
          success: function(data) {
            if (data['status'] == 'true') {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message notice');

              var message_element = $('<span></span>');
              if ($('#csr_id').val() == '') {
                message_element.append('The CSR has been generated and added to the CSR Manager successfully');
              } else {
                message_element.append('The CSR has been generated and updated in the CSR Manager successfully');
              }
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }
              message_wrap_element.insertBefore($('#content').find('.inner').children().first());

              try {
                pkey_download($('#private_key').val());

                $('#commonname').val('');
                $('#email').val('');
                $('#organization').val('');
                $('#organizationalunit').val('');
                $('#address').val('');
                $('#locality').val('');
                $('#state').val('');
                $('#country').val('');
                $('#zipcode').val('');
                $('#sans').val('');
                $('#friendly_name').val('');
                $('#csr').val('');
                $('#private_key').val('');
              } catch (err) {
                $('#private_key').attr('readonly', true);
                $('.private_key_wrap').show();
                $('.clipboard_wrap').show();

                var message_wrap_element = $('<div></div>');
                message_wrap_element.attr('class', 'flash_message error');

                var message_element = $('<span></span>');
                message_element.append('It has been failed to download Private Key. Please copy using "Copy Private Key" button for download.');
                message_wrap_element.append(message_element);

                var btn_element = $('<small></small>');
                var close_btn_element = $('<div></div>');
                close_btn_element.attr('class', 'close_flash_message');

                var close_sign_element = $('<span></span>');
                close_sign_element.append('X');

                close_btn_element.append(close_sign_element);
                close_btn_element.append('close');

                btn_element.append(close_btn_element);
                message_wrap_element.append(btn_element);

                message_wrap_element.insertBefore($('#content').find('.inner').children().first());
              }

              $('.generate_cert').removeClass('btn-primary');
              $('.generate_cert').prop('disabled', true);

              $('.page_loader_wrap').hide();
              $('body').removeClass('no_scroll_y');
            } else {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              message_element.append(data['status']);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
                $('#content').find('.inner').children().first().remove();
              }
              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            }
          }
        });
      }, function(error) {
        var message_wrap_element = $('<div></div>');
        message_wrap_element.attr('class', 'flash_message error');

        var message_element = $('<span></span>');
        message_element.append(error);
        message_wrap_element.append(message_element);

        var btn_element = $('<small></small>');
        var close_btn_element = $('<div></div>');
        close_btn_element.attr('class', 'close_flash_message');

        var close_sign_element = $('<span></span>');
        close_sign_element.append('X');

        close_btn_element.append(close_sign_element);
        close_btn_element.append('close');

        btn_element.append(close_btn_element);
        message_wrap_element.append(btn_element);

        if ($('#content').find('.inner').children().first().hasClass('flash_message')) {
          $('#content').find('.inner').children().first().remove();
        }
        message_wrap_element.insertBefore($('#content').find('.inner').children().first());
      });
    });

    $('#clipboard_pkey_btn').click(function() {
      $('#private_key').select();
      document.execCommand('copy');
    });

  });
});
</script>
