-title = 'Add Csr'
-content_for :title, title

= render :partial => 'index_scripts'
= javascript_include_tag "promise.min", "webcrypto-liner.shim", "asmcrypto.min", "elliptic.min", "bundle.umd.min", "bundle.pkcs.umd.min"
= stylesheet_link_tag 'bootstrap_fix', :media => 'all'

%div{:style => 'width: 100%'}
  %h2.mt-5
    Generate Certificate Signing Request
    -unless current_user.blank?
      and Save to
      =link_to 'CSR Manager', managed_csrs_path(@ssl_slug)
  %h3.center
    Be sure to save the private key. It will be required for use with signed certificate.
    Note: Your private key will be generated on your own computer by your web browser.
    SSL.com will never see or handle your private keys.
  = form_tag :managed_csrs, method: :post, id: 'add_csr_form' do
    .row.pt-3
      .col-md-6
        = button_tag 'Generate CSR', type: 'button', class: 'generate_cert right btn', disabled: true
      .col-md-6{:style=>'font-size: 15px'}
        - if !@cert_ref && !@cert_token
          %input.own_csr.mr-3{:type=>'checkbox', :style=>'height: 20px; vertical-align: bottom;'}  I have my own CSR
    .row.pt-4
      .col-md-2
      .col-md-8
        .managed_csr.algorithm_wrap
          .row
            .col-md-6
              .form-group
                %label Sign Algorithm:
                = select_tag 'sign_algorithm', options_for_select(@sign_alg), class: 'form-control'
            .col-md-6
              .form-group.rsa_key_wrap
                %label Key Size:
                = select_tag 'rsa_key_size', options_for_select(@rsa_key_size), class: 'form-control'
              .form-group.ec_key_wrap.hidden
                %label Key Size:
                = select_tag 'ec_key_size', options_for_select(@ec_key_size), class: 'form-control'
        .generate_wrap
          .row
            .col-md-6
              .form-group.cn-group
                %label  Common Name:
                = text_field_tag 'commonname', nil, class: 'form-control', placeholder: 'yourdomain.com'
                .error-no-domain-msg
                  * It can not be domain for this certificate order "#{@error_cert_ref}"
                .error-require-domain-msg
                  * It requires valid domain.
            .col-md-6
              .form-group
                %label  Email Address:
                = text_field_tag 'email', nil, class: 'form-control', placeholder: 'email@yourdomain.com'
          .row
            .col-md-6
              .form-group
                %label  Organization:
                = text_field_tag 'organization', nil, class: 'form-control', placeholder: 'Your Company'
            .col-md-6
              .form-group
                %label  Organizational Unit:
                = text_field_tag 'organizationalunit', nil, class: 'form-control', placeholder: 'Customer Support'
          .form-group
            %label  Address:
            = text_field_tag 'address', nil, class: 'form-control', placeholder: '3100 Richmond Ave Ste 503'
          .row
            .col-md-6
              .form-group
                %label  City / Locality:
                = text_field_tag 'locality', nil, class: 'form-control', placeholder: 'Houston'
            .col-md-6
              .form-group
                %label  State / Region:
                = text_field_tag 'state', nil, class: 'form-control', placeholder: 'Texas'
          .row
            .col-md-6
              .form-group
                %label  Country (2 letters):
                = text_field_tag 'country', nil, class: 'form-control', placeholder: 'US'
            .col-md-6
              .form-group
                %label  Zip Code:
                = text_field_tag 'zipcode', nil, class: 'form-control', placeholder: '77098'
          .form-group
            %label  SANs:
          = text_area_tag 'sans', nil, class: 'form-control', rows: '2'
        .form-group
          %label  Friendly Name:
          = text_field_tag 'friendly_name', nil, class: 'form-control'
        .csr_wrap
          .form-group
            %label  CSR:
            = text_area_tag 'csr', nil, class: 'form-control', rows: '5'
        .private_key_wrap.hidden
          .form-group
            %label Private Key:
            = text_area_tag 'private_key', nil, class: 'form-control', rows: '5'
        .clipboard_wrap.hidden
          .form-group
            = button_tag 'Copy CSR', type: 'button', id: 'clipboard_csr_btn', class: 'btn btn-primary'
            = button_tag 'Copy Private Key', type: 'button', id: 'clipboard_pkey_btn', class: 'btn btn-primary'
      .col-md-2
    - if @cert_ref
      .row.pt-3
        .col-md-2
        .col-md-8
          #back_to_csr_page(style='width: 100%; text-align: center; display: none;')
            - if @for_reprocess == 'true'
              = link_to 'Back To CSR Submit Page', reprocess_certificate_order_path(@ssl_slug || @certificate_order.ssl_account.to_slug, @cert_ref), class: 'back_to_csr_page'
            - else
              = link_to 'Back To CSR Submit Page', edit_certificate_order_path(@ssl_slug || @certificate_order.ssl_account.to_slug, @cert_ref), class: 'back_to_csr_page'
        .col-md-2
    - if @cert_token
      .row.pt-3
        .col-md-2
        .col-md-8
          #back_to_generate_cert_page(style='width: 100%; text-align: center; display: none;')
            = link_to 'Back To Generate Cert Page', confirm_path(@cert_token), class: 'back_to_generate_cert_page'
        .col-md-2
    .row.pt-3
      .col-md-2
      .col-md-8
        #upload_validations(style='width: 100%; text-align: center; display: none;')
          =submit_tag "Add", :id=>"validate_domains", :disable_with=>"Submitting..."
= javascript_include_tag 'psl.min'
