-title = "Monthly Invoice"
-content_for :title, title
-system_admins = current_user.is_system_admins?
-descriptions  = @invoice.get_item_descriptions
-total_format  = @invoice.get_amount_format
-funded_amount = @order.get_funded_account_amount if @order
-items_params  = {descriptions: descriptions, total_format: total_format, funded_amount: funded_amount}

#validations.monthly-invoice
  #summary
    %div
      %span TYPE:
      %strong Monthly Invoice
    %div
      %span INVOICE #:
      %strong #{@invoice.reference_number}
    %div
      %span STATUS:
      %strong #{@invoice.status.upcase}
    %div
      %span ITEMS:
      %strong #{@invoice.get_approved_items.count}
    %div
      %span DUE:
      %strong #{@invoice.end_date.strftime('%F')}
  
  
  =render partial: 'items_list', locals: items_params.merge(approved_list: true)
  -if @invoice.get_removed_items.any?
    =render partial: 'items_list', locals: items_params.merge(approved_list: false)
            
-if @invoice.paid? && @order
  =render partial: 'payment_section'
  
#monthly-invoice-actions
  %h3.order_results_header
    Actions
  #invoice-container
    #btn-invoice-dwnl
      #{link_to "\u21E9 Download".html_safe, download_invoice_path(@ssl_slug, @invoice.reference_number), class: 'button-invoice'}
    #btn-invoice-update
      #{link_to "&#x2631; Change Address".html_safe, '#', id: 'lnk-update-invoice', class: 'button-invoice'}
    #btn-invoice-generate
      =link_to "Make Payment".html_safe, |
        new_payment_invoice_path(@ssl_slug, @invoice.reference_number), |
        class: 'button-invoice', method: :get   
  #invoice-container-errors
