-title = "Monthly Invoice"
-content_for :title, title
-system_admins = current_user.is_system_admins?
-descriptions  = @invoice.get_item_descriptions
-total_format  = @invoice.get_amount_format
-funded_amount = @order.get_funded_account_amount if @order

#validations.monthly-invoice
  #summary
    %div
      %span TYPE:
      %strong Monthly Invoice
    %div
      %span INVOICE #:
      %strong #{@invoice.reference_number}
    %div
      %span STATUS:
      %strong #{@invoice.status.upcase}
    %div
      %span ITEMS:
      %strong #{descriptions.count}
    %div
      %span DUE:
      %strong #{@invoice.end_date.strftime('%F')}

  %table#tbl-monthly-invoice(cellspacing='0')
    %thead
      %tr.heading_row
        %th #
        %th Date
        %th Order
        %th Description
        %th Total
    %tbody
      -@invoice.orders.each_with_index do |o, i|
        %tr
          %td
            %strong
              %span #{i+1}
          %td
            =o.created_at.strftime('%F')
          %td
            =link_to o.reference_number, order_path(@ssl_slug, o)
          %td
            %strong
              %span #{descriptions[o.reference_number.to_s][:item]}
            %br
            =descriptions[o.reference_number.to_s][:description]
          %td
            %strong
              =o.amount.format
      -if @order
        %tr.order-subtotal
          %td.description.total_row{colspan: '4'} Subtotal:
          %td.price.total_row
            =total_format
        -if funded_amount > 0
          %tr.order-funded
            %td.description.total_row{colspan: '4'} Funded Account Credit:
            %td.price.total_row -#{Money.new(funded_amount).format}
        %tr.order-total
          %td.description.total_row{colspan: '4'} Total:
          %td.price.total_row
            #{Money.new(@order.get_total_merchant_amount).format}
      -else
        %tr.order-subtotal
          %td.description.total_row{colspan: '4'} Total:
          %td.price.total_row
            =total_format
            
-if @invoice.paid?
  =render partial: 'payment_section'
  
#monthly-invoice-actions
  %h3.order_results_header
    Actions
  #invoice-container
    #btn-invoice-dwnl
      #{link_to "\u21E9 Download".html_safe, download_invoice_path(@ssl_slug, @invoice.reference_number), class: 'button-invoice'}
    #btn-invoice-update
      #{link_to "&#x2631; Change Address".html_safe, '#', id: 'lnk-update-invoice', class: 'button-invoice'}
    #btn-invoice-generate
      =link_to "Make Payment".html_safe, |
        new_payment_invoice_path(@ssl_slug, @invoice.reference_number), |
        class: 'button-invoice', method: :get   
  #invoice-container-errors
