#folders-index-search
  #search_bar
    =form_tag folders_path(@ssl_slug), id: 'search_form', method: :get do
      #search-bar-container
        #search-bar-input
          = text_field_tag :search, @search
        #search-bar-filters
          = button_tag 'Search', id: 'btn_cert_order_search'
          = button_tag 'Filters', type: 'button', id: 'btn_cert_order_filter'
          = link_to 'Clear', folders_path(@ssl_slug), class: 'btn', id: 'btn_cert_order_clear'
  
  =render partial: 'certificate_orders/search_filters'

#folders-index
  #folders-header
    %h3 Folders Explorer
  %br/
  
  #folders-actions-tabs
    #main-tab
      %p Folder Actions
    #other-tab
      %p Other

  #folders-actions
    #folders-action
      %div
        %span
          %i.fa.fa-search
        = text_field_tag :folder_search, nil, id: 'folder-scan', placeholder: "Name Search"
      %div
        = link_to "<i class='fa fa-plus'></i> Folder".html_safe, '#', |
        id: 'btn-folder-create-root', class: 'btn-folder-index'
      %div
        = link_to "<i class='fa fa-plus'></i> Subfolder".html_safe, '#', |
        id: 'btn-folder-create', class: 'btn-folder-index'
      %div
        = link_to "<i class='fa fa-trash'></i>".html_safe, '#', |
        id: 'btn-folder-destroy', class: 'btn-folder-index'
      %div
        = link_to "<i class='fa fa-edit'></i> Rename".html_safe, '#', |
        id: 'btn-folder-rename', class: 'btn-folder-index'
      %div
        = link_to "<i class='fa fa-certificate'></i> Default".html_safe, '#', |
        id: 'btn-folder-default', class: 'btn-folder-index'
    
    #folders-action-other
      = link_to "<i class='fa fa-file'></i> New Certificate".html_safe,       |
        (is_sandbox? ? developers_certificate_orders_url : certificates_path), |
        id: 'btn-folder-new-cert', class: 'btn-folder-index-other'
      %br/
      = link_to "<i class='fa fa-gears'></i> Auto Arrange".html_safe, |
        reset_to_system_folders_path(@ssl_slug), method: :put,        |
        id: 'btn-folder-reset-sys', class: 'btn-folder-index-other',  |
        data: { confirm: "This will organize certificates into folders according to SSL.com default settings. Current certificate and folder organization will be overwritten. Proceed?" }
      %br/
      = link_to "<i class='fa fa-reply'></i> Orders".html_safe, |
        certificate_orders_path(@ssl_slug, folders: true),      |
        id: 'btn-folder-certificates', class: 'btn-folder-index-other'
  
  #file-explorer
    #folders-tree
                  
  #folder-forms.hidden
    - folder = Folder.new
    = form_for folder, url: folders_url(@ssl_slug), remote: true, |
      method: :post, data: {type: :json}, html: {id: 'frm-folder-create'} do |f|
      = f.hidden_field :parent_id, value: nil
      = f.hidden_field :name, value: nil

    - url = folder_url(@ssl_slug, '#')
    = form_for folder, url: url, remote: true,                   |
      method: :delete, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-delete'} do |f|
      = f.hidden_field :id, value: nil

    = form_for folder, url: url, remote: true,                |
      method: :put, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-edit'} do |f|
      = f.hidden_field :id, value: nil
      = f.hidden_field :name, value: nil
      = f.hidden_field :parent_id, value: nil
    
    - url = add_certificate_order_folder_url(@ssl_slug, '#')
    = form_for folder, url: url, remote: true,                |
      method: :put, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-add-cert'} do |f|
      = f.text_field :certificate_order_id, value: nil

= render partial: '/folders/folders_index_jstree'
= render partial: '/certificate_orders/index_scripts'