#folders-index
  
  #folders-header
    %p Certificate Explorer
    = text_field_tag :folder_search, nil, id: 'folder-scan'
    = link_to "<i class='fa fa-gears'></i>".html_safe,       |
      reset_to_system_folders_path(@ssl_slug), method: :put, |
      id: 'btn-folder-reset-sys', class: 'btn-folder-index', |
      data: { confirm: "This will organize certificates into folders according to SSL.com default settings. Current certificate and folder organization will be overwritten. Proceed?" }
  %br/
  
  #folders-action
    = link_to "<i class='fa fa-plus'></i> Folder".html_safe, '#', |
      id: 'btn-folder-create-root', class: 'btn-folder-index'
    = link_to "<i class='fa fa-plus'></i> Subfolder".html_safe, '#', |
      id: 'btn-folder-create', class: 'btn-folder-index'
    = link_to "<i class='fa fa-trash'></i>".html_safe, '#', |
      id: 'btn-folder-destroy', class: 'btn-folder-index'
    = link_to "<i class='fa fa-edit'></i> Rename".html_safe, '#', |
      id: 'btn-folder-rename', class: 'btn-folder-index'
    = link_to "<i class='fa fa-certificate'></i> Default".html_safe, '#', |
      id: 'btn-folder-default', class: 'btn-folder-index'
    = link_to "<i class='fa fa-reply'></i> Orders".html_safe, |
      certificate_orders_path(@ssl_slug, folders: true),      |
      id: 'btn-folder-certificates', class: 'btn-folder-index'
  
  #file-explorer
    #folders-tree
                  
  #folder-forms.hidden
    - folder = Folder.new
    = form_for folder, url: folders_url(@ssl_slug), remote: true, |
      method: :post, data: {type: :json}, html: {id: 'frm-folder-create'} do |f|
      = f.hidden_field :parent_id, value: nil
      = f.hidden_field :name, value: nil

    - url = folder_url(@ssl_slug, '#')
    = form_for folder, url: url, remote: true,                   |
      method: :delete, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-delete'} do |f|
      = f.hidden_field :id, value: nil

    = form_for folder, url: url, remote: true,                |
      method: :put, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-edit'} do |f|
      = f.hidden_field :id, value: nil
      = f.hidden_field :name, value: nil
      = f.hidden_field :parent_id, value: nil
    
    - url = add_certificate_order_folder_url(@ssl_slug, '#')
    = form_for folder, url: url, remote: true,                |
      method: :put, data: {type: :json, initial_action: url}, |
      html: {id: 'frm-folder-add-cert'} do |f|
      = f.text_field :certificate_order_id, value: nil

= render partial: '/folders/folders_index_jstree.html'
