- system_admin = current_user.is_system_admins?
- if @user.new_record?
  .clearfix.form_input
    = form.label :email, "Email<span class='label_desc'>receives activation</span>".html_safe
    = form.email_field :email, :size=>HTML_TEXT_FIELD_SIZE, required: true
.clearfix.form_input
  - if system_admin || current_user.can_manage_team_users?
    - if @user_accounts_roles 
      .hidden{data: {accounts_roles: @user_accounts_roles.to_json}, id: 'user_account_roles'}
    - scoped_ssl     = @user.ssl_accounts.where('ssl_slug = ? || acct_number = ?', params[:ssl_slug], params[:ssl_slug]).first
    - ssl_label      = system_admin ? 'Ssl Account #' : 'Team(s)'
    - ssl_collection = system_admin ? @user.ssl_accounts : current_user.total_teams_can_manage_users
    - ssl_select     = system_admin && scoped_ssl ? scoped_ssl.id : current_user.default_ssl_account
    = form.label  :ssl_account_ids, ssl_label
    = form.select :ssl_account_ids,
      options_from_collection_for_select(ssl_collection, :id, :get_team_name, ssl_select), {},
      prompt: 'Select Teams',
      multiple: true,
      size: 100,
      required: true
  - else
    = form.hidden_field :ssl_account_ids, value: [current_user.ssl_account.try(:id)]
- unless @user.new_record?
  %br
  .clearfix.form_input
    = form.label  :role_change_type, 'Change Type'
    = form.select :role_change_type, options_for_select(%w{add remove overwrite}, 'overwrite')
.clearfix.form_input
  - role_ids = system_admin ? @user.roles_for_account(scoped_ssl) : @role_ids
  = form.label :role_id, "Role(s)<span class='label_desc'>set permissions</span>".html_safe
  .checkbox_roles
    = collection_check_boxes(:user, :role_ids, User.roles_list_for_user(current_user).order(:name), 
      :id, :name, checked: (role_ids || [Role.get_account_admin_id])) do |r|
      .checkbox_role{id: "role_#{r.object.name}"}
        = r.check_box
        = r.label
      %br
      %br

