-c={}
-c[:description]="#{community_name} issues signed certificates to the following country codes"
-c[:keywords]="ssl ssl.com country code certificate signing request csr export control list"
-c[:title] = "#{community_name} Accepted Country Codes for CSRs"
-c[:header] = "public"
-c.each do |k, v|
  -content_for k, c[k]
%h1=c[:title]
%h2 U.S. Export Control List Compliant Country Codes
.default_container
  %h3 Accepted Country Code Listing
  %p
    #{community_name} complies with US law and therefore accepts the following 2 lettered ISO-3166 country codes. Please
    be sure to use any of the following international country codes in your certificate signing requests (csr)
    that corresponds to the country of origin for the ssl.com certificate registrant.
    =link_to "Click here", "#restricted_list"
    for a list of export restricted countries or scroll to the bottom of this page.
  -countries=Country.all.sort{|a,b|a.name<=>b.name}
  %table#accepted_country_codes(cellpadding="6")
    %thead
      %th Name
      %th ISO Code for CSR
    -countries.select{|ac|Country.accepted_countries.include? ac.iso1_code}.each do |c|
      %tr
        %td.full_name #{c.name}
        %td.iso_3166 #{c.iso1_code}
  %h3#restricted_list
    %a{:name => "restricted_list", :href => "#restricted_list"}
      Restricted Countries Listing
  %p
    The following countries are restricted by US Export restriction laws, therefore #{community_name} cannot issue ssl
    certificates for registrants in the following countries.
  %table#restricted_country_codes(cellpadding="6")
    %thead
      %th Name
      %th ISO Code for CSR
    -countries.select{|bc|Country::BLACKLIST.include? bc.iso1_code}.each do |c|
      %tr
        %td.full_name #{c.name}
        %td.iso_3166 #{c.iso1_code}
