Hello,
#{"\n"}
#{@current_user.login} has invited you to their #{community_name} team.
#{"\n\n"}
#{"\t"}Team:#{"\t"}#{@ssl_account.get_team_name}
#{"\t"}Roles:#{"\t"}#{@invited_user.roles_humanize(@ssl_account).join(', ')}
#{"\n"}Please click the url below to accept this invitation.
#{"\n"}#{@approval_url}
#{"\n"}If the above URL does not work try copying and pasting it into your browser.
If you continue to have problems, please feel free to contact us or #{@current_user.email}.
-expire = @token_expire ? @token_expire.strftime("%b %d, %Y at%l:%M %p") : 72.hours.from_now.strftime("%b %d, %Y at%l:%M %p")
#{"\n"}*Note: this team invitation will expire in about 72 hours or on #{expire}.
#{"\n"}
=render 'support_signature'
