Hello,
#{"\n"}
You have invited #{@invited_user.email} to your #{community_name} team.
#{"\n\n"}
#{"\t"}Team:#{"\t"}#{@ssl_account.get_team_name}
#{"\t"}Roles:#{"\t"}#{@invited_user.roles_humanize(@ssl_account).join(', ')}
#{"\n"}
If you did not authorize this, please notify #{community_name} security at #{support_email}.
#{"\n"}
=render 'support_signature'
