Hello,
#{"\n"}
You have added a new user #{@invited_user.email} to your #{Settings.community_name} account.
#{"\n"}
If you did not authorize this, please notify #{Settings.community_name} security at #{Settings.support_email}.
#{"\n"}
=render 'support_signature'
