Hello,
#{"\n"}
This is confirm user #{@remove_user.email} has been removed from your #{Settings.community_name} account.
#{"\n"}
If you did not authorize this, please notify #{Settings.community_name} security at #{Settings.support_email}.
#{"\n"}
=render 'support_signature'
