Hello,
#{"\n"}
You have been removed from #{community_name} account #{@ssl_account.acct_number}.
#{"\n"}
If you think this is done in error, please notify the account owner at #{@current_user.email}.
#{"\n"}
=render 'support_signature'
