Hello,
#{"\n"}
#{@current_user.login} has just invited you to join #{community_name} and become a member of their #{community_name} #{'team'.pluralize(@invited_teams.count)}.
#{"\n\n"}
-unless @invited_teams.empty?
  -@invited_teams.each do |team|
    #{"\t"}Team:#{"\t"}#{team.get_team_name}
    #{"\t"}Roles:#{"\t"}#{@user.roles_humanize(team).join(', ')}
    #{"\n"}
#{"\n"}
Visit this link to sign up:
#{"\n"}
#{@invite_url}
#{"\n"}
If the above URL does not work try copying and pasting it into your browser.
If you continue to have problems, please feel free to contact us or #{@current_user.email}.
#{"\n"}
=render 'support_signature'
