Hello,
#{"\r\n"}
#{@current_user.login} has just invited you to join SSL.com and become a member of their SSL.com account.
#{"\r\n"}
Visit this link to sign up:
#{"\r\n"}
#{@invite_url}
Thanks,
The #{Settings.community_name} Team
