-content_for :title, "#{Settings.community_name} System Admin Dashboard"
-user ||= current_user
.container
  .row
    .col-sm-2
      = render partial: 'user_profile', locals: { user: user}
    .col-sm-10
      .reseller_registration_select_tier
        %h2 #{Settings.community_name} System Admin Dashboard
        %p
          This is THE Admin screen for #{Settings.community_name}. You have ALMOST limitless powers in the #{Settings.community_name} universe.
          Be careful; with great powers comes great responsibilities (* all functions are audit logged).
      = render partial: 'admin_dashboard', locals: { user: user, ssl_slug: @ssl_slug, ssl_account: ssl_account }