-content_for :title, "#{Settings.community_name} System Admin Dashboard"
-user ||= current_user
.reseller_registration_select_tier
  %h2 #{Settings.community_name} System Admin Dashboard
  %p
    This is THE Admin screen for #{Settings.community_name}. You have ALMOST limitless powers in the #{Settings.community_name} universe.
    Be careful; with great powers comes great responsibilities (* all functions are audit logged).
#dashboard
  %table(cellspacing="0")
    -unless user.last_login_at.blank?
      %caption
        ssl account information for #{user.login} (last logged in #{user.last_login_at.strftime("%b %d, %Y")})
    %tr.heading_row
      %tr.expanded
        %td(colspan="5")
          .certificate_details
            %table(cellspacing="0")
              %tbody
                %tr.alt
                  %th account type
                  %th signup date
                  %th last logged on
                %tr.alt
                  %td system administrator
                  %td=user.created_at.strftime("%b %d, %Y")
                  %td=user.updated_at.strftime("%b %d, %Y")
            %table(cellspacing="0")
              %tbody
                %tr
                  %td(colspan="5")
                    .full_width_box
                      %ul
                        %li
                          %strong
                            login account
                        %li username: #{user.login}
                        %li email: #{user.email}
                        %li account number: #{user.ssl_account.acct_number}
                        %li=link_to 'edit email address', edit_email_users_url
                        %li=link_to 'change password', edit_password_users_url
                    -if ac = user.ssl_account.api_credential
                      .full_width_box
                        %ul
                          %li
                            %strong
                              api credentials
                          %li account key: #{ac.account_key}
                          %li secret key: #{ac.secret_key}
                          %li=link_to "developer tools", developers_certificate_orders_path
                          %li=link_to 'view documentation', "http://docs.sslcomapi.apiary.io/", target: "_new"
            %table(cellspacing="0")
              %tbody
                %tr
                  %td(colspan="5")
                    -unless user.ssl_account.contact.blank?
                      .contact_details_box
                        %ul
                          %li
                            %strong
                              contact
                          -ct = user.ssl_account.contact
                          -unless ct.blank?
                            %li
                              =ct.first_name+" "+ct.last_name
                            -unless ct.po_box.blank?
                              %li
                                =ct.po_box
                            -unless ct.address1.blank?
                              %li
                                =ct.address1
                            -unless ct.address2.blank?
                              %li
                                =ct.address2
                            -unless ct.address3.blank?
                              %li
                                =ct.address3
                            -csp = [ct.city, ct.state, ct.postal_code].reject(&:blank?).join(', ')
                            -unless csp.blank?
                              %li= csp
                            -unless ct.country.blank?
                              %li
                                =ct.country
                            -unless ct.email.blank?
                              %li
                                =ct.email
                            -unless ct.phone.blank?
                              %li
                                =ct.phone
                            %li
                              =link_to 'create/edit contact', edit_ssl_account_url
                          -else
                            none
