-title = "User Management"
-content_for :title, title
-slug_params = {ssl_slug: @ssl_slug}
=render :partial => 'index_scripts'
%div{style: 'display:flex;justify-content:flex-end'}
  #search_bar{style: 'flex-basis:400px;margin:1.5rem;'}
    =form_tag :search_users, :method=>:get do
      username or email or role
      =text_field_tag :search, @search
      =submit_tag 'search'
      .search-hint
        = '*e.g.: role:account_admin'
  %div{style: 'flex-basis:270px;'}
#validations
  %table(cellspacing="0")
    -if will_paginate @users
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @users
    %caption
      =title
      =will_paginate @users
    -unless current_user.is_system_admins?
      %tr
        =link_to 'Invite User', new_managed_user_path(slug_params), class: 'button_blue button_index'
    %tr.heading_row
      %th
      %th.name(scope="col")Username
      %th(scope="col") Email Address
      %th(scope="col") Account Type
      -if current_user.is_system_admins?
        %th(scope="col") Created
        %th(scope="col") Last Login
      %th(scope="col") Status
      - unless current_user.is_system_admins?
        %th(scope="col") Approved
    -@users.each do |u|
      %tr
        %td.dropdown=image_tag('expand.png') unless u==current_user
        %td.name.expandable=u.login
        %td.expandable=u.email
        -if current_user.is_system_admins?
          -type = u.is_affiliate? ? "<strong>affiliate</strong><br />" : ''
          -User.get_user_accounts_roles_names(u).each{|ssl| type << "<strong>#{ssl.first}</strong>: #{ssl.second.join(', ')}<br />"}
          %td.expandable.constrained=type.html_safe
        -else
          -type = "#{u.role_symbols(current_user.ssl_account).join('/')} #{'/affiliate' if u.is_affiliate?}"
          %td.expandable=type
        -if current_user.is_system_admins?
          %td.expandable=u.created_at.strftime("%b %d, %Y")
          %td.expandable=(u.last_login_at.blank?) ? "never" : u.last_login_at.strftime("%b %d, %Y")
        -us, us_class=user_status(u)
        %td.expandable.validation_status_message(class="#{us_class}" colspan="1")=us
        - unless current_user.is_system_admins?
          -as, as_class=ssl_account_status(u, current_user.ssl_account)
          %td.expandable.validation_status_message(class="#{as_class}" colspan="1")=as
      -unless u==current_user
        %tr.hidden.expanded
          %td(colspan="6")
            .certificate_details
              =render "details", u: u
