-title = "Teams"
-will_paginate @teams
-content_for :title, title
#validations
  %table(cellspacing="0")
    -if will_paginate @teams
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @teams
    %caption
      =title
      =will_paginate @teams
    -if permitted_to? :create_team, current_user
      %br
      %tr
        =link_to "+ Create Team (#{current_user.max_teams-current_user.total_teams_owned.count} Remaining)", create_team_user_path(current_user), class: 'button_blue button_index'
    %tr.heading_row
      %th.name(scope="col") Name
      %th(scope="col") Account #
      -unless current_user.is_system_admins?
        %th(scope="col") Default
        %th(scope="col") Roles
      -else
        %th(scope="col") Owner
      %th(scope="col") Funds
      %th(scope="col") Details
      %th(scope="col") Join Date
      -unless current_user.is_system_admins?
        %th(scope="col") Action
    -@teams.each do |t|
      -account_owner = current_user.is_account_owner? t
      -main_account  = current_user.is_main_account? t
      -if permitted_to? :set_default_team, current_user
        -set_default_team = link_to 'set default', set_default_team_user_path(current_user, ssl_account_id: t.id), method: :put
      %tr
        %td
          -unless current_user.is_system_admins?
            =link_to t.get_team_name, switch_default_ssl_account_user_path(current_user.id, ssl_account_id: t.id)
          -else
            =t.get_team_name
        %td=t.acct_number
        -unless current_user.is_system_admins?
          %td= main_account ? "&#10003;".html_safe : (account_owner && set_default_team ? set_default_team : nil)
          %td=current_user.role_symbols(t)
        -else
          %td=link_to(t.get_account_owner.try(:login).shorten(15,false),admin_show_user_path(t.get_account_owner), title: t.get_account_owner.try(:login)) if t.get_account_owner.try(:login)
        %td
          -if current_user.is_system_admins?
            %a{onclick: "adjust_funds_ssl_account('#{t.ssl_slug}','#{t.get_team_name}')"} $#{t.funded_account.try :amount}
          -else
            $#{t.funded_account.try :amount}
        %td
          [
          =link_to "orders", certificate_orders_path(ssl_slug: t.to_slug)
          ][
          =link_to "transactions", orders_path(ssl_slug: t.to_slug)
          ][
          =link_to "validations", validations_path(ssl_slug: t.to_slug)
          ][
          =link_to "users", users_path(ssl_slug: t.to_slug)
          ]
        %td=t.created_at.strftime("%b %d, %Y")
        -unless current_user.is_system_admins?
          %td
            [
            =link_to "view", switch_default_ssl_account_user_path(current_user.id, ssl_account_id: t.id)
            ]
            -unless t.get_account_owner == current_user or current_user.is_system_admins?
              [
              =link_to "leave team", remove_from_account_managed_user_path(current_user, {ssl_slug: t.to_slug, ssl_account_id: t.id}),data:{confirm: "Please confirm you want to leave team #{t.company_name}."}
              ]
