-title = "Teams"
-will_paginate @teams
-content_for :title, title
-system_admins = current_user.is_system_admins?
#validations
  %table(cellspacing="0")
    -if will_paginate @teams
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @teams
    %caption
      =title
      [learn about #{link_to "teams", "https://www.ssl.com/article/introducing-teams-ssl-com-multiuser-accounts/", target: "_blank"}]
      =will_paginate @teams
    -if permitted_to?(:create_team, current_user) and !system_admins
      %br
      %tr
        =link_to "+ Create Team (#{current_user.max_teams-current_user.total_teams_owned.count} Remaining)", create_team_user_path(current_user), class: 'button_blue button_index'
    %tr.heading_row
      %th.name(scope="col") Name
      %th(scope="col") Account #
      -unless system_admins
        %th(scope="col") Default
        %th(scope="col") Roles
      -else
        %th(scope="col") Owner
      %th(scope="col") Funds
      %th(scope="col") Details
      %th(scope="col") Join Date
      -unless system_admins
        %th(scope="col") Action
    -unless @team_invites.nil?
      -@team_invites.each do |t|
        -invite_ssl = SslAccount.find(t[:ssl_account_id])
        %tr
          %td=invite_ssl.get_team_name
          %td=invite_ssl.acct_number
          %td
          %td=current_user.role_symbols(invite_ssl)
          %td
          %td Invited to team. Pending approval...
          %td="<span class='chip'>pending</span>".html_safe
          %td
            =link_to "accept", t[:accept]
            %br
            =link_to "decline", t[:decline], {style: 'color:red;'}
    -@teams.each do |t|
      -account_owner = current_user.is_account_owner? t
      -main_account  = current_user.is_main_account? t
      -if permitted_to? :set_default_team, current_user
        -set_default_team = link_to 'set default', set_default_team_user_path(current_user, ssl_account_id: t.id), method: :put
      %tr
        %td
          -unless system_admins
            =link_to t.get_team_name, switch_default_ssl_account_user_path(current_user.id, ssl_account_id: t.id)
          -else
            =t.get_team_name
        %td=t.acct_number
        -unless system_admins
          %td= main_account ? "&#10003;".html_safe : set_default_team
          %td=current_user.role_symbols(t)
        -else
          %td=link_to(t.get_account_owner.try(:login).shorten(15,false),admin_show_user_path(t.get_account_owner), title: t.get_account_owner.try(:login)) if t.get_account_owner.try(:login)
        %td
          -if system_admins
            %a{style:"cursor: pointer;", onclick: "adjust_funds_ssl_account('#{t.ssl_slug}','#{t.get_team_name}')"} $#{t.funded_account.try :amount}
          -else
            $#{t.funded_account.try :amount}
        %td#team-detail-links
          -permissions = team_index_permissions(current_user, t)
          %div
            -if system_admins || permissions.include?(:orders)
              =link_to "orders (#{t.certificate_orders.count})", certificate_orders_path(ssl_slug: t.to_slug), class: 'btn-team-links'
            -if system_admins || permissions.include?(:transactions)
              =link_to "transactions (#{t.orders.count})", orders_path(ssl_slug: t.to_slug), class: 'btn-team-links'
            -if system_admins || permissions.include?(:validations)
              =link_to "validations (#{t.validations.count})", validations_path(ssl_slug: t.to_slug), class: 'btn-team-links'
            -if system_admins || permissions.include?(:users)
              =link_to "users (#{t.users.count})", users_path(ssl_slug: t.to_slug), class: 'btn-team-links'
          -if system_admins
            %div
              -billing_status = t.billing_monthly? ? 'disable' : 'enable'
              =link_to "#{billing_status} monthly billing", |
                ssl_account_path(ssl_slug: t.to_slug, monthly_billing: true, status: billing_status), |
                method: :put, class: "btn-team-#{billing_status}"
              
              
        %td=t.created_at.strftime("%b %d, %Y")
        -unless system_admins
          %td
            [#{link_to "view", switch_default_ssl_account_user_path(current_user.id, ssl_account_id: t.id)}]
            -unless account_owner || system_admins
              [#{link_to "leave team", leave_team_user_path(current_user, ssl_account_id: t.id), data: {confirm: "Please confirm you want to leave team #{t.get_team_name}."}}]
