#account_status
  .quickbox
    .heading
      %strong Quick Links
    %ul
      - if Folder.show_folders?(current_user)
        %li#lnk-folders-ql
          %i.fa.fa-folder-open
          =link_to "Explorer", folders_path(@ssl_slug), id: "lnk-co-folders"
      -unless is_sandbox?
        %li=link_to 'Buy Certificate', certificates_url
        %li=link_to 'Deposit Funds', allocate_funds_url(ssl_slug: @ssl_slug)
        -if current_page?(orders_url) && ssl_account && permitted_to?(:index, :invoices) && ssl_account.invoices.any?
          %li=link_to 'Invoices', invoices_path(@ssl_slug)
          -if current_user.ssl_account.reseller
            %li
              =link_to 'Certificate Pricing', reseller_tier_url(current_user.ssl_account.reseller.reseller_tier.id)
        -if !current_user.is_system_admins? and (current_user.ssl_account && permitted_to?(:index, :billing_profiles))
          %li=link_to 'Billing Profiles', billing_profiles_path(ssl_slug: @ssl_slug)
        -if permitted_to?(:index, :site_seals)
          %li=link_to "Smart SeaLs", details_site_seals_url
      -if current_user.can_manage_certificates?
        %li=link_to "Certificate Mgmt", admin_index_certificates_path
      %li &nbsp;
      %li Filter Orders:
      -is_test=is_sandbox? ? " is_test:true" : ""
      %li=link_to Certificate.find_by_serial("basic256sslcom").title, search_certificate_orders_path(@ssl_slug, search: "product:basicssl#{is_test}")
      %li=link_to "UCC/SAN SSL", search_certificate_orders_path(@ssl_slug, search: "product:ucc#{is_test}")
      %li=link_to "Premium SSL", search_certificate_orders_path(@ssl_slug, search: "product:premiumssl#{is_test}")
      %li=link_to "Wildcard SSL", search_certificate_orders_path(@ssl_slug, search: "product:wildcard#{is_test}")
      %li=link_to Certificate.find_by_serial("codesigning256sslcom").title, search_certificate_orders_path(@ssl_slug, search: "product:code-signing#{is_test}")
      %li=link_to "EV SSL", search_certificate_orders_path(@ssl_slug, search: "product:ev#{is_test}")
      %li=link_to "EV UCC/SAN SSL", search_certificate_orders_path(@ssl_slug, search: "product:evucc#{is_test}")
      %li=link_to Certificate.find_by_serial("evcodesigning256sslcom").title, search_certificate_orders_path(@ssl_slug, search: "product:ev-code-signing#{is_test}")
      %li=link_to "Physical Tokens", search_certificate_orders_path(@ssl_slug, search: "physical_tokens:in_transit,received,in_possession#{is_test}")
      %li &nbsp;
      %li Developers:
      %li=link_to "Developer Tools", is_sandbox? ? developers_certificate_orders_url : "https://sandbox.ssl.com"
      
      -if current_user.is_system_admins?
        %li=link_to 'Chargebacks', filter_by_state_orders_path(@ssl_slug, "charged_back")
        %li=link_to 'Refunds', filter_by_state_orders_path(@ssl_slug, "fully_refunded")
      
      =render partial: '/tags/popular_tags'
