-unless registrant_fields.organization.blank?
  %li
    organization:
    %ul
      %li #{registrant_fields.organization}
-unless registrant_fields.organization_unit.blank?
  %li
    department:
    %ul
      - registrant_fields.organization_unit.each do |ou|
        %li
          %span{title: ou} #{ou.truncate(26)}
-unless registrant_fields.locality.blank?
  %li
    city:
    %ul
      %li #{registrant_fields.locality}
-unless registrant_fields.state.blank?
  %li
    state:
    %ul
      %li #{registrant_fields.state}
-unless registrant_fields.country.blank?
  %li
    country:
    %ul
      %li #{registrant_fields.country}
