= javascript_include_tag "form.authy"
= stylesheet_link_tag 'form.authy'
= stylesheet_link_tag 'flags.authy'
- certificate = @certificate_order.certificate
=f.fields_for :certificate_contents, @certificate_content do |cc|
  =cc.fields_for :csr, @csr do |csr|
    .subheading
      -if certificate.is_client?
        Certificate Contents
      -else
        Company Details
    %p.description
      Please provide information about the applicant of this certificate. Address and contact information will not be publicly visible
    .clearfix
      %label{:for=>"common_name"}
        -if certificate.is_code_signing?
          *Subject:
        -elsif certificate.is_client?
          *Email Address:
        -else
          *Website:
        %span.label_desc the subject or common name
      -if certificate.is_code_signing?
        =csr.text_field :common_name
      -else
        .displayed_csr_field=@certificate_content.common_name
  =cc.fields_for :registrant, @registrant do |rf|
    -if certificate.requires_company_info?
      -saved_registrants = @certificate_order.ssl_account.saved_registrants
      
      -if saved_registrants.any?
        .clearfix
          -registrants_list = render_saved_registrants(saved_registrants, :with_data)
          %label{for: 'saved_registrant'}
            Saved Registrants:
          =select_tag :saved_contacts, options_for_select(registrants_list, rf.object.parent_id), include_blank: true
          =rf.hidden_field :registrant_type, value: 'organization'
          =rf.hidden_field :parent_id, value: nil, id: 'saved_registrant_id'
          =rf.hidden_field :status, value: rf.object.status, id: 'saved_registrant_status'
      -else
        =rf.hidden_field :registrant_type, value: 'organization'
      
      .clearfix
        %label{for: 'save'}
          Save to Identity Manager:
          %span.label_desc Reuse this identity in future certificates.
        = check_box_tag :save_for_later, 'save', true

      .clearfix
        %label{:for=>"company_name"}
          *Company:
          %span.label_desc organization
        =rf.text_field :company_name
      
      -if certificate.special_fields.try("any?".to_sym)
        -sf_hash = {}
        -certificate.special_fields.each {|sf| sf_hash[sf] = ''}
        -special_fields = rf.object.special_fields
        -special_fields = special_fields.blank? || special_fields.empty? ? sf_hash : special_fields
        =rf.hidden_field :special_fields, value: special_fields
        -special_fields.each do |key, elem|
          .clearfix
            %label{for: "#{key}"}
              ="#{key.humanize}:"
            =rf.text_field key, value: elem
      
      .clearfix
        %label{:for=>"assumed_name"}
          DBA:
          %span.label_desc assumed name
        =rf.text_field :assumed_name
      .clearfix
        %label{:for=>"duns_number"}
          Duns Number:
          %span.label_desc duns and bradstreet number
        =rf.text_field :duns_number
      .clearfix
        %label{:for=>"department"}
          Department:
          %span.label_desc organization unit
        =rf.text_field :department
      .clearfix
        %label{:for=>"po_box"}
          PO Box:
        =rf.text_field :po_box
      .clearfix
        %label{:for=>"address1"}
          *Address 1:
        =rf.text_field :address1
      .clearfix
        %label{:for=>"address2"}
          Address 2:
        =rf.text_field :address2
      .clearfix
        %label{:for=>"address3"}
          Address 3:
        =rf.text_field :address3
      .clearfix
        %label{:for=>"city"}
          *City:
          %span.label_desc city, town, or locality
        =rf.text_field :city
      .clearfix
        %label{:for=>"state"}
          *State:
          %span.label_desc state, province, or county
        =rf.text_field :state
      .clearfix
        %label{:for=>"postal_code"}
          *Postal Code:
          %span.label_desc postal code or zip
        =rf.text_field :postal_code
      .clearfix
        %label{:for=>"country"}
          *Country:
        =rf.select :country, options_for_select(Country::PRIORITY+[""], disabled: [""])+options_for_select(Country.select_options,rf.object.country)
      -if certificate.is_evcs? or certificate.is_ev?
        .clearfix
          %label{:for=>"business_category"}
            *Business Category:
          =rf.select :business_category, options_for_select(Joi::BUSINESS_CATEGORY.values)
        .clearfix
          %label{:for=>"incorporation_city"}
            Registered City:
            %span.label_desc jurisdiction of incorporation city
          =rf.text_field :incorporation_city
        .clearfix
          %label{:for=>"incorporation_state"}
            Registered State:
            %span.label_desc jurisdiction of incorporation state
          =rf.text_field :incorporation_state
        .clearfix
          %label{:for=>"incorporation_country"}
            *Registered Country:
            %span.label_desc jurisdiction of incorporation country
          =rf.select :incorporation_country, options_for_select(Country::PRIORITY+[""], disabled: [""])+options_for_select(Country.select_options,rf.object.incorporation_country)
        .clearfix
          %label{:for=>"company_number"}
            *Registration Number:
            %span.label_desc incorporation number
          =rf.text_field :company_number
    -if %w(ev evcs cs ov).include?(certificate.validation_type) || certificate.is_smime_or_client?
      .subheading Administrative Contact
      %p.description
        This person can perform the validation for the organization
      .clearfix
        %label{:for=>"title"}
          *Title:
        =rf.text_field :title
      .clearfix
        %label{:for=>"first_name"}
          *First Name:
        =rf.text_field :first_name
      .clearfix
        %label{:for=>"last_name"}
          *Last Name:
        =rf.text_field :last_name
      .clearfix
        %label{:for=>"email"}
          *Email Address:
        =rf.text_field :email
      .clearfix
        %label{:for=>"phone"}
          *Phone:
        = select_tag 'authy-countries', nil, name: 'country_code', 'data-show-as': 'number', 'data-value': @registrant.country_code
        =rf.text_field :phone
      -if current_user.is_super_user?
        .clearfix
          %label{for: "phone_number_approved"}
            Approve Phone Number:
          = rf.check_box :phone_number_approved
    -#-if current_user.ssl_account.has_role? 'reseller'
    -#  .clearfix
    -#    %label{:for=>"verified"}
    -#      *Validated:
    -#    =rf.check_box :validation, :confirm=>'Validated checkbox must have been selected in order to proceed.'
    -#    #confirmed_validation
    -#      I confirm that I have completed the validation of this applicant's
    -#      details in accordance with the customer validation requirements specified
    -#      in the Web Host Reseller validation guidelines.
