%li
  organization:
  %ul
    %li #{registrant_fields.organization}
%li
  department:
  %ul
    %li #{registrant_fields.organization_unit}
%li
  city:
  %ul
    %li #{registrant_fields.locality}
%li
  state:
  %ul
    %li #{registrant_fields.state}
%li
  country:
  %ul
    %li #{registrant_fields.country}
