-single ||= false
-co = certificate_order
-certificate_content ||= co.certificate_content
-certificate ||= co.certificate
-if co.is_unused?
  -cn = 'credit - '+certificate.description["certificate_type"]+' certificate'
-else
  -if certificate.is_code_signing? or co.common_name.blank?
    -cn = co.registrant.try(:company_name) || certificate.description["certificate_type"]+' certificate'
  -else
    -cn = co.common_name
-cn = "expired certificate" if co.is_expired_credit?
-cn ||= ""
.subject_column
  %a.common_name(title=cn)
    -test_text = co.is_test ? " (TEST) " : ""
    -if certificate.is_smime_or_client?
      -team_iv = co.get_team_iv
      -if team_iv
        ="#{test_text} #{team_iv ? [team_iv.first_name, team_iv.last_name].join(' ') : nil}"
      -else
        ="#{test_text} #{certificate.title}"
    -else
      =(test_text + (%w(refunded rejected charged_back).include?(co.workflow_state) ? " (#{co.workflow_state.upcase}) " : "") + cn.downcase).shorten(35, false)
  %span.expand_or_view_order
    -if !(single and co.is_expired_credit?) and permitted_to? :index, co
      %a.expand open
    -unless co.is_unused?
      -if permitted_to? :update, co
        %span :
        =link_to certificate_content.issued? ? "download" : "details", certificate_order_path(@ssl_slug, co), :title=>"view order for "+cn
      -unless hide_validation?(co)
        -if permitted_to? :show, co.validation
          %span :
          =link_to "documents", certificate_order_validation_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"view validation status for "+cn
      -if permitted_to? :create, :site_seals
        %span :
        =link_to "seal", certificate_order_site_seal_path(ssl_slug: @ssl_slug, certificate_order_id: co.ref), :title=>"get site seal for "+cn
      -if current_user.is_system_admins? and order=co.orders.first
        %span :
        =link_to "invoice", order_path(@ssl_slug, order), :title=>"transaction information for "+cn
      -u=co.ssl_account.try(:primary_user)
      -unless u.blank?
        -if permitted_to? :admin_manage, u
          %span :
          =link_to "user", admin_show_user_path(u), :title=>"view user #{u.login}"
    -else
      -unless co.is_expired_credit?
        %span :
        =link_to "finish processing", edit_certificate_order_path(@ssl_slug, co), :title=>"finishing processing "+certificate.description["certificate_type"]+' certificate'
