-content_for :title, "Certificate Order Management"
-pagination=will_paginate @certificate_orders, inner_window: 2, outer_window: 1
-show_folders = current_user && Folder.show_folders?(current_user)
=render :partial => 'index_scripts'
#search_bar
  =form_tag :search_certificate_orders, :id=>'search_form', :method=>:get do
    =text_field_tag :search, @search
    =hidden_field_tag :per_page, @per_page
    =button_tag 'Search', :id=>'btn_cert_order_search'
    =button_tag 'Filters', :type=>'button', :id=>'btn_cert_order_filter'

#send_notify.hidden
  =form_tag nil, :id=>'send_notify_form', :method=>:post do
    =hidden_field_tag :certificate_order_ref
    =hidden_field_tag :notify_type
    - if current_user.is_standard? && current_user.ssl_account.epki_registrant
      =hidden_field_tag :is_epki_admin, true
      =hidden_field_tag :send_email_link
      =hidden_field_tag :copy_act_link
    - else
      =hidden_field_tag :is_epki_admin, false

-unless current_user.is_individual_certificate_only?
  =render :partial=>'search_filters'
  =render :partial=>'quick_links'

-if show_folders
  -if show_folders_container?
    =render partial: 'folders/co_index_folders', locals: {container_type: 'expanded'}
  -else
    =render partial: 'folders/co_index_folders', locals: {container_type: 'closed'}

#certificate_orders
  %table(cellspacing="0")
    -unless @certificate_orders.empty?
      %tfoot
        %tr
          %td.wrap_number_rows(colspan='1')
            =select_tag :number_rows,
            options_for_select([[5, 5], [10, 10], [20, 20], [50, 50], [100, 100]], @per_page),
            :class=>'per_page'
          %td.wrap_number_rows
            = button_to 'Export to CSV', download_certificates_path(@certificate_orders.pluck(:id))
          %td
          %td
          %td(colspan='5')
            = pagination

    %caption
      SSL Certificates Management
      = pagination
    %tr.heading_row
      -if show_folders && show_folders_container?
        %th
          %i.fa.fa-folder#co-folder-column
      %td
      %th.name(scope="col")Subject
      - if show_folders
        %th(scope="col") Folder
      %th(scope="col") Status
      %th(scope="col") Order Date
      %th(scope="col") Expires
      %th(scope="col") Action
    -unless @certificate_orders.empty?
      -@certificate_orders.includes(:renewal, :folder, :validation, :ssl_account, :line_items, sub_order_items: :product_variant_item, certificate_contents: {csrs: :signed_certificates}).each do |co| # add :renewal once index is created
        -if co.certificate_content
          -cache([current_user.id,'certificate_orders_list', co.certificate_content.cache_key], expires_in: 24.hours) do
            -cc = co.certificate_content
            -#-cn = (co.is_unused_credit? || cc.csr.blank?) ? nil : cc.csr.common_name
            %tr(alt="#{co.ref}")
              -if show_folders && show_folders_container?
                %td
                  =check_box_tag :folder_add_co, 'yes', false, id: co.ref, class: 'chk-folder-add-co'
              %td.dropdown
                -if !co.is_expired_credit? and permitted_to?(:index, co)
                  =image_tag 'expand.png'
              %td.name
                =render :partial=>'subject_column', :locals=>{certificate_order: co, certificate_content: cc, certificate: co.certificate}
              -if show_folders
                %td.co-folder-name
                  -if co.folder
                    %i.fa.fa-folder-open.icon-co-add-folder{id: co.ref, |
                      data: {folder_id: co.folder.try(:id), folder_name: co.folder.try(:name)}}
                  -else
                    %i.fa.fa-plus.icon-co-add-folder{id: co.ref}
              %td.status_message(class="#{status_class(cc)}")
                #{certificate_order_status(cc, co)}
              %td
                =co.created_at.strftime("%b %d, %Y")
              %td(class="#{expires_on_class(cc,co)}")
                #{expires_on(cc)}
              %td.ssl_action
                #{action(co)}
    -else
      %tr
        -if show_folders && show_folders_container?
          %td(colspan='8')
            There are no Certificate Orders
        -elsif show_folders
          %td(colspan='7')
            There are no Certificate Orders
        -else
          %td(colspan='6')
            There are no Certificate Orders

-if show_folders
  = render partial: '/folders/folder_tree_modal'

#epki_admin_modal.epki_admin_modal
  #epki_admin_modal_content.modal-content
    #epki_admin_modal_header.modal-header
      %span#epki_admin_modal_close.close
        &times;
      %p
        Please choose options
    #epki_admin_modal_body.modal-body
      .method_block.send_email_method.clearfix
        .block_chk
          = check_box_tag 'chk_send_email', true, true, :class => 'chk_method'
        .block_label
          %span.chk_send_label
      .method_block.copy_link_method.clearfix
        .block_chk
          = check_box_tag 'chk_copy_link', true, false, :class => 'chk_method'
        .block_label
          %span View activation link
      #required-field
        * It needs to choose one method at least!
    #epki_admin_modal_footer.modal-footer
      = button_tag 'OK', :type => 'button', :class => 'btn btn-grey btn-ok'

#epki_activation_link_modal.epki_activation_link_modal
  #epki_activation_link_modal_content.modal-content
    #epki_activation_link_modal_header.modal-header
      %span#epki_activation_link_modal_close.close
        &times;
      %p
        Activation Link
    #epki_activation_link_modal_body.modal-body
      .method_block.clearfix
        = text_field_tag :activation_link, '', :readonly => true
        %span.copy_activation_link{:title => 'Clipboard'}
          %i.fa.fa-clipboard
    #epki_activation_link_modal_footer.modal-footer
      = button_tag 'OK', :type => 'button', :class => 'btn btn-grey btn-activation-link-ok'
