-content_for :title, "Certificate Order Management"
=render :partial => 'index_scripts'
#search_bar
  =form_tag :search_certificate_orders, :method=>:get do
    subject or ref#
    =text_field_tag :search, @search
    =submit_tag 'search'
=render :partial=>'quick_links'
#certificate_orders
  %table(cellspacing="0")
    -if will_paginate @certificate_orders
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @certificate_orders
    %caption 
      SSL Certificates Management
      =will_paginate @certificate_orders
    %tr.heading_row
      %td
      %th.name(scope="col")Subject
      %th(scope="col") Status
      %th(scope="col") Order Date
      %th(scope="col") Expires
      %th(scope="col") Action
    -@certificate_orders.each do |co|
      -order=Order.unscoped{co.order}
      -next if order.blank?
      -cc = co.certificate_content
      -next if !co.is_unused_credit? && cc.csr.blank?
      -cn = (co.is_unused_credit? || cc.csr.blank?) ? nil : cc.csr.common_name
      %tr
        %td.dropdown
          -if !co.is_expired_credit? and permitted_to?(:index, co)
            =image_tag 'expand.png'
        %td.name
          =render :partial=>'subject_column', :locals=>{:certificate_order=>co}
        %td.status_message(class="#{status_class(cc)}")
          #{certificate_order_status(cc)}
        %td
          =order.created_at.strftime("%b %d, %Y")
        %td(class="#{expires_on_class(cc)}")
          #{expires_on(cc)}
        %td.ssl_action
          #{action(co)}
      %tr.hidden.expanded
        %td(colspan="6")
          .certificate_details
            =render :partial=>'/certificate_orders/menu', :locals=>{:co=>co}
            =render :partial=>'/certificate_orders/co', :object=>co
            -if permitted_to?(:update, co)
              %table(cellspacing="0")
                %tbody
                  %tr
                    %td(colspan="6")
                      -unless co.is_expired_credit?
                        .certificate_details_box
                          %ul
                            %li
                              %strong certificate contents
                            -unless cc.blank?
                              -if cc.signed_certificate.blank?
                                -if cc.csr.blank?
                                  %li
                                    %em waiting for csr
                                -else
                                  =render partial: "certificate_orders/registrant_fields", object: cc.csr
                              -else
                                =render partial: "certificate_orders/registrant_fields", object: cc.signed_certificate
                                -if (co.certificate_duration(:days).to_i > 1187)
                                  %li &nbsp;
                                  %li
                                    %strong 39 month limit
                                  %li
                                    Please note that since this certificate order has a duration that exceeds the 39 month hard limit set by the CA/Browser
                                    Forum (see #{link_to "https://info.ssl.com/faq-39-month-limit-to-new-certificates-what-you-need-to-know/", "https://info.ssl.com/faq-39-month-limit-to-new-certificates-what-you-need-to-know/"}), this certificate will
                                    expire in 36 months. However, you will be notified 60 days prior to expiration to reissue this certificate free of cost.
                                    A new certificate will then be issued for the remaining duration of the order so that you can continue to benefit from
                                    multi-year discounting while remaining compliant with the CA/Browser Forum requirements.
                            -unless co.is_unused_credit? || !permitted_to?(:show, co)
                              %li=link_to "view certificate details", certificate_order_path(@ssl_slug, co)
                            -if permitted_to?(:show, order)
                              %li=link_to "view order transaction", order_path(@ssl_slug, order)
                            %li.category_border
                            %li
                              %strong for developers
                            %li=link_to "preformatted api strings", developer_certificate_order_path(@ssl_slug, co)
                            %li=link_to "developer tools", developers_certificate_orders_path
                            -if current_user.is_admin?
                              %li
                                .notes_box
                                  =form_for co, :url=>admin_update_certificate_order_url(co) do |f|
                                    %li
                                      %strong notes (viewable only by #{Settings.community_name} team)
                                    %li
                                      =f.text_area :notes, cols: 40, rows: 10
                                .certificate_details_box
                                  %strong audit log
                                  -audits=(co.system_audits.empty? ? "n/a" : "###")+"\n"
                                  -co.system_audits.each do |audit|
                                    -audits << "date: #{audit.created_at}\nuser: #{audit.owner.try :login}\naction: #{audit.action}\n###\n"
                                  =text_area_tag :audits, audits, :size=>"30x10"
                        .certificate_details_box
                          %ul
                            %li
                              %strong contacts
                            -if cc.new?
                              %li
                                %em waiting for csr
                            -else
                              -unless cc.blank? || cc.certificate_contacts.blank?
                                -CertificateContent::CONTACT_ROLES.each do |role|
                                  %li
                                    \#{role}:
                                    -ct = cc.certificate_contacts.detect(&"is_#{role}?".to_sym)
                                    -unless ct.blank?
                                      %ul
                                        %li #{ct.first_name} #{ct.last_name}
                                        %li=link_to "#{ct.email}","mailto:#{ct.email}"
                                    -else
                                      none
                              -unless  cc.blank?
                                %li
                                  =link_to 'create/edit contacts', certificate_content_contacts_url(@ssl_slug, cc)
                        .certificate_details_box
                          %ul
                            -if co.certificate_content.issued? && !co.certificate_content.expired?
                              =render partial: 'download', locals: {co: co}
                            -unless cc.csr.blank? || hide_validation?(co)
                              -if cc.pending_validation?
                                %li
                                  %strong domain validation
                                =render partial: 'validations/dcv', locals: {co: co}
                              -unless co.certificate.is_dv_or_basic?
                                %li
                                  %strong validation documentation
                                -if co.description['validation_level'] == 'Class 1'
                                  %li
                                    %em n/a
                                -else
                                  -unless co.validation.validation_histories.blank?
                                    -co.validation.validation_histories.each do |vh|
                                      %li
                                        =link_to image_tag('preview.png', :class=>'blue_icon'), URI.encode(vh.document_url(:preview)), :rel=>'prettyPhoto'
                                        =link_to image_tag('download.png', :class=>'blue_icon'), URI.encode(vh.document_url), target: "_blank"
                                        =vh.document_file_name.shorten(20, false)
                                  -else
                                    %li
                                      %em none submitted
                                  %li.category_border
                                    -unless cc.blank? || cc.new? || cc.csr_submitted? || cc.info_provided? || co.expired?
                                      -unless co.validation_rules_satisfied? || co.certificate_content.expired?
                                        -ul=link_to 'upload', document_upload_certificate_order_validation_url(certificate_order_id: co.ref)
                                      -unless co.validation.validation_histories.blank?
                                        -m=link_to 'manage', edit_certificate_order_validation_url(certificate_order_id: co.ref)
                                      -s=link_to 'status', certificate_order_validation_url(certificate_order_id: co.ref)
                                      =link_cluster([ul,m,s])
                            -if cn
                              =render partial: 'visit', locals: {cn: cn}
                            -if cc.server_software
                              %li
                                %strong server software
                              %li.category_border
                                #{cc.server_software.title}
                            =render partial: 'shared/small_admin_functions', locals: {co: co}
