-if DEPLOYMENT_CLIENT=~/certassure/i
  = include_stylesheets :certassure
  %link#contact-form-7-css{:href => "https://www.certassure.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.2.1", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#ub_adminbar_general_styles-css{:href => "https://www.certassure.com/wp-content/plugins/ultimate-branding/ultimate-branding-files/modules/custom-admin-bar-files/css/general.css?ver=1.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#ub_favicons_style-css{:href => "https://www.certassure.com/wp-content/plugins/ultimate-branding/ultimate-branding-files/modules/favicons/css/admin.css?ver=1.0.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#parent-style-css{:href => "https://www.certassure.com/wp-content/themes/Divi/style.css?ver=4.2.3", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#child-style-css{:href => "https://www.certassure.com/wp-content/themes/divi_child/style.css?ver=4.2.3", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#divi-fonts-css{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800&subset=latin,latin-ext", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#et-gf-raleway-css{:href => "https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900&subset=latin", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#divi-style-css{:href => "https://www.certassure.com/wp-content/themes/divi_child/style.css?ver=2.3.2", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#et-shortcodes-css-css{:href => "https://www.certassure.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=3.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %link#et-shortcodes-responsive-css-css{:href => "https://www.certassure.com/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=3.0", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "https://www.certassure.com/wp-includes/js/jquery/jquery.js?ver=1.11.2", :type => "text/javascript"}
  %script{:src => "https://www.certassure.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1", :type => "text/javascript"}
  %link{:href => "https://www.certassure.com/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
  %link{:href => "https://www.certassure.com/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
-else
  = include_stylesheets :ssl_com
= include_stylesheets :common
= include_stylesheets :print, media: 'print'
-if current_page?(action: "buy_now") || current_page?(root_path) || current_page?(affiliates_path) || current_page?(details_affiliates_path)
  = include_stylesheets :buy_now
/[if lt IE 8]
  = stylesheet_link_tag "compiled/ie"
/[if IE 8]
  = stylesheet_link_tag "compiled/ie8"
/= javascript_include_tag :defaults
= include_javascripts :shared, :common
-#= javascript_include_tag "//secure.ssl.com/?js" if Rails.env=~/production/i
/[if IE]
  = javascript_include_tag "jquery.bgiframe.pack"
/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
