= stylesheet_link_tag "ssl_com"
= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"
= stylesheet_link_tag "common"
= stylesheet_link_tag "print", media: 'print'
-if current_page?(action: "buy_now") || current_page?(root_path) || current_page?(affiliates_path) || current_page?(details_affiliates_path)
  = stylesheet_link_tag "buy_now"
/[if lt IE 8]
  = stylesheet_link_tag "compiled/ie"
/[if IE 8]
  = stylesheet_link_tag "compiled/ie8"
/= javascript_include_tag :defaults
= javascript_include_tag "shared", "common"
-#= javascript_include_tag "//secure.ssl.com/?js" if in_production_mode?
/[if IE]
  = javascript_include_tag "jquery.bgiframe.pack"
/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"
-if current_page?(action: "generate_cert")
  = javascript_include_tag "https://cdn.jsdelivr.net/npm/node-forge@0.8.1/dist/forge.min.js"
