:javascript
  function change_ext_order_#{co.id}()
  {
    var num = prompt("New external order number?", '');
    window.location = '#{change_ext_order_number_certificate_order_path(@ssl_slug, co)}?num='+encodeURIComponent(num);
  }
-csr=co.csr
-if current_user && current_user.is_admin?
  %li
    %strong admin functions
  -u = co.ssl_account.try(:get_account_owner)
  -ssl_account=co.ssl_account
  -slug_params = {ssl_slug: ssl_account.to_slug}
  %li=link_to "#{ssl_account.to_slug} orders(#{ssl_account.cached_certificate_orders_count})", certificate_orders_path(slug_params)
  %li=link_to "#{ssl_account.to_slug} transactions(#{ssl_account.cached_orders.count})", orders_path(slug_params)
  %li=link_to "#{ssl_account.to_slug} billing profiles(#{ssl_account.billing_profiles.count})", billing_profiles_path(slug_params)
  %li=link_to "#{ssl_account.to_slug} invoices(#{ssl_account.invoices.count})", invoices_path(slug_params)
  -unless u.blank?
    %li=remote_login_link(u)
    %li=link_to 'user dashboard', admin_show_user_path(u)
  -unless co.certificate.is_code_signing?
    -if csr.try(:body)
      -unless co.skip_verification?
        %li=link_to "view dcv url", csr.dcv_url, target: "_blank"
      %li=link_to "#{co.csr.md5_hash}.txt", http_dcv_file_csr_path(@ssl_slug, csr.id), target: "_blank"
  -if co.external_order_number
    %li ext order number: #{co.external_order_number}
  %li=link_to "change ext order number", '#', onclick:  "change_ext_order_#{co.id}()"
  -if co.certificate.is_evcs? || co.certificate.is_client_business?
    %li
      =link_to "add physical token", new_certificate_order_physical_token_path(co)
  -unless co.attestation_certificate.blank?
    %li found attestation: #{co.attestation_certificate.common_name}
