:javascript
  function change_ext_order_#{co.id}()
  {
    var num = prompt("New external order number?", '');
    if (num == null || num=="")
      return;
    else
      window.location = '#{change_ext_order_number_certificate_order_url(co)}?num='+encodeURIComponent(num);
  }
-csr=co.csr
-if current_user && current_user.is_admin?
  %li
    %strong admin functions
  -u = co.ssl_account.get_account_owner
  -unless u.blank?
    %li=remote_login_link(u)
    %li=link_to 'user dashboard', admin_show_user_path(u)
  -if csr.try(:body)
    -unless co.skip_verification?
      %li=link_to "view dcv url", csr.dcv_url, target: "_blank"
    %li=link_to "#{co.csr.md5_hash}.txt", http_dcv_file_csr_path(csr), target: "_blank"
  -if co.external_order_number
    %li ext order number: #{co.external_order_number}
  %li=link_to "change ext order number", '#', onclick:  "change_ext_order_#{co.id}()"
