#forgot_container
  - if controller_name == 'u2fs'
    %p#forgot_username_or_password
      Send code to phone?
      = link_to 'Send SMS', login_otps_path
    %p#forgot_username_or_password
      Use DUO?
      = link_to 'DUO authentication', duo_user_session_path
  - if controller_name == 'otps'
    %p#forgot_username_or_password
      Send code to phone?
      = link_to 'Send SMS with verification code again', login_otps_path
    %p#forgot_username_or_password
      Use security key?
      = link_to 'Use security key', new_u2f_path
    %p#forgot_username_or_password
      Use DUO?
      = link_to 'DUO authentication', duo_user_session_path
