-if current_user.is_admin?
  -make_available = @order.make_available_total
  :javascript
    function revoke_all() {
      var reason = prompt('Reason for revoking all items.', '');
      if (reason == null || reason == '') {
        return;
      } else {
        window.location = '#{revoke_order_url(id: @order.reference_number, revoke_all: true)}'
          + '&revoke_reason=' + encodeURIComponent(reason);
      }
    }
    function refund_reason(return_funds){
      label="Cancel order #{@order.reference_number}";
      if(return_funds==true)
        label+=" and make #{Money.new(make_available).format} available to customer again";
      var reason = prompt(label+"? Reason for refund.", '');
      if (reason == null || reason=="")
        return;
      else
        if(return_funds==true)
          window.location = '#{refund_order_url(id: @order.reference_number, return_funds: true)}&refund_reason='+encodeURIComponent(reason);
        else
          window.location = '#{refund_order_url(id: @order.reference_number, cancel_only: true)}&refund_reason='+encodeURIComponent(reason);
    }

    function change_state(state){
      if(confirm("Are you sure you want to change order to "+state+"?"))
        window.location = '#{change_state_order_url(id: @order.reference_number)}?state='+state;
    }
  - u = @order&.billable&.primary_user
  - ref_merchant = @order&.get_merchant
  %div(style="border: solid 1px red; margin: 5px 0 10px; padding: 5px")
    %table
      %tr
        %td(width="70%")
          %em admin only:
          %ul
            %li=remote_login_link(u)
            %li=link_to 'user dashboard', admin_show_user_path(u)
            -unless @order.charged_back?
              %li=link_to "chargeback order", '#', onclick:  "change_state('charge_back')"
            %li=link_to "revoke ALL items", '#', onclick:  "revoke_all()"
            -unless @order.rejected?
              %li=link_to "reject order", '#', onclick:  "change_state('reject')"
            -else
              %li=link_to "unreject order", '#', onclick:  "change_state('unreject')"
            -if @order.fully_refunded?
              %li=link_to "unrefund order", '#', onclick:  "change_state('unrefund')"
            -else
              %li=link_to "completely cancel order", '#', onclick:  "refund_reason(false)"
              -if @order.amount.cents > 0
                %li=link_to "completely cancel order and make #{Money.new(make_available).format} available to customer", '#', onclick:  "refund_reason(true)"
                -if ref_merchant && %{stripe paypal authnet}.include?(ref_merchant)
                  %br
                    %li
                      -refunded  = @order.get_total_merchant_refunds
                      -link_text = "refund merchant (#{ref_merchant.capitalize}) *refunded: #{Money.new(refunded).format}"
                      =link_to "<strong>#{link_text}</strong>".html_safe, refund_merchant_order_path(@ssl_slug, @order, type: :new)
            %li=link_to "EDIT/UPDATE order", edit_order_path(@ssl_slug, @order)
            
        %td(width="30%")
          %table
            %tr
              %td
                %em audit log
            %tr
              %td
                -audits=(@order.system_audits.empty? ? "n/a" : "###")+"\n"
                -@order.system_audits.includes{owner(User)}.each do |audit|
                  -audits << "date: #{audit.created_at}\nuser: #{audit.owner.try :login}\naction: #{audit.action}\n###\n"
                =text_area_tag :audits, audits, :size=>"30x10"
