-domains_adjustment = order.reprocess_ucc_order? || order.domains_adjustment?
-full_domains_adjust_format = order.get_full_reprocess_format if domains_adjustment
-ia = order.invoice_address

%div#header.alwaysbreak
  %table
    %tr
      %td#header-logo
        =image_tag wicked_pdf_asset_base64('ssl_logo_print.png')
      %td#header-address
        SSL.com
        %br
        3100 Richmond Ave
        %br
        Ste 503
        %br
        Houston, TX, 77098
#sub-header
  %table
    %tr
      %td#bill-to
        %p.font-small-grey Billed To
        -order.invoice_bill_to_str.each do |line|
          =line.strip
          %br
      
      %td#invoice-sum
        %p.font-small-grey Reference Number
        %p#ref-num #{order.reference_number}
        %p.font-small-grey#date Invoice Date
        %p#invoice-date #{order.created_at.strftime('%F')}

        -if ia && !ia.vat.blank?
          %p.font-small-grey#date VAT #
          %p#invoice-date #{ia.vat}
          
      %td#invoice-total
        -cents = order.cents.blank? ? 0 : order.cents
        %p.font-small-grey Invoice Total
        %p#amount
          #{domains_adjustment ? full_domains_adjust_format : Money.new(cents).format}

#line-items
  %table
    %caption
      %p#bg-note
        *Invoice and charges are accurate
        %br
        ="as of #{DateTime.now.strftime('%F %I:%M %p')}."
    %thead
      %tr
        %th Description
        %th Unit Cost
        %th Quantity
        %th Line Total
    %tbody
      -order.cached_certificate_orders.each do |cert|
        %tr
          %td
            .description
              ="#{row_description(cert)} #{@order.get_order_type_label}"
              -if cert.refunded?
                %br/
                %span.refund-item
                  ="*Refunded line item ##{cert.ref}"
            .description-ext
              -order_line_items(cert, nil, :invoice).each do |item|
                -if item.is_a? Array
                  .domain-names
                    =item.join(', ')  
                -else
                  .description-info
                    =item
          %td.unit-price
            #{domains_adjustment ? full_domains_adjust_format : cert.price.format}
          %td.quantity
            #{domains_adjustment ? 1 : cert.line_items.count}
          %td.price
            #{domains_adjustment ? full_domains_adjust_format : Money.new(cert.amount).format}
            -if cert.refunded?
              %br/
              %span.refund-item
                ="-#{Money.new(order.make_available_line(cert)).format}"

%div#line-items-total.nobreak
  %table
    %tr
      %td#subtotal Subtotal
      %td.amount
        -if domains_adjustment
          #{full_domains_adjust_format}
        -else
          #{Money.new(order.cached_certificate_orders.map(&:amount).sum).format}
    -if order.discounts.any?
      %tr
        %td#discount-lbl Discount (#{order.discounts.map(&:label).join(', ')})
        %td#discount-amt -#{order.discount_amount(:items).format}
    -if order.get_funded_account_amount > 0
      %tr
        %td#fund-lbl Funded Account Credit
        %td#fund-amt -#{Money.new(order.get_funded_account_amount).format}
    %tr
      %td#total-lbl Total
      %td#total-amt #{Money.new(order.get_total_merchant_amount).format}
    %tr
      %td#paid-lbl Paid
      %td#paid-amt
        -if domains_adjustment 
          #{Money.new(order.get_paid_reprocess_amount).format}
        -else
          ="-#{Money.new(order.get_total_merchant_amount).format}"
    
    -if order.partially_refunded? || order.fully_refunded?
      %tr
        %td#paid-lbl Refunds
        %td#paid-amt -#{Money.new(order.get_full_refund_amount).format}
    
    %tr#amount-due
      %td#due-lbl Amount Due
      %td#due-amt $0.00
