%div{id: 'header', class: 'alwaysbreak'}
  %table
    %tr
      %td{id: 'header-logo'}
        =image_tag wicked_pdf_asset_base64('ssl_logo_print.png')
      %td{id: 'header-address'}
        SSL.com
        %br
        3100 Richmond Ave
        %br
        Ste 503
        %br
        Houston, TX, 77098
#sub-header
  %table
    %tr
      %td{id: 'bill-to'}
        %p{class: 'font-small-grey'} Billed To
        -order.invoice_bill_to_str.each do |line|
          =line.strip
          %br
      
      %td{id: 'invoice-sum'}
        %p{class: 'font-small-grey'} Reference Number
        %p{id: 'ref-num'} #{order.reference_number}
        %p{class: 'font-small-grey', id: 'date'} Invoice Date
        %p{id: 'invoice-date'} #{order.created_at.strftime('%F')}
      
      %td{id: 'invoice-total'}
        -cents = order.cents.blank? ? 0 : order.cents
        %p{class: 'font-small-grey'} Invoice Total
        %p{id: 'amount'} #{Money.new(cents, 'USD').format}

#line-items
  %table
    %caption
      %p{id: 'bg-note'}
        *Invoice and charges are accurate
        %br
        ="as of #{DateTime.now.strftime('%F %I:%M %p')}."
    %thead
      %tr
        %th Description
        %th Unit Cost
        %th Quantity
        %th Line Total
    %tbody
      -order.certificate_orders.each do |cert|
        %tr
          %td
            .description
              =row_description(cert)
            .description-ext
              -order_line_items(cert, nil, :invoice).each do |item|
                -if item.is_a? Array
                  .domain-names
                    =item.join(', ')  
                -else
                  .description-info
                    =item
          %td.unit-price #{cert.price.format}
          %td.quantity #{cert.line_items.count}
          %td.price #{Money.new(cert.amount, 'USD').format}

%div{id: 'line-items-total', class: 'nobreak'}
  %table
    %tr
      %td{id: 'subtotal'} Subtotal
      %td{class: 'amount'} #{Money.new(order.certificate_orders.map(&:amount).sum).format}
    -if order.discounts.any?
      %tr
        %td{id: 'discount-lbl'} Discount (#{order.discounts.map(&:label).join(', ')})
        %td{id: 'discount-amt'} -#{order.discount_amount(:items).format}
    -if order.get_funded_account_amount > 0
      %tr
        %td{id: 'fund-lbl'} Funded Account Credit
        %td{id: 'fund-amt'} -#{Money.new(order.get_funded_account_amount).format}
    %tr
      %td{id: 'total-lbl'} Total
      %td{id: 'total-amt'} #{Money.new(order.get_total_merchant_amount).format}
    %tr
      %td{id: 'paid-lbl'} Paid
      %td{id: 'paid-amt'} -#{order.get_order_charged.amount.format}
    %tr{id: 'amount-due'}
      %td{id: 'due-lbl'} Amount Due
      %td{id: 'due-amt'} $0.00