.clearfix
  %label{:for=>"has_csr"}
    *Have a #{community_name} account?:
    %span.label_desc create or login into an account
  .radio_choices
    .radio_w_desc.clearfix
      =radio_button_tag :has_account, true
      %span.has_account_container I do and I want to log in now
    .radio_w_desc.clearfix
      =radio_button_tag :has_account, false
      %span.has_account_container I do NOT but I want to create one
#login_section
  =fields_for :user_session, @user_session do |form|
    .subheading Login Information
    .clearfix
      = form.label :login, "*Login<span class='label_desc'>this will be your username</span>".html_safe
      = form.text_field :login
    .clearfix
      = form.label :password, "*Password".html_safe
      = form.password_field :password
#new_user_section
  =fields_for :user, @user do |form|
    .subheading Login Information
    .clearfix
      = form.label :login, "*Login<span class='label_desc'>this will be your username</span>".html_safe
      = form.text_field :login
    .clearfix#email_field
      = form.label :email, "*Email<span class='label_desc'>must be a valid address</span>".html_safe
      = form.text_field :email
    .clearfix
      = form.label :password, "*Password<span class='label_desc'>min. size 8 chars</span>".html_safe
      = form.password_field :password
    .clearfix#password_confirm_field
      = form.label :password_confirmation, "*Password again<span class='label_desc'>type the password again</span>".html_safe
      = form.password_field :password_confirmation
    .clearfix#password_validate_field
      %strong
        *Password requires:
      minimum of 8 characters which must include a minimum of:
      %ul
        %li
          1 lower case letter [a-z] and
        %li
          1 upper case letter [A-Z] and
        %li
          1 numeric character [0-9] and
        %li
          1 special character: #{User::PASSWORD_SPECIAL_CHARS}