-title ||= "Order Details"
#order_details
  %h3.order_results_header
    =title
    -if @order.fully_refunded? || @order.partially_refunded?
      %span.order-refund-status
        #{@order.state.upcase.gsub('_', ' ')}
    =render partial: '/orders/order_transfer'
        
  #order_ref_num 
    reference number:
    %span=h @order.reference_number
  #order_date
    date of order:
    %span=h @order.created_at
  -if @order.is_free?
    #credit_card_number
      payment method:
      %span n/a (free)
  -else
    -unless @order.billing_profile.blank?
      #credit_card_number
        payment method:
        %span=(current_user.is_super_user? ? "#{@order.billing_profile.card_number} #{@order.billing_profile.expiration_month}/#{@order.billing_profile.expiration_year}" : "xxxx-xxxx-xxxx-#{h @order.billing_profile.last_digits}")+" (#{h @order.billing_profile.credit_card})"
      #credit_card_owner
        name on card:
        %span=h @order.billing_profile.full_name
    -else
      #credit_card_number
        payment method:
        -if @order.po_number
          %span purchase order #{@order.po_number}
        -elsif @order.quote_number
          %span quote #{@order.quote_number}
        -elsif @order.notes =~ /#paidviapaypal(\S+)?/
          %span paypal #{$1}
        -elsif @order.deducted_from.try(:reference_number)
          %span=link_to @order.deducted_from.reference_number, order_path(@order.deducted_from)
        -elsif current_user.ssl_account.is_registered_reseller? && !@order.on_payable_invoice?
          %span funded account
        -else
          -if @order.on_payable_invoice? || @order.voided_on_payable_invoice?
            -invoice = @order.invoice
            %span
              %strong
                =link_to "invoice (#{invoice.status})", invoice_path(@ssl_slug, invoice.reference_number)
          -else
            %span=@order.state.humanize.downcase
  =render :partial=>'/funded_accounts/certificate_order_detail'
