-title = 'Transactions'
-content_for :title, title
#search_bar
  =form_tag :search_orders, :method=>:get do
    order #
    =text_field_tag :search, @search
    =submit_tag 'search'
=render :partial=>'/certificate_orders/quick_links'
#certificate_orders
  %table(cellspacing="0")
    -if will_paginate @certificate_orders
      %tfoot
        %tr
          %td(colspan='6')=will_paginate @orders
    %caption
      =title
      =will_paginate @orders
    -if current_user.is_admin?
      %tr
        %td(scope="col" colspan="7" style="color:grey")
          %span Orders Total: #{Money.new(@total_amount).format :with_currency}
          |
          %span Orders Count: #{@total_count}
          |
          %span Deposits Total: #{Money.new(@deposits_amount).format :with_currency}
          |
          %span Deposits Count: #{@deposits_count}
    %tr.heading_row
      %th.name(scope="col") Description
      %th(scope="col" colspan="3") Date
      %th(scope="col") Order #
      %th(scope="col") Amount
    -@orders.each do |o|
      %tr
        -if o.is_reseller_tier?
          %td Reseller Tier #{o.line_items.last.sellable.label} Discounting
        -elsif o.description.blank?
          %td.name=link_to 'nil', order_path(@ssl_slug, o), :title=> "transaction"
        -else
          -qualifier = o.display_state
          %td.name=link_to [qualifier,o.description.shorten(45, false)].join(" "), order_path(@ssl_slug, o), :title=> o.description
        %td(colspan="3")=o.created_at.strftime("%b %d, %Y")
        %td=o.reference_number
        -if o.is_deposit?
          %td=o.final_amount.format :with_currency
        -else
          %td (#{o.final_amount.format :with_currency})
