-certificate ||= @certificate_order.certificate if @certificate_order
-title=new_order_title(certificate)
-content_for :title, title

=order_progress_indicator(2, certificate) if certificate
.reseller_registration_select_tier
  %h3
    =title
    %span(style="float:right; font-size:.6em")
      =link_to("advanced options", checkout_orders_url) if current_page?(new_order_path)
  %p
    Please fill out the (*) required fields #{current_user.blank? ? "below to complete your account registration." : "below."}
    -if current_order.amount.to_s.to_i > 0
      This charge will appear as #{Settings.merchant_name} on your credit card statement.
  =error_messages_for :user, :billing_profile, :credit_card, :object_name => 'transaction'
  =form_for *url_to_new_order do |f|
    -if @certificate_order
      =hidden_field :certificate, :product
      =fields_for @certificate_order do |f|
        =f.hidden_field :server_licenses
        =f.hidden_field :duration
        =f.hidden_field :renewal_id
        =f.fields_for :certificate_contents, @certificate_content do |cert_form|
          =cert_form.text_area :signing_request, :class=>'hidden'
          =cert_form.hidden_field :additional_domains
          =cert_form.hidden_field :server_software_id
    -unless current_user && current_order.amount.to_s.to_i <= 0
      #stylized.deposit_funds_form
        -if current_user && ssl_account
          =render partial: "billing_profiles", locals: {ssl_account: ssl_account}
        -else
          =render partial: "order_login"
          =hidden_field_tag 'logout', 'false', :class => 'u2f_logout'
          =hidden_field_tag 'failed_count', 0, :class => 'failed_count'
          #recaptcha_container.hidden
            =recaptcha_tags(:callback => 'enableSubmitBtn', :expired_callback => 'disableSubmitBtn')
        -if current_order.amount.to_s.to_i > 0
          #billing_section
            #register_card_form{initial_display?}
              .subheading Payment Method
              -unless current_user 
                .paypal.clearfix
                  = label_tag "Paypal"
                  = radio_button_tag :payment_method, "paypal", false
              .credit_card.clearfix
                = label_tag "Credit Card"
                = radio_button_tag :payment_method, "credit_card", true
              #credit_card_form
                =fields_for :billing_profile, @billing_profile do |form|
                  = render :partial => "billing_profiles/form", :locals => { :form => form, only_billing_profile: false }
            -if current_page?(action: 'checkout')
              .subheading Optional Discounting
              .clearfix
                = label_tag :discount_code, "Coupon Code:"
                = text_field_tag(:discount_code.to_s, nil, :class=>"form_row class_billing_profile_"+:security_code.to_s, size: 6)
                = button_tag("click to update price", id: "apply_discount", name: "apply_discount", :type => 'button')
                =# link_to image_tag('question_mark.png'), '#what_is_security_code', :rel => 'prettyPhoto', :id => 'what_is_security_code_link'
            .subheading Total Amount To Charge
            =render :partial => "orders/form", :locals => {:f => f, :object => Order.new}
            -#=link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), :controller => 'paypal_express', :action => 'checkout'
    #button_container
      =render partial: 'shared/prev_next_buttons'
    -if DEPLOYMENT_CLIENT =~ Regexp.new(portal_domain)
      .trust_seal(style="text-align: center;")
        =render 'site/site_seal'
        %a{style: "margin-left: 12px", href: "http://www.bbb.org/houston/business-reviews/internet-services/ssl-com-in-houston-tx-51001755/#bbbonlineclick", title: "SSL.Com BBB Business Review", target: '_blank'}
          %img{alt: "SSL.Com BBB Business Review", src: "//seal-houston.bbb.org/seals/black-seal-200-42-blacktxt-ssl-com-51001755.png", style: "border: 0;"}/
    .waiting_bar.clearfix
      =image_tag('waiting_bar_medium.gif', :id=>'waiting_bar', :style=>'display: none; vertical-align: middle;')
=render :partial => 'orders/index_scripts'
