-if params[:saved_contact]
  -if permitted_to?(:edit, @contact.becomes(Contact))
    .reseller_registration_profile
      %h3 Edit Contact
      =error_messages_for :contact
      -url = {action: :update, ssl_slug: @ssl_slug, id: @contact.id, saved_contact: true}
      -html = {id: 'edit_saved_contact'}
      =form_for @contact.becomes(Contact), url: url, method: :put, html: html do |f|
        #stylized.default_form
          =render 'saved_contact_fields', new_contact: false, filter: false, f: f
        #button_container
          #auto_adjust
            =image_tag "cancel_bl.gif", id: "btn-cancel-contact"
            =image_submit_tag 'bl_submit_button.gif'
    =render partial: '/contacts/index_scripts'
-else
  -content_for :title, "Create Contacts For #{@certificate_order.subject.downcase} (order ref##{@certificate_order.order.reference_number})"
  .reseller_registration_profile
    %h3
      Create Contacts For #{@certificate_order.subject.downcase}
      (order ref# #{link_to @certificate_order.order.reference_number, @certificate_order})
    %p
      Please fill out the required fields below for the Administrative Contact for
      \#{@certificate_order.subject.downcase}. Administrative contacts receive
      all correspondences related to this certificate order including receipts,
      validation requests, status updates, etc.
    =error_messages_for :contact
    =form_for @certificate_content do |f|
      #stylized.default_form
        =f.fields_for :contacts do |c|
          =render 'contact_fields', :f => c
        =link_to_add_fields "add new contact", f, :contacts
      #button_container
        #next_submit=image_submit_tag "bl_submit_button.gif"