-content_for :title, "Create Contacts For #{@certificate_order.subject.downcase} (order ref##{@certificate_order.ref})"
-pos=@certificate_order.certificate.admin_submit_csr? ? 2 : (skip_payment? ? 3 : 4)
=order_progress_indicator(pos, @certificate_order.certificate) if @certificate_content.info_provided?
.reseller_registration_profile
  %h3
    Create Contacts For #{@certificate_order.subject.downcase}
    (order ref##{@certificate_order.ref})
  %p
    Please provide point of contacts
    -if @certificate_order.subject
      for #{@certificate_order.subject.downcase}.
    -partial = Contact.optional_contacts? ? 'optional' : 'required'
    #opt_contacts_container
      =render partial: "/contacts/index_#{partial}"
=render partial: "/contacts/index_scripts#{partial=='optional' ? '_optional' : ''}"
