-content_for :title, "Create Contacts For #{@certificate_order.subject.downcase} (order ref##{@certificate_order.ref})"
-pos=@certificate_order.certificate.admin_submit_csr? ? 2 : (skip_payment? ? 3 : 4)
=order_progress_indicator(pos, @certificate_order.certificate) if @certificate_content.info_provided?
.reseller_registration_profile
  %h3
    Create Contacts For #{@certificate_order.subject.downcase}
    (order ref##{@certificate_order.ref})
  %p
    Please provide point of contacts
    -if @certificate_order.subject
      for #{@certificate_order.subject.downcase}
  =error_messages_for :certificate_content
  =form_for setup_certificate_contacts(@certificate_content), url: certificate_content_path(@ssl_slug, @certificate_content) do |f|
    #stylized.default_form
      -i = 0
      =f.fields_for :certificate_contacts, @certificate_content.contacts_for_form.compact do |c|
        -role=c.object.roles.last
        -i+=1
        =render :partial=>"/contacts/#{role}_contact", :locals=>{:f=>f}
        %div(id="certificate_content_#{role}_form")
          =render_contact_fields(c, role)
    #button_container
      #auto_adjust
        -if @certificate_content.info_provided?
          =image_tag "cancel_bl.gif", id: "start_over"
        =image_submit_tag "bl_submit_button.gif"
=render :partial => '/contacts/index_scripts'