-if @all_contacts
  -will_paginate @all_contacts
  #validations
    %h3 Saved Contacts and Registrants
    %table{cellspacing: '0'}
      -if will_paginate @all_contacts
        %tfoot
          %tr
            %td(colspan='6')=will_paginate @all_contacts
      -if permitted_to?(:create, Contact.new)
        %br
        %tr
          =link_to "+ Create Contact", new_contact_path(saved_contact: true), class: 'button_blue button_index'
      %tr.heading_row
        %th Name
        %th Company
        %th Default
        %th{colspan: 4} 
          Default Notifications
          %br
          Administrative | Billing | Technical | Validation
        %th Type
        %th{colspan: 3} Actions
      -@all_contacts.each do |c|
        -reg_type = c.registrant_type
        -f_name = c.first_name
        -l_name = c.last_name
        %tr
          %td= f_name.blank? && l_name.blank? ? '' : "#{l_name}, #{f_name}"
          %td #{c.company_name}
          %td #{c.saved_default ? "&#x2713;".html_safe : ''}
          -if c.type=='CertificateContact'
            %td=check_box_tag :administrative, 'yes', (c.roles.include?('administrative')), disabled: true
            %td=check_box_tag :billing, 'yes', (c.roles.include?('billing')), disabled: true
            %td=check_box_tag :technical, 'yes', (c.roles.include?('technical')), disabled: true
            %td=check_box_tag :validation, 'yes', (c.roles.include?('validation')), disabled: true
          -else
            %td{colspan: 4}
          %td
            %strong
              #{c.type=='Registrant' ? c.type : 'Contact'}
          %td=link_to "view", contact_path(@ssl_slug, c.id, saved_contact: true)
          - if permitted_to?(:edit, c.becomes(Contact))
            %td=link_to "edit", edit_contact_path(@ssl_slug, c.id, saved_contact: true)
            -if c.saved_default
              %td
            -else
              %td=link_to "delete", contact_path(@ssl_slug, c.id, saved_contact: true), method: :delete, |
          data: {confirm: 'Are you sure you want to delete this contact?'}
