<script type="text/javascript">
  jQuery.noConflict();
  jQuery(function ($) {
    $.checkDomain = function(str) {
      var asterisk_counts = (str.match(/\*/g) || []).length;
      if (asterisk_counts == 0) {
        var ip_address_pattern = /\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/;
        return psl.isValid(str) || ip_address_pattern.test(str);
      } else if (asterisk_counts == 1) {
        return psl.isValid(str.substr(2));
      } else if (asterisk_counts > 1) {
        return false;
      }
    };

    $.redirect_to = function(url) {
      var redirect_message_wrap = $('<div></div>');
      redirect_message_wrap.attr('class', 'redirect_message_wrap');

      var redirect_message = $('<div></div>');
      redirect_message.attr('class', 'redirect_message');

      var span = $('<span></span>');
      span.append('Domain has been validated. \n');
      span.append('Redirecting to your domain list now ...');

      redirect_message.append(span);
      redirect_message_wrap.append(redirect_message);
      redirect_message_wrap.insertBefore($('#header'));

      var delay = 1000;
      window.setTimeout(function() {
        $('body').removeClass('no_scroll_y');
        window.location.href = url;
      }, delay);
    }

    $(document).ready(function () {
      $('#number_rows').change(function() {
        $('#per_page').val($(this).val());
        $('#search_form').submit();
      });

      $.checkDomain = function(str) {
        var asterisk_counts = (str.match(/\*/g) || []).length;
        if (asterisk_counts == 0) {
          return psl.isValid(str);
        } else if (asterisk_counts == 1) {
          return psl.isValid(str.substr(2));
        } else if (asterisk_counts > 1) {
          return false;
        }
      };

      $('#d_name_action_add').on('click', function() {
        $('#domain_modal_body').removeClass('error-invalid');
        $('.btn-save-domains').prop('disabled', true);
        $('#domain_names').val('');

        $('#domain_modal').show();
      });

      $(document).on('click', '#domain_modal_close', function() {
        $('#domain_modal').hide();
      });

      $(document).on('keyup', '#domain_names', function(e) {
        e.preventDefault();

        var domains_str = $(this).val();
        var is_validated = true;

        if ($.trim(domains_str) != '') {
          var domains = domains_str.split(/\s/).filter(Boolean);
          $.each(domains, function(key, value) {
            if ($.trim(value) != '' && !$.checkDomain(value)) {
              $('#domain_modal_body').addClass('error-invalid');

              is_validated = false;
              return false;
            }
          });
        }

        if (is_validated) {
          $('#domain_modal_body').removeClass('error-invalid');
          $('.btn-save-domains').prop('disabled', false);
        } else {
          $('.btn-save-domains').prop('disabled', true);
        }
      });

      $(document).on('click', '.btn-save-domains', function(e) {
        e.preventDefault();

        var domains_str = $('#domain_names').val();
        $(this).prop('disabled', true);

        var ajax_url = '<%= domains_path%>';

        $.ajax({
          url: ajax_url,
          data: {
            domain_names: domains_str
          },
          type: 'POST',
          success: function(data) {
            $('#domain_modal').hide();

            var children = $('#content').find('.inner').children();
            $.each(children, function(idx, child) {
              if ($(child).hasClass('flash_message')) {
                $(child).remove();
              }
            });

            var domains = data['domains'];
            var domains_status = data['domains_status'];
            var remain_days = data['remain_days'];
            var exist_domains = data['exist_domains'];

            if (exist_domains.length > 0) {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message error');

              var message_element = $('<span></span>');
              var message = exist_domains.join(', ');
              message += " already exist";
              message += exist_domains.length>1 ? "" : "s";
              message_element.append(message);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            }

            if (domains.length > 0) {
              var message_wrap_element = $('<div></div>');
              message_wrap_element.attr('class', 'flash_message notice');

              var message_element = $('<span></span>');
              var domain_names = [];
              $.each(domains, function (key, value) {
                domain_names.push(value.domain.name);
              });
              var message = domain_names.join(', ');
              if (domains.length > 1) {
                message += " have added successfully.";
              } else {
                message += " has added successfully.";
              }
              message_element.append(message);
              message_wrap_element.append(message_element);

              var btn_element = $('<small></small>');
              var close_btn_element = $('<div></div>');
              close_btn_element.attr('class', 'close_flash_message');

              var close_sign_element = $('<span></span>');
              close_sign_element.append('X');

              close_btn_element.append(close_sign_element);
              close_btn_element.append('close');

              btn_element.append(close_btn_element);
              message_wrap_element.append(btn_element);

              message_wrap_element.insertBefore($('#content').find('.inner').children().first());
            }

            $.each(domains, function (key, value) {
              var new_row = "<tr>";
              new_row += "<td><input type='checkbox' name='d_name_check[]' id='d_name_check_" + value.domain.id + "' value='" + value.domain.id + "' class='d_name_check'></td>"
              new_row += "<td>" + value.domain.name + "</td>";

              if (domains_status[value.domain.name] == 'true') {
                new_row += "<td>Team</td><td class='d_name_status'>Validated</td><td>" + remain_days[value.domain.name] + " days remaining</td></tr>";
              } else {
                new_row += "<td>Team</td><td class='d_name_status'><a href='<%=validate_selected_domains_path(@ssl_slug)%>?d_name_check%5B%5D="+ value.domain.id +"'>Pending Validation</a></td><td>n/a</td></tr>";
              }

              $(new_row).insertAfter($(".heading_row"));
            });
          }
        });
      });

      window.onclick = function(event) {
        if (event.target == $('#domain_modal')[0]) {
          $('#domain_modal').hide();
        }
      };

      $('#d_name_action_remove').on('click', function (e) {
        e.preventDefault();
        if(confirm("Are you sure you want remove selected domains?")){
          var action = '<%= remove_selected_domains_path(@ssl_slug)%>';
          var d_ids = [];
          if($('input:checked').length==0) return;
          $.each($('input:checked'), function (key, element) {
            d_ids.push($(element).val());
          });
          $.ajax({
            url: action,
            data: {d_name_check : d_ids},
            type: 'POST',
            success: function (data) {
              var deleted_domains = data['deleted_domains'];
              if(deleted_domains.length>0){
                var message_wrap_element = $('<div></div>');
                message_wrap_element.attr('class', 'flash_message notice');

                var message_element = $('<span>Domains removed successfully</span>');
                message_wrap_element.append(message_element);

                var btn_element = $('<small></small>');
                var close_btn_element = $('<div></div>');
                close_btn_element.attr('class', 'close_flash_message');

                var close_sign_element = $('<span></span>');
                close_sign_element.append('X');

                close_btn_element.append(close_sign_element);
                close_btn_element.append('close');

                btn_element.append(close_btn_element);
                message_wrap_element.append(btn_element);

                var children = $('#content').find('.inner').children();
                $.each(children, function(idx, child) {
                  if ($(child).hasClass('flash_message')) {
                    $(child).remove();
                  }
                });
                message_wrap_element.insertBefore($('#content').find('.inner').children().first());

                $("#d_name_action_remove").prop('disabled', true);
                $("#d_name_action_validate").prop('disabled', true);
                $("#d_name_action_bind").prop('disabled', true);
              }
              $.each(deleted_domains, function (key, value) {
                $('#d_name_check_'+value).closest('tr').remove();
              });
            }
          });
        }
      });

      $(document).on('click', '.d_name_check', function () {
        var checked = $('.d_name_check:checkbox:checked');
        var domainStatuses = [];

        $('.d_name_check:checkbox:checked').each(function () {
          var status = $(this).closest('tr').children('td.d_name_status').text();
          domainStatuses.push(status);
        })

        if (checked.length > 0 && $.inArray(("pending validation"), domainStatuses) >= 0 && $.inArray(("validated"), domainStatuses) >= 0) {
          $("#d_name_action_remove").prop('disabled', false);
          $("#d_name_action_validate").prop('disabled', true);
          $("#d_name_action_bind").prop('disabled', true);
        } else if (checked.length > 0 && $.inArray(("pending validation"), domainStatuses) >= 0) {
          $("#d_name_action_remove").prop('disabled', false);
          $("#d_name_action_validate").prop('disabled', false);
          $("#d_name_action_bind").prop('disabled', false);
        } else if (checked.length > 0 && $.inArray(("validated"), domainStatuses) >= 0) {
          $("#d_name_action_remove").prop('disabled', false);
          $("#d_name_action_validate").prop('disabled', true);
          $("#d_name_action_bind").prop('disabled', true);
        } else if (checked.length == 0) {
          $("#d_name_action_remove").prop('disabled', true);
          $("#d_name_action_validate").prop('disabled', true);
          $("#d_name_action_bind").prop('disabled', true);
        } else {
          $("#d_name_action_remove").prop('disabled', false);
          $("#d_name_action_validate").prop('disabled', false);
          $("#d_name_action_bind").prop('disabled', false);
        }
      });

      $('#btn_domain_filter').click(function() {
        $('#wrap_domain_filter').show();
        $('#btn_domain_search').hide();

        var filterItems = $('#search').val().split(/\s(?=(?:[^']|'[^']*')*$)/);
        $.each(filterItems, function(idx) {
          var filterItem = filterItems[idx];

          if (filterItem.indexOf(':') > 0) {
            var filterKey = filterItem.split(':')[0];
            var filterValue = filterItem.split(':')[1];

            $('#filter_' + filterKey + '_chk').prop('checked', true);

            if (filterKey == 'expired_validation') {
              $('#filter_' + filterKey + '_chk').prop('checked', true);
            }
          }
        });
      });

      $('#btn_close_domain_filter').click(function() {
        $('#wrap_domain_filter').hide();
        $('#btn_domain_search').show();
        $('.filter_chk').prop('checked', false);
      });

      $('#btn_domain_filter_search').click(function() {
        var query = '';

        $('.filter_item').each(function() {
          var isChecked = $(this).find('.filter_chk').prop('checked');

          if (isChecked) {
            if ($(this).find('.filter_chk').prop('id') == 'filter_expired_validation_chk') {
              query += $(this).find('.filter_chk').data('field') + ':true ';
              return;
            }
          }
        });

        $('#search').val(query.trim());
        $('#search_form').submit();
      });

      $.get_selected_options=function(select, type){
        options=[];
        $(select).find(':selected').each(function(c, selected){
          if(type=='text')
            options[c] = $(selected).text();
          else
            options[c] = $(selected).val();
        });
        return options;
      };

      $.method_none_selected=function(methods){
        for(m=0; m<methods.length; m++){
          if(methods[m]=='<%=Validation::NONE_SELECTED%>')
            return true;
        }
        return false;
      };

      <%if @csr%>
      function uploadInstructionsLink(link) {
        return (
          "Upload <a href='"
          + '<%= http_dcv_file_csr_path(@ssl_slug, @csr.id) %>'
          + "' class='lnk-upload-thisfile'>"
          + "THIS FILE</a> to this location: "
          + "<i class='fa fa-external-link fa-ssl-custom'></i>"
          + "<a href='" + link + "' target='_new'>" + link + "</a>"
        );
      }

      $(document).on('change', 'select[id=dcv_methods]', function() {
          var dcv_select=$(this);
          var dt = new Date();
          var time = (dt.getMonth()+1) + "-"
            + dt.getDate() + "-"
            + dt.getFullYear() + " "
            + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
          //prevent other options from being selected if None is selected
          methods=$.get_selected_options(this, 'text');
          if($.method_none_selected(methods)){
            $(this).find(':selected').each(function(c, selected){
              if($(selected).text()!='<%=Validation::NONE_SELECTED%>')
                $(selected).attr('selected', false);
            });
          }

          var domain = $(this).attr("alt");

          //get cert order index
          instruction=$('span[alt="'+$(this).attr('alt')+'"]')[0];
          /*file=$(this).attr("alt").replace("*.", "").toLowerCase()+"/.well-known/pki-validation/"+$('.md5_hash').text()+".txt";*/
          file=domain+"/.well-known/pki-validation/"+$('.md5_hash').text()+".txt";
          https = "https://"+file;
          http = "http://"+file;
          wwwfile=$(this).attr("alt").replace("*.", "www.").toLowerCase()+"/.well-known/pki-validation/"+$('.md5_hash').text()+".txt";
          wwwhttps = "https://"+wwwfile;
          wwwhttp = "http://"+wwwfile;
          cname = $('.dns_md5_hash').text()+"."+domain+" -> "+$('.cname_destination').text();

          if (methods[0] == 'Please select a validation method') {
            $(instruction).html("Please select a validation method");
            $(dcv_select).parent().siblings('td.pretest').html('n/a').css({ background: "white", color:"black" });
            /*$('td.pretest[class~="'+$(dcv_select).attr("alt")+'"]').html("n/a").css({ background: "white", color:"black" });*/
          }
          else if(/@/.test(methods[0])){
            $(instruction).html("Validation instructions will be emailed to "+methods[0]+". Please follow those instructions.");
            $(dcv_select).parent().siblings('td.pretest').html('n/a').css({ background: "white", color:"black" });
            /*$('td.pretest[class~="'+$(dcv_select).attr("alt")+'"]').html("n/a").css({ background: "white", color:"black" });*/
          }
          else if(/https/.test(methods[0])){
            instructions = uploadInstructionsLink(https);
            $(instruction).html(instructions);
            $('#upload_validations').hide();
            $('.domains_loader_wrap').show();

            $.ajax({url: '<%=verification_check_csr_path(@ssl_slug, @csr.id)%>?dcv_protocol=https&selected_csr='+
              $('#selected_csr').val()+'&choose_cn='+$(dcv_select).parents('tr').find('input[id*=d_name_id]').val()}).done(
              function(data){
                if (data) {
                  // Adding Hidden Tag for saving satisfied option.
                  var hiddenElement = $('<input></input>');
                  hiddenElement.attr('type', 'hidden');
                  hiddenElement.attr('name', 'dcv_address[]');
                  hiddenElement.attr('value', $(dcv_select).val());
                  $(dcv_select).parent().append(hiddenElement);

                  // Changing status to "Satisfied"
                  $(dcv_select).parent().siblings('td.status').html('satisfied');

                  // Changing previous attempt to selected validation option
                  $(dcv_select).parent().siblings('td.prev_attempt').html('validated');

                  // Disabled the option
                  $(dcv_select).attr('disabled', true);

                  $('.domains_loader_wrap').hide();

                  // If total domain is ONLY one, disable validate button.
                  if ($('select#dcv_methods:enabled').length == 0) {
                    $('#upload_validations').hide();
                  }
                } else {
                  $('.domains_loader_wrap').hide();
                  $('#upload_validations').show();
                }

                if (data) {
                  $.redirect_to('<%=domains_path(@ssl_slug)%>')
                }

                /*$('td.pretest[class~="'+$(dcv_select).attr("alt")+'"]').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));*/
                $(dcv_select).parent().siblings('td.pretest').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));
              });
          }
          else if(/http/.test(methods[0])){
            instructions = uploadInstructionsLink(http);
            $(instruction).html(instructions);
            $('#upload_validations').hide();
            $('.domains_loader_wrap').show();

            $.ajax({url: '<%=verification_check_csr_path(@ssl_slug, @csr.id)%>?dcv_protocol=http&selected_csr='+
            $('#selected_csr').val()+'&choose_cn='+$(dcv_select).parents('tr').find('input[id*=d_name_id]').val()}).done(
              function(data){
                if (data) {
                  // Adding Hidden Tag for saving satisfied option.
                  var hiddenElement = $('<input></input>');
                  hiddenElement.attr('type', 'hidden');
                  hiddenElement.attr('name', 'dcv_address[]');
                  hiddenElement.attr('value', $(dcv_select).val());
                  $(dcv_select).parent().append(hiddenElement);

                  // Changing status to "Satisfied"
                  $(dcv_select).parent().siblings('td.status').html('satisfied');

                  // Changing previous attempt to selected validation option
                  $(dcv_select).parent().siblings('td.prev_attempt').html('validated');

                  // Disabled the option
                  $(dcv_select).attr('disabled', true);

                  $('.domains_loader_wrap').hide();

                  // If total domain is ONLY one, disable validate button.
                  if ($('select#dcv_methods:enabled').length == 0) {
                    $('#upload_validations').hide();
                  }
                } else {
                  $('.domains_loader_wrap').hide();
                  $('#upload_validations').show();
                }

                if (data) {
                  $.redirect_to('<%=domains_path(@ssl_slug)%>')
                }
                /*$('td.pretest[class~="'+$(dcv_select).attr("alt")+'"]').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));*/
                $(dcv_select).parent().siblings('td.pretest').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));
              });
          }
          else if(/cname/.test(methods[0])){
            $(instruction).html("Create CNAME: "+cname);

            $('#upload_validations').hide();
            $('.domains_loader_wrap').show();
            $.ajax({url: '<%=verification_check_csr_path(@ssl_slug, @csr.id)%>?dcv_protocol=cname&selected_csr='+
            $('#selected_csr').val()+'&choose_cn='+$(dcv_select).parents('tr').find('input[id*=d_name_id]').val()}).done(
              function(data){
                if (data) {
                  // Adding Hidden Tag for saving satisfied option.
                  var hiddenElement = $('<input></input>');
                  hiddenElement.attr('type', 'hidden');
                  hiddenElement.attr('name', 'dcv_address[]');
                  hiddenElement.attr('value', $(dcv_select).val());
                  $(dcv_select).parent().append(hiddenElement);

                  // Changing status to "Satisfied"
                  $(dcv_select).parent().siblings('td.status').html('satisfied');

                  // Changing previous attempt to selected validation option
                  $(dcv_select).parent().siblings('td.prev_attempt').html('validated');

                  // Disabled the option
                  $(dcv_select).attr('disabled', true);

                  $('.domains_loader_wrap').hide();

                  // If total domain is ONLY one, disable validate button.
                  if ($('select#dcv_methods:enabled').length == 0) {
                    $('#upload_validations').hide();
                  }
                } else {
                  $('.domains_loader_wrap').hide();
                  $('#upload_validations').show();
                }

                if (data) {
                  $.redirect_to('<%=domains_path(@ssl_slug)%>')
                }
                /*$('td.pretest[class~="'+$(dcv_select).attr("alt")+'"]').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));*/
                $(dcv_select).parent().siblings('td.pretest').html((data ? "<div class='passed'>passed</div>" : "<div class='failed'>failed</div>"));
              });
          }
          $(instruction).css({ background: "yellow" });
        });

      // Click New button for create new unique value
      $(document).on('click', '.btn_new_unique_value', function() {
        $('.current_unique_value_block').hide();
        $('.btn_new_unique_value').hide();
        $('.new_unique_value').show();
        $('.btn_save_new_unique_value').show();
        $('.btn_cancel_new_unique_value').show();
      });

      // Click Cancel button for new unique value
      $(document).on('click', '.btn_cancel_new_unique_value', function() {
        $('.new_unique_value').hide();
        $('.btn_save_new_unique_value').hide();
        $('.btn_cancel_new_unique_value').hide();
        $('.btn_new_unique_value').show();
        $('.current_unique_value_block').show();
      });

        <%if @csr%>
        // Click Save button for registering new unique value
        $(document).on('click', '.btn_save_new_unique_value', function() {
          var old_value = $('.current_unique_value_block').text().trim();
          var new_value = $('.new_unique_value').val();

          if (old_value != new_value) {
            $.ajax({
              url: '<%=create_new_unique_value_csr_path(@ssl_slug, @csr)%>',
              data: {
                new_unique_value: $('.new_unique_value').val()
              },
              type: "POST",
              success: function (result) {
                if ($.inArray('same', Object.keys(result)) == -1) {
                  $('.cname_destination').html(result['cname_destination']);
                  $('.dns_sha2_hash').html(result['dns_sha2_hash']);
                  $('.current_unique_value_block').html($('.new_unique_value').val());

                  $('.new_unique_value').hide();
                  $('.btn_save_new_unique_value').hide();
                  $('.btn_cancel_new_unique_value').hide();
                  $('.btn_new_unique_value').show();
                  $('.current_unique_value_block').show();
                } else {
                  alert('The same unique value has been already used before. Please use another unique value.');
                }
              }
            });
          } else {
            alert('This unique value is same with current one.');
          }
        });
        <%end%>

        $('select[id=dcv_methods]:enabled').each(function(index, value){
          $(this).change();
        });
      <%end %>
    });
  });
</script>
