-title = 'CDN Resource'
-content_for :title, title
=render :partial => 'index_scripts'
=javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'
=stylesheet_link_tag 'bootstrap_fix', :media => 'all'
-slug_params = {ssl_slug: @ssl_slug}
-active_tab = @results[:active_tab]
-bandwidth = @results[:bandwidth]
-hits = @results[:hits]
-expire_time = @results[:expire_time]
-files = @results[:files]
-locations = @results[:locations]
-if @results[:resource]
  -domain_list = @results[:resource]['custom_domains']
  -origin = @results[:resource]['origin']
  -hostname = @results[:resource]['alias']
  -allow_robots = @results[:resource]['advanced_settings']['allow_robots']
  -cache_query_str = @results[:resource]['advanced_settings']['cache_query_string']
  -enable_cors = @results[:resource]['advanced_settings']['enable_cors']
  -disable_gzip = @results[:resource]['advanced_settings']['disable_gzip']
  -force_ssl = @results[:resource]['advanced_settings']['force_ssl']
  -pull_https = @results[:resource]['advanced_settings']['pull_https']
  -link = @results[:resource]['advanced_settings']['link']
%div.resource-detail
  %div.clearfix
    %ul.nav.nav-tabs
      %li.nav-item
        =link_to 'Resources', cdns_path(slug_params), :class => 'nav-link'
      %li.nav-item
        =link_to 'Overview', '#overview', :class => "nav-link #{active_tab == 'overview' ? 'active' : ''}", 'data-toggle' => 'tab'
      %li.nav-item
        =link_to 'Cache', '#caches', :class => "nav-link #{active_tab == 'caches' ? 'active' : ''}", 'data-toggle' => 'tab'
      %li.nav-item
        =link_to 'Setting', '#settings', :class => "nav-link #{active_tab == 'settings' ? 'active' : ''}", 'data-toggle' => 'tab'
  %div.tab-content.mt-4
    #overview.tab-pane{:class => ('active' if active_tab == 'overview')}
      %div.row
        %div.col-3.bandwidth
          .field-label Bandwidth:
          .field-cont #{number_to_human_size bandwidth}
        %div.col-9.hits
          .field-label Hits:
          .field-cont #{hits}
      %hr
      %div
        .sub-title Popular Locations
        .sub-cont#resource-popular-location-list
          %table(cellspacing="0")
            %tr.heading_row
              %th Location
              %th Bandwidth
              %th Hits
            -if locations && locations.length > 0
              -locations.each_value do |location|
                %tr
                  %td
                    =location['name']
                  %td
                    =number_to_human_size(location['bytes'])
                  %td
                    =location['hits']
            -else
              %tr
                %td(colspan="3")
                  No Stats to display yet
    #caches.tab-pane{:class => ('active' if active_tab == 'caches')}
      %div
        .sub-title Popular Files
        .sub-cont#popular-files
          %table(cellspacing="0")
            %tr.heading_row
              %th Name of Files
              %th Bandwidth
              %th Hits
              %th Purge
            -if files && files.length > 0
              -files.each do |file|
                %tr
                  %td
                    =file['uri']
                  %td
                    =number_to_human_size(file['bytes'])
                  %td
                    =file['hits']
                  %td
                    =button_tag 'Purge', :class=>'btn_purge_file', "data-file" => file['uri']
            -else
              %td(colspan="4" )
                No Stats to display yet.
      %hr
      %div.clearfix
        #purge-files
          .sub-title Purge Files
          .sub-cont
            =form_tag :purge_cache_cdn, :id=>'purge_form', :method=>:delete do
              =hidden_field_tag :api_key, @current_user_api_key
              =hidden_field_tag :purge_all, false
              %div.clearfix
                .field-label Purge Files:
                .field-cont
                  =text_field_tag :purge_files
              =submit_tag 'Go', :class => 'mr-3'
              =submit_tag 'Purge All', id: 'purge_all_btn'
        #cache-expiry
          .sub-title Cache Expiry
          .sub-cont
            =form_tag :update_cache_expiry_cdn, :method=>:post do
              =hidden_field_tag :api_key, @current_user_api_key
              %div.clearfix
                .field-label Cache Expiry(set hours):
                .field-cont
                  =number_field_tag :expiry_hours, expire_time
              =submit_tag 'Update'
    #settings.tab-pane.clearfix{:class => ('active' if active_tab == 'settings')}
      #resource-info
        #resource-general
          .sub-title General Settings
          .sub-cont
            =form_tag :update_resource_cdn, :method=>:patch do
              =hidden_field_tag :api_key, @current_user_api_key
              %div.reg-resource.clearfix
                .field-label Resource Origin:
                .field-cont
                  =text_field_tag :resource_origin, origin
                  .note
                    Which website should we mirror on the CDN?
              %div.reg-resource.resource-name.clearfix
                .field-label Resource Name:
                .field-cont
                  =text_field_tag :resource_name, hostname
                  %span .a.cdnify.io
                  .note
                    Something to identify this resource by (e.g. mysite.a.cdnify.io)
              =submit_tag 'Update', :id=>'btn_update_resource'
        %hr
        #resource-add-custom-domain
          .sub-title Add A Custom Domain
          .sub-cont
            =form_tag :add_custom_domain_cdn, :method=>:post do
              =hidden_field_tag :api_key, @current_user_api_key
              %div.reg-resource.clearfix
                .field-label Host Name:
                .field-cont
                  =text_field_tag :custom_domain
                  .note
                    Be sure Host Name points to Resource Name in CNAME
              -#%div.reg-resource.clearfix
              -#  .field-label Certificate:
              -#  .field-cont
              -#    =text_area_tag :certificate_value, nil, rows: 5, cols: 37
              -#%div.reg-resource.clearfix
              -#  .field-label Private Key:
              -#  .field-cont
              -#    =text_area_tag :private_key, nil, rows: 5, cols: 37
              =submit_tag 'Create', :id=>'btn_add_custom_domain'
        %hr
        %div
          .sub-title Custom Domain List with Optional SSL/TLS
          .sub-cont#resource-custom-domain-list
            %table(cellspacing="0")
              %tr.heading_row
                %th Domain Name
                %th Created
                %th Validation Status
                %th
                %th
              -if domain_list && domain_list.length > 0
                -domain_list.each do |domain|
                  %tr
                    %td
                      =domain['hostname']
                    %td
                      =DateTime.parse(domain['created_at']).strftime('%d/%m/%Y')
                    %td
                      -if domain['valid_to']
                        SSL valid to
                        =DateTime.parse(domain['valid_to']['date']).strftime('%d/%m/%Y')
                      -else
                        -if domain['certificate_validation_pending']
                          Pending
                        -else
                          N/A
                    %td
                      -if !domain['valid_to'] && !domain['certificate_validation_pending']
                        =link_to 'Delete', nil, :class => 'custom-domain-delete-link', 'data-hostname' => domain['hostname']
                    %td
                      -if domain['valid_to'] && !domain['certificate_validation_pending']
                        =link_to 'Delete', nil, :class => 'custom-domain-delete-link', 'data-hostname' => domain['hostname']
                      -elsif !domain['valid_to'] && !domain['certificate_validation_pending']
                        =link_to 'Edit SSL', nil, :class => 'custom-domain-modal-link', 'data-hostname' => domain['hostname'], 'data-ref' => domain['ref'], 'data-resourcename' => hostname
              -else
                %tr
                  %td(colspan="5")
                    There are no custom domains.
      #resource-setting
        #advanced-setting
          .sub-title Advanced Setting
          .sub-cont
            =form_tag :update_advanced_setting_cdn, :method=>:post do
              =hidden_field_tag :api_key, @current_user_api_key
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :allow_robots, true, allow_robots
                .field-setting-label
                  Stop robots from indexing your resource on the CDN?
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :cache_query_string, true, cache_query_str
                .field-setting-label
                  Do not cache URLs with arguments separately
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :enable_cors, true, enable_cors
                .field-setting-label
                  Enable CORS headers?
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :disable_gzip, true, disable_gzip
                .field-setting-label
                  Disable GZIP compression?
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :force_ssl, true, force_ssl
                .field-setting-label
                  Force SSL pull from origin?
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :pull_https, true, pull_https
                .field-setting-label
                  Force assets to be pulled via https?
              %div.reg-resource.clearfix
                .field-setting-event
                  =check_box_tag :link, true, link
                .field-setting-label
                  Add an canonical link to your assets?
              =submit_tag 'Save', :id=>'btn_save_advanced_setting'
        %hr
        #delete-resource
          .sub-title Delete This Resource
          .sub-cont
            =form_tag :delete_resource_cdn, :method=>:delete do
              =hidden_field_tag :api_key, @current_user_api_key
              %div.field-note
                Deleting a resource cannot be undone. Before continuing make sure you are certain.
              =submit_tag 'Delete', :id=>'btn_delete_resource'
      %div.modal#custom-domain-modal
        %div.modal-dialog
          %div.modal-content
            %div.modal-header
              %h4.modal-title#modal-label Configure SSL
              %button.close{:type => 'button', 'data-dismiss' => 'modal'}
                #span &times
            %div.modal-body
              -#%div.modal-note
              -#  Please paste in the certificate and private key provided to you by your SSL certificate issuer.
              -#%hr
              %div.container-fluid
                %div.row
                  %div.col-md-3.col-sm-3.col-lg-3
                  %div.col-md-6.col-sm-6.col-lg-5
                    Generate and install SSL
                  %div.col-md-3.col-sm-3.col-lg-4
                    =check_box_tag :generate_install_ssl_chk, false
              %hr.gen-install-ssl-divider
              %div.container-fluid
                =form_tag :update_custom_domain_cdn, :id=>'custom_domain_modal_form' do
                  =hidden_field_tag :api_key, @current_user_api_key
                  =hidden_field_tag :host_name
                  =hidden_field_tag :custom_domain_ref
                  =hidden_field_tag :action_type, 'modify'
                  =hidden_field_tag :generate_type, 'manual'
                  %div.row
                    %div.col-md-4.col-sm-4.col-lg-3
                      Certificate
                    %div.col-md-8.col-sm-8.col-lg-9
                      =text_area_tag :certificate_value, nil, rows: 5, cols: 37
                  %div.row
                    %div.col-md-4.col-sm-4.col-lg-3
                      Private Key
                    %div.col-md-8.col-sm-8.col-lg-9
                      =text_area_tag :private_key, nil, rows: 5, cols: 37
            %div.modal-footer
              %div.container-fluid
                %div.row
                  %div.col-4
                    =button_tag 'Delete Host Name', 'class ' => 'delete-custom-domain', 'type' => 'button'
                  %div.col-8
                    =button_tag 'Save', 'class' => 'modify-custom-domain float-right', 'type' => 'button', 'disabled' => 'disabled'
                    =button_tag 'Cancel', 'class' => 'cancel-custom-domain float-right mr-1', 'data-dismiss' => 'modal', 'type' => 'button'
