- if @team_tags.any?
  - cert_orders = controller_name == 'certificate_orders'
  - search_filter = cert_orders ? 'co_tags' : 'order_tags'
  - current_tags = Tag.filter_popular_tags(@team_tags, (cert_orders ? :cert_orders : :order))

  - if current_tags.any?
    %li &nbsp;
    %li
      %i.fa.fa-tags
      Popular Tags:
    - current_tags.first(5).each do |tag|
      %li
        = link_to "#{tag.get_name_format} <span>#{tag.taggings_count}</span>".html_safe,           |
          eval("search_#{controller_name}_path(@ssl_slug, search: '#{search_filter}:#{tag.id}')"), |
          class: 'lnk-popular-tags'
