- if @team_tags.try("any?".to_sym)
  - cert_orders = controller_name == 'certificate_orders'
  - current_tags = Tag.filter_popular_tags(@team_tags, (cert_orders ? :cert_orders : :order))

  - if current_tags.any?
    %li &nbsp;
    %li
      %i.fa.fa-tags
      Popular Tags:
    - current_tags.first(6).each do |tag|
      %li
        - search = cert_orders ? "co_tags:'#{tag.name}' cc_tags:'#{tag.name}'" : "order_tags:'#{tag.name}'"
        = link_to "#{tag.get_name_format} <span>#{tag.taggings_count}</span>".html_safe, |
          eval("search_#{controller_name}_path(@ssl_slug, search: \"#{search}\")"),      |
          class: 'lnk-popular-tags'
