:css
  ##{co.site_seal.ref}sslcomsealreportVisible:checked + ##{co.site_seal.ref}sslcomsealoverlay
  {display:block!important;}
%label{:for => "#{co.site_seal.ref}sslcomsealreportVisible", :style => "cursor:pointer;"}
  =image_tag(image_url("ssl_seal_1#{'_ev' if co.certificate.is_ev?}.png", false), width: "130px")
%input{:id=>"#{co.site_seal.ref}sslcomsealreportVisible", :style => "display:none;", :type => "checkbox"}
%div{:id=>"#{co.site_seal.ref}sslcomsealoverlay", :style => "position:fixed;height:95%;max-height:600px;width:400px;top:50%;left:50%;text-align:center;z-index:99999;transform:translate(-50%,-50%);border:solid 3px #000;border-radius:3px;padding-bottom:20px;display:none;"}
  %div{:style => "background:#000;color:#FFF;height:20px;text-align:right;padding-right:5px;"}
    %label{:for => "#{co.site_seal.ref}sslcomsealreportVisible", :style => "cursor:pointer;"} X
  %iframe{:seamless => "", :src => "#{site_report_site_seal_path(@ssl_slug, co.site_seal)}", :style => "border:none;height:100%;width:100%;"}
