-cache(SiteSeal::REPORT_CACHE_KEY+@site_seal.id.to_s, expires_in: 1.hour) do
  -ss = @site_seal
  -co = ss.latest_certificate_order
  -r = co.certificate_content.registrant
  -title = "#{community_name} Secured Site Report for #{co.display_subject}"
  -content_for :title, title
  #wrapper
    =render 'report_header'
    %div
      %dl
        %dt.section_header
          report generated for site#{'s' if co.display_subject=~/,/}
        %dd=co.display_subject
    -if ss.has_artifacts?
      %div
        %dl
          %dt.section_header verified and/or supplied documents
          %dd=link_to image_tag('b_icon_c.gif', :class=>"report_icon")+'click here to view documents', artifacts_site_seal_url(co.site_seal)
    %div
      %dl
        %dt.section_header ssl certificate status
        %dd
          -cos, coc = certificate_status(co)
          %span(class=coc)=cos
    -if r
      %div
        %dl
          %dt.section_header company/organization
          %dd=r.company_name
          %dd=[r.city, r.state, r.country].join(", ")
    %div
      %dl
        %dt.section_header site owner
        %dd
          This Web site can secure your private information using an #{community_name} issued SSL
          Certificate. Information exchanged with any address beginning with https is
          encrypted using SSL before transmission.
    -if r && (co.certificate_content.validated? || co.certificate_content.issued?) && !co.csr.signed_certificate.try("is_dv?".to_sym)
      %div
        %dl
          %dt.section_header identity verified
          %dd
            \#{r.company_name.upcase} has been verified as the owner or operator of the Web site
            located at #{co.subject}. Official records confirm #{r.company_name.upcase} as a
            valid business.
    -if ss.ref == "4d2b52fe-4fa91538"
      %div
        %dl
          %dt.section_header certificate validation warranty
          %dd
            $150,000
