-line_item_certs=@order.certificate_orders.select{|co|co.certificate==cert.certificate}
%tr.line_item
  %td.description
    =row_description(cert)
    %ul
      -line_item_certs.each do |co|
        -if current_user.is_admin?
          :javascript
            function refund_reason_#{co.id}(return_funds)
            {
              label="Cancel item #{co.subject} (#{co.ref})";
              if(return_funds==true)
                label+=" and make #{cert.price.format} available to customer again";
              var reason = prompt(label+"? Reason for refund.", '');
              if (reason == null || reason=="")
                return;
              else
                if(return_funds==true)
                  window.location = '#{refund_order_url(id: @order.reference_number, return_funds: true, partial: co.ref)}&refund_reason='+encodeURIComponent(reason);
                else
                  window.location = '#{refund_order_url(id: @order.reference_number, partial: co.ref)}&refund_reason='+encodeURIComponent(reason);
            }
        %li
          =link_to("#{co.subject} (#{co.ref})", certificate_order_path(@ssl_slug, co))
          -if current_user.is_admin? && line_item_certs.count > 1
            =link_to("[cancel]", '#', onclick:  "refund_reason_#{co.id}(false)")
            -if cert.price.cents > 0
              =link_to("[credit #{cert.price.format}]", '#', onclick:  "refund_reason_#{co.id}(true)")
  %td.quantity
    =line_item_certs.count
  %td.price= cert.price.format
-if cert.migrated_from_v2? && !cert.v2_line_items.empty?
  -cert.v2_line_items.each do |item|
    %tr.line_item
      %td.description.subitem= item
      %td(colspan='2')
=render partial: "funded_accounts/row", locals: {cert: cert, colspan: '2'}


