-line_item_certs=@order.certificate_orders.select{|co|co.certificate==cert.certificate}
%tr.line_item
  %td.description
    =row_description(cert)
    %ul
      -line_item_certs.each do |co|
        %li
          =link_to("#{co.subject} (#{co.ref})", co)
          =link_to("[cancel]", refund_order_url(@order, partial: co.ref), confirm: "Cancel item #{co.ref}?")
          =link_to("[credit #{cert.price.format}]", refund_order_url(@order, return_funds: true, partial: co.ref), confirm: "Cancel item #{co.ref} and make #{cert.price.format} available to customer again?")
  %td.quantity
    =line_item_certs.count
  %td.price= cert.price.format
-if cert.migrated_from_v2? && !cert.v2_line_items.empty?
  -cert.v2_line_items.each do |item|
    %tr.line_item
      %td.description.subitem= item
      %td(colspan='2')
=render partial: "funded_accounts/row", locals: {cert: cert, colspan: '2'}


