-cert ||= @certificate_order ? [@certificate_order] : @certificate_orders
-order ||= @order || current_order
%table#order_details_section(class="#{order.receipt ? 'receipt' : ''}")
  %tbody
    -unless cert.blank?
      %tr#heading_row
        %th.index(scope='col')
        %th.description(scope='col') DESCRIPTION
        %th.quantity(scope='col') QUANTITY
        %th.price(scope='col') PRICE
      =render :partial=>'/funded_accounts/certificate_order_row', :collection=>cert, :as=>:cert
      %tr.order-divider
        %td{colspan: '4'}
      %tr.order-subtotal
        %td.description.total_row{colspan: '3'} Subtotal:
        %td.price.total_row
          #{Money.new(order.certificate_orders.map(&:amount).sum).format}
      -if order.discounts.any?
        %tr.order-discount
          %td.description.total_row{colspan: '3'}
            ="#{order.discounts.map(&:label).join(', ').capitalize}:"
          %td.price.total_row -#{order.discount_amount(:items).format}
      -if order.get_funded_account_amount > 0
        %tr.order-funded
          %td.description.total_row{colspan: '3'} Funded Account Credit:
          %td.price.total_row -#{Money.new(order.get_funded_account_amount).format}
    %tr.order-total
      %td.description.total_row{colspan: '3'} Total:
      %td.price.total_row
        #{Money.new(order.get_total_merchant_amount).format}
