%h3
  Phone number
#stylized.default_form
  .settings_block
    .u2f_block.u2f_info
      = form_for current_user, remote: true do |f|
        .u2f_device_info_block.clearfix
          .u2f_device_info
            = country_select_field_for f, 'country', Country.all, { selected: current_user.country}
          .u2f_device_info
            %label{ for: "phone" } Contact Number
            .input-group
              = text_field_tag 'user[phone]', current_user.phone, class: 'form-control'
            %span.clearfix
              We will send you a code via SMS on this number
            %span.clearfix
              #phone-error
      = button_tag current_user.phone_verified? ? 'Save' : 'Save and Confirm number', type: 'submit', id: 'submit_phone_verification'

      .hidden#code-verification-fields
        .u2f_device_info_block.clearfix
          = text_field_tag 'otp_verification_code', nil, class: "form-control", autofocus: true
          %span Enter verification code from SMS
          %span.clearfix
            #code-error
          = hidden_field_tag 'otp_authy_user_id', @authy_user_id
          .clearfix
          = button_tag "Verify Code", id: 'code_submit'
