- @title = "2FA Settings"
- content_for :title, @title
= render partial: 'index_scripts'
= javascript_include_tag 'u2f-api'

= render partial: 'phone'
-# Existing class that makes the form width the same as in other pages (edit_email, edit_password)
.reseller_registration_profile
  %h3
    Security Keys
  #stylized.default_form
    .u2f_settings
      .settings_block
        .u2f_block.u2f_info
          - if @u2fs.size > 0
            - @u2fs.each do |u2f|
              = form_for u2f, remote: true do |f|
                .u2f_device_info_block.clearfix{ id: "u2f_device_#{u2f.id}" }
                  .u2f_device_info
                    .input-group
                      = text_field_tag 'u2f[nick_name]', u2f.nick_name, class: 'form-control'
                      .input-group-append
                        %button.btn.btn-success.fa.fa-check{ type: 'submit' }

                    %span registered on
                    = u2f.created_at&.strftime("%b %d, %Y")
                  .u2f_device_info.right
                    = button_tag 'Remove', type: 'button', class: 'remove_u2f_device', 'data-id': u2f.id
        = render partial: 'add_key'

