-content_for :header, 'public_wo_container'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1.section-title
        %span
          %b SSL
          \.com
        Referral Link Partner Program FAQ
      %h3(style="margin-bottom: 30px")
        %ul(style="width: 60%; margin: 0 auto")
          %li=link_to "What's the process to becoming an Authorized #{community_name} Partner?", anchor: "sign_up"
          %li=link_to "How does it work?", anchor: "how"
          %li=link_to "Is there any cost to sign up as a partner?", anchor: "cost"
          %li=link_to "Do I have to buy certificates before I can resell them?", anchor: "prepay"
          %li=link_to "Can I sell at prices below other #{community_name} partners?", anchor: "lower_price"
          %li=link_to "Am I required to be a host provider to resell SSL certificates?", anchor: "requirement"
          %li=link_to "When do my commission payments arrive?", anchor: "when"
          %li=link_to "Do royalty payments to me truly recur forever?", anchor: "forever"
          %li=link_to "Can I be paid through direct deposit?", anchor: "direct_deposit"
          %li=link_to "What's the wait time to get up and running on this program?", anchor: "wait_time"
          %li=link_to "Am I able to offer #{community_name} Certificates through my website?", anchor: "my_site"
          %li=link_to "How are #{community_name} Certificates sent to my customers?", anchor: "send_method"
          %li=link_to "Is unsolicited bulk emailing permitted in selling #{community_name}?", anchor: "bulk_email"
      .clear
  .holder
    .inner
      .sidebarhome1
        .left-icon-bar
          Standard Features on all
          %br/
          %span
            %b SSL
            \.com
          certificates
        %ul#features
          %li
            %span.icn-compatibility
            Works with over 99% of all browsers
          %li
            %span.icn-lock
            Padlock symbol & "https" domain
          %li
            %span.icn-shield
            Strong 256-bit encryption
          %li
            %span.icn-mobile
            Mobile device support
          %li
            %span.icn-medical
            HIPAA & PCI compliant
          %li
            %span.icn-baggage
            Free lifetime certificate reissues
          %li
            %span.icn-lifeguard
            24/7 chat, email and phone support
          %li
            %span.icn-box
            30 day no questions asked refund policy
          %li
            %span.icn-tool
            Easy to use Account Manager
          %li
            %span.icn-ssl
            Free
            %span{:style => "font-family:helvetica,arial,san-serif;font-size:14px;letter-spacing:-1px;"}
              %b{:style => "font-family:'arial black italic';font-size:16px;letter-spacing:-2px;font-weight:100;"} SSL
              \.com
            Site Seal
        %br/
      .inner-content
        %h2 FAQs
        .faq-boxes.affiliates
          %span.title
            %a(name="sign_up") What's the process to becoming an Authorized #{community_name} Partner?
          %p
            Becoming an #{community_name} Referral Link Partner is quick, easy and free. Just
            =link_to "signup here.", "https://affiliates.ssl.com"
            Applications
            are normally authorized in one business day.
          %span.title
            %a(name="how") How does it work?
          %p
            It's very simple. Any visitor that visits #{community_domain} with your code appended to the address
            (ie #{community_domain}/code/you) belongs to you. Once they purchase an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate, they become your customer.
          %p
            We also start you off with some predefined links to sales pages to get you up and running quickly.
            And you continue to earn commission revenue on their renewal
            purchases. Forever!
          %span.title
            %a(name="cost") Is there any cost to sign up as a partner?
          %p
            No. There are no fees, deposits, or hidden costs required! The setup is easy and free, and you can start
            earning commissions today with absolutely no upfront costs.
          %span.title
            %a(name="prepay") Do I have to buy certificates before I can resell them?
          %p
            No. Customers and visitors you refer to ssl.com purchase the certificates, so you're not buying anything.
            There is no risk or investment on your part.
          %span.title
            %a(name="lower_price") Can I sell at prices below other #{community_name} partners?
          %p
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            maintains the same retail price for all of our Partners.
            As a result, Partners do not control pricing under the Referral Link Program.
            This creates a level playing field with no threat of other Partners underselling you.
          %p
            Your revenue is determined by how many certificates you can sell, not by how much you adjust
            pricing, thus reducing your profit margins. There is no need to be concerned about how much other
            Partners are charging.
          %span.title
            %a(name="requirement") Am I required to be a host provider or web design firm to resell SSL certificates?
          %p
            No. The only requirement is good legal standing, and any organization or individual with a
            desire to earn revenue will be approved. Earn commission from your existing traffic today.
          %span.title
            %a(name="when") When do my commission payments arrive?
          %p
            Commissions are paid immediately at the end of the month following the sales-month. All sales
            must go past the 30-day refund/trial period before they are paid out. This gives everyone
            the chance to make a successful sale with a high probability of renewal from your customer.
          %span.title
            %a(name="forever") Do royalty payments to me truly recur forever?
          %p
            ABSOLUTELY! All customers you refer belong to you forever. We use cookies to track the customers
            that you refer. Once that customer purchases an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate, you will receive a commission payment for that sale and all renewal sales provided
            you remain an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Partner.
          %p
            Although cookies are not 100% perfect, we realize the importance of ensuring our Partners are credited
            and paid for every sale. A single sale can result in commission income year after year, and
            represents continuous growth potential.
          %p
            This is a Rare Opportunity and an exciting time become an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Partner. Limited licenses are available for each territory.
          %span.title
            %a(name="direct_deposit") Can I be paid through direct deposit or Paypal?
          %p
            YES. Commission payments can be wired to your bank account as a direct deposit. We also offer Paypal payments.
          %span.title
            %a(name="wait_time") What's the wait time to get up and running on this program?
          %p
            JUST A FEW HOURS! Once we verify and approve your business license, and your individual or company's taxpayer ID
            you can start earning commissions immediately!
          %span.title
            %a(name="my_site") Am I able to offer #{community_name} Certificates through my website?
          %p
            YES, ABSOLUTELY. Your customer trusts your site, and we provide the order form containing your unique ID
            that you can copy and paste onto your site. When the customer orders the certificate through your site, the order
            will be sent to
            = succeed ".com's" do
              %i{:style => "font-weight:bold;"} SSL
            secure gateway, and you will be paid for the sale.
          %p
            You control the look and feel and all aspects of the HTML and design. Our form just collects the
            info, completes the sale, and credits you for the sale. Our designers will even work with you to customize the look and feel at no additional charge.
          %span.title
            %a(name="send_method") How are #{community_name} Certificates sent to my customers?
          %p
            Your customers will manage their own certificates. This frees you up to focus on generating sales
            and more revenue. Customers download and install
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificates themselves if they have access to their own servers. If they are on shared servers,
            their web host or admins typically will install the certificates.
          %p
            We provide installation resources such as online instructions,
            FAQ's, support forums and free support 24 hours a day.
          %span.title
            %a(name="bulk_email") Is unsolicited bulk emailing permitted in selling #{community_name}?
          %p
            NO. Using unsolicited bulk email or spam to promote
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificates and products is not allowed and strictly prohibited.
          %p
            If an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Partner is determined to be in breach of this agreement after investigation, their account
            will be promptly terminated.
        .notes
          %a{:href => 'https://affiliates.ssl.com'}
            %div Limited number of licenses remain for each territory. Sign up today!
      .clear
