-content_for :header, 'public_wo_container'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      %h1.section-title
        Earn Revenue by Partnering With
        %span
          %b SSL
          \.com
      %h2 What is the SSL.com Reseller/Affiliate/Partner Program?
      %h3
        At SSL.com we value our relationships with our customers and partners who work with their
        business associates and customers to promote SSL.com certificates. As a result, we've
        launched the SSL.com Partner Program to help our customers and partners earn extra discounts
        and commissions when selling bulk SSL.com certificates. We currently offer two distinct
        programs that are tailored to our partners' requirements: The SSL.com Affiliate Program
        for commission-based revenue sharing and the SSL.com Reseller Program for system integrators,
        host providers and resellers.
      #banner-grid(style="margin: 0px auto; text-align: center; width: 80%;")
        .left.banner1.affiliate
          %h2 Referral Linking
          %span Earn commission on sales
          .price-block
            .price 25%
            .price-desc max commission payout
            .clear
          .divider
          .description
            %ul
              %li
                %div Hassle-free
                client managed certs
              %li
                %div Recurring
                income after initial sale
              %li
                %div Commission
                rates up to 25%
              %li
                %div Free
                signup
          .divider
          %a{:href => "#{buy_certificate_url("basicssl")}"}
            %span
              .btn-buynow.reseller Get Started
        .right.banner3.reseller
          %h2 Reseller
          %span Product integration
          .price-block
            .price 40%
            .price-desc max discounts on certs
            .clear
          .divider
          .description
            %ul
              %li
                %div $250,000
                warranty
                %span.icn-help
              %li
                %div Extended
                company validation
                %span.icn-help
              %li
                .green Green Bar
                assurance
              %li
                %div Dedicated
                support staff
          .divider
          %a{:href => "#{buy_certificate_url("ev")}"}
            %span
              .btn-buynow.reseller Sign Up
      .clear
      #advertisement
        .catch-phrase
          What is the Reseller/Affiliate Program?
          %div
            At SSL.com we are proud to collaborate with any of our customers or partners, large and small, who work with their friends or business associates to promote our SSL certificates. To help further that end, we have developed a series of guidelines to help our customers and partners know:       #partners
        %div Trusted by leading brands
  .holder
    .inner
      .sidebarhome1
        .left-icon-bar
          Standard Features on all
          %br/
          %span
            %b SSL
            \.com
          certificates
        %ul#features
          %li
            %span.icn-compatibility
            Works with over 99% of all browsers
          %li
            %span.icn-lock
            Padlock symbol & "https" domain
          %li
            %span.icn-shield
            Strong 256-bit encryption
          %li
            %span.icn-mobile
            Mobile device support
          %li
            %span.icn-medical
            HIPAA & PCI compliant
          %li
            %span.icn-baggage
            Free lifetime certificate reissues
          %li
            %span.icn-lifeguard
            24/7 chat, email and phone support
          %li
            %span.icn-box
            30 day no questions asked refund policy
          %li
            %span.icn-tool
            Easy to use Account Manager
          %li
            %span.icn-ssl
            Free
            %span{:style => "font-family:helvetica,arial,san-serif;font-size:14px;letter-spacing:-1px;"}
              %b{:style => "font-family:'arial black italic';font-size:16px;letter-spacing:-2px;font-weight:100;"} SSL
              \.com
            Site Seal
        %br/
      .inner-content
        %h2 FAQs
        .faq-boxes
          %span.title What is SSL?
          %p
            SSL stands for Secure Sockets Layer, a method used to secure and
            encrypt sensitive information like credit cards, usernames, passwords,
            and other private data sent over the Internet. Website pages secured
            with SSL are those branded with the HTTPS in their URL address.
          %span.title Who needs an SSL Certificate?
          %p
            Anything (including people, software, computers, and devices) who exchange sensitive information on any network, including the Internet and Web, needs to use SSL. Sensitive information includes things like username and passwords, credit card numbers, or any other data that needs to be kept private.
          %span.title What is a Wildcard certificate?
          %p
            Wildcard SSL certificates allow the use of an unlimited number of subdomains in the certificate. Any full domain that matches *.yourdomain.com (where * can be any word and yourdomain.com is your domain) will be secured by a Wildcard SSL digital certificate. For instance, ssl.com, www.ssl.com, mail.ssl.com, and any other combination of ssl.com would be secured by a Wildcard certificate issued to *.ssl.com.
          %span.title How does the warranty work?
          %p
            The warranty protects the end user if an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Certificate is mis-issued (i.e. issued to a third party that was not entitled to the SSL Certificate).
          %span.title What is the Green Bar assurance?
          %p
            The Green Bar assurance increases customer trust and prevents cart/checkout abandonment by displaying the extended validation level of the website through a green address bar in the browser. The Green Bar is a feature of the EV
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate and represents the highest level of trust offered by any certificate authority including
            = succeed ".com." do
              %i{:style => "font-weight:bold;"} SSL
        .faq-boxes
          %span.title How does the SSL free trial work?
          %p
            The trial certificate allows for the customer to test installation and function of an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate. The trial certificate installs and functions identically to a standard
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate, but it does not come with any warranty and the organization name of the certificate owner does not appear in the certificate. Because of this, the trial certificate is only meant as a test solution and does not build customer trust the way a standard
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate would.
          %span.title How long does it take to set up?
          %p
            Depending on the certificate type, typical installation can take from minutes to several hours.
          %span.title What is a Multi-Domain (UCC) certificate?
          %p
            Multi-domain certificate (commonly know as Exchange Server Certificates or Unified Communications Certificates - UCC for short) are SSL Certificates that can secure multiple domains and multiple hostnames in a single certificate. They are ideal for cloud services whereby the number of allocated ip addresses are limited yet must be shared with multiple virtual hosts. They are also ideal for Microsoft Exchange Server 2007, Exchange Server 2010, and Microsoft Live Communications Server.
          %span.title
            Why choose
            %span{:style => "font-family:helvetica,arial,san-serif;font-size:14px;letter-spacing:-1px;"}
              %b{:style => "font-family:'arial black italic';font-size:20px;letter-spacing:-2px;font-weight:100;"} SSL
              \.com
            over the competition?
          %p
            %i{:style => "font-weight:bold;"}> SSL
            \.com believes electronic security should be easy to implement and accessible to everyone without sacrificing product integrity. Because of our core beliefs,
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            is engaged with the community at large to provide unprecedented levels support and to offer an enhanced user experience.
        .notes
          %a{:href => "http://info.ssl.com"}
            %div Still have questions? Visit the FAQ page for more answers.
        -#
          %h2 Testimonials
          .testimonial-boxes
            .box
              %img{:alt => "", :src => "images/pic1.jpg"}/
              %blockquote "I wouldn't be sitting in jail right now if I hadn't cancelled my SSL.com certificate."
              .name
                %span.black Kim Dotcom
                %span.gray Megaupload.com
            .box.long
              %img{:alt => "", :src => "images/pic3.jpg"}/
              %blockquote "Verisign and Geotrust are easy hacks. But after Isreal switched to SSL.com we couldn't hack them anymore. Damn you Leo!"
              .name
                %span.black Mahmoud
                %span.gray Google me
          .testimonial-boxes
            .box.short
              %img{:alt => "", :src => "images/pic2.jpg"}/
              %blockquote "Leo and I go way back!"
              .name
                %span.black Jenna Jameson
                %span.gray clubjenna.com
            .box
              %img{:alt => "", :src => "images/pic4.jpg"}/
              %blockquote "In my will I stated Kim Jr should switch to SSL.com."
              .name
                %span.black Kim Jong II
                %span.gray iminhell.com
          .notes
            %a{:href => ""}
              %div Still don't believe us? Visit Testimonial for more rave reviews.
      .clear
