- @meta = { :description => "#{display_name(object)}'s profile on #{Settings.community_name}.", :keywords => "#{display_name(object)}, #{object.preferences.map{|k,v|k if v==true}.compact.join(", ") unless object.preferences.blank?}" }
-#delete the following when done testing
- unless object.studio_subscriptions.empty?
  -test_imgs = [object.studio_subscriptions[0].studio]*12

.yui-b
  -build_affiliate_links
  -if @photos_count > 0 || @posts_count > 0
    .box
      %h3="Quick Links"
      =@affiliate_links
  -unless logged_in?
    .box.alt
      %h3="Tips".l
      %p
        ="After signing up, you'll receive an e-mail confirmation message.".l
      %p
        ="Click the activation link in the e-mail to log in.".l
      %p= link_to "Already have an account?".l, "/login"
  .box
    %h3
      =:niches.l(:count=>object.stored_preferences.find_all_by_name(Studio::CONTENT_TYPES).select{|pref|pref.value==true}.count)
    =render :partial=>'shared/preferences', :locals=>{:num_cols=>2, :prefs=> Studio::CONTENT_TYPES.sort, :object=>object, :width=>110}
#yui-main
  .yui-b
    .box
      #studio_avatar.left
        = image_tag(object.avatar_photo_url(:thumb), :class => 'polaroid')
      #studio_profile
        #studio_name=object.display_name
        #studio_tagline=object.tagline
        #studio_country_display=object.country
        #studio_link=request.url
        -if object.description
          #studio_description=object.description
    .box
      %h3 Promoting
      =render :partial=>'/base/micro_image_table', :locals=>{:rows=>1, :cols=>10, :options=> {:width=>65}, :users=>test_imgs, :more_path=>affiliate_studio_subscriptions_path(object)}