-content_for :header, 'public_wo_container'
.container
  .innercontainere
    .inner
      =render :partial => "shared/messages"
      -#%h1.section-title
      -#  SSL certificates for authentication & encryption
      %br{style: "padding-top: 15px"}
      #banner-grid
        .left.banner1
          %a(style="display:block")
            %h2 Basic SSL
            %span Affordable, high value ssl certificate
            .price-block
              .price $49
              .price-desc /yr
              .clear
            .divider
            .security_rating
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              %div Domain Validation
            .description
              %ul
                %li
                  %div $10,000
                  warranty
                %li
                  %div Trusted
                  in over 99% browsers
                %li
                  %div Improves
                  Google SEO ranking
                %li
                  %div 2048-bit SHA2
                  ssl encryption
                %li
                  %div 5
                  minute issuance
            .divider
          %a{:href => "#{buy_certificate_url(Settings.subca_mapping.dv["product"])}"}
            .btn-buynow Buy now
        .left.banner2
          %a(style="display:block")
            .bestseal
              = image_tag "best-offer.png"
            %h2 Wildcard SSL
            .price-block-special
              .clear
            %span SSL for multiple site protection
            .price-block-special
              .price $225
              .price-desc
                \/yr
            .divider
            .security_rating
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              %div Organization Validation
            .description
              %ul
                %li
                  %div $10,000
                  warranty
                %li
                  %div Unlimited
                  subdomains
                %li
                  %div Trusted
                  in over 99% browsers
                %li
                  %div Improves
                  Google SEO ranking
                %li
                  %div 2048-bit SHA2
                  ssl encryption
                %li
                  %div 5
                  minute issuance
            .divider
          %a{:href => "#{buy_certificate_url(Settings.subca_mapping.wildcard["product"])}"}
            .btn-buynow Buy now
            / <div class="help">Don't know which to select? <a href="#">Help me choose</a></div>
        .left.banner3
          %a(style="display:block")
            %h2 Enterprise EV
            %span Highest assurance ssl protection
            .price-block
              .price $299
              .price-desc /yr
              .clear
            .divider
            .security_rating
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              = image_tag "icn-lock.png"
              %div Extended Validation
            .description
              %ul
                %li
                  %div $250,000
                  warranty
                  %span.icn-help
                %li
                  %div Extended
                  validation ssl
                  %span.icn-help
                %li
                  %div Improves
                  Google SEO ranking
                %li
                  .green Green Bar
                  assurance
                %li
                  %div Your Name
                  displayed in certificate
            .divider
          %a{:href => "#{buy_certificate_url(Settings.subca_mapping.ev["product"])}"}
            .btn-buynow Buy now
      .clear
      #advertisement
        .catch-phrase
          %span Looking for Exchange Server UCC & SAN certificates?
          %a.btn-wegot{:href => "#{wildcard_or_ucc_certificates_url}", :title => ""}
            We've got those too
            %b{:style => "text-shadow: none;"} →
      #trust-badges{style: "text-align: center"}
        =render 'site_seal'
        -if in_production_mode?
          %a{style: "margin-left: 12px", href: "http://www.bbb.org/houston/business-reviews/internet-services/ssl-com-in-houston-tx-51001755/#bbbonlineclick", title: "SSL.Com BBB Business Review", target: '_blank'}
            %img{alt: "SSL.Com BBB Business Review", src: "//seal-houston.bbb.org/seals/black-seal-200-42-blacktxt-ssl-com-51001755.png", style: "border: 0;"}/
      #partners
        %div Trusted by leading brands
        = image_tag "sprite-partners.jpg"
  .holder
    .inner
      .sidebarhome1
        .left-icon-bar
          Standard Features on all
          %br/
          %span
            %b SSL
            \.com
          certificates
        %ul#features
          %li
            %span.icn-compatibility
            Works with over 99% of all browsers
          %li
            %span.icn-lock
            Padlock symbol & "https" domain
          %li
            %span.icn-shield
            256-bit SHA2 https AES encryption
          %li
            %span.icn-mobile
            Mobile device support
          %li
            %span.icn-medical
            Satisfies HIPAA & PCI compliance
          %li
            %span.icn-baggage
            Free lifetime certificate reissues
          %li
            %span.icn-lifeguard
            24/7 chat, email and phone support
          %li
            %span.icn-box
            30 day no questions asked refund policy
          %li
            %span.icn-tool
            Easy to use Account Manager
          %li
            %span.icn-ssl
            Free
            %span{:style => "font-family:helvetica,arial,san-serif;font-size:14px;letter-spacing:-1px;"}
              %b{:style => "font-family:'arial black italic';font-size:16px;letter-spacing:-2px;font-weight:100;"} SSL
              \.com
            Site Seal
        %br/
        -if true #unless current_page?(root_path)
          .left-icon-bar
            Secure Websites in Plain English
          #video
            / VIDEO SNIPPET IS EMBEDDED HERE
            %a(href="//app.wistia.com/embed/medias/l9pmh9d9n1?iframe=true&width=640&height=360&autoplay=false&playbutton=true&controls_visible=false&end_video_behavior=default" rel="prettyPhoto[iframes]")
              = image_tag "thumb-video.jpg", :height => "150", :width => "318"
          %br/
          %br/
        .left-icon-bar
          %span
            %b SSL
            \.com
          Site Seal
        #badge
          =render 'site_seal'
          %p Secured seal powered with Smart SeaL Artifacts technology
      .inner-content
        %h2 SSL FAQs
        .faq-boxes
          %span.title What is SSL?
          %p
            SSL stands for Secure Sockets Layer, a method used to secure and
            encrypt sensitive information like credit cards, usernames, passwords,
            and other private data sent over the Internet. Website pages secured
            with SSL are those branded with the HTTPS in their URL address.
          %span.title Who needs an SSL Certificate?
          %p
            Anything (including people, software, computers, and devices) who exchange sensitive information on any network, including the Internet and Web, needs to use SSL. Sensitive information includes things like username and passwords, credit card numbers, or any other data that needs to be kept private.
          %span.title What is a Wildcard SSL certificate?
          %p
            Wildcard ssl allows the use of an unlimited number of subdomains in the ssl certificate. Any full domain that matches *.yourdomain.com (where * can be any word and yourdomain.com is your domain) will be secured by a wildcard ssl digital certificate. For instance, ssl.com, #{community_domain}, mail.ssl.com, and any other combination of ssl.com would be secured by a wildcard certificate issued to *.ssl.com.
          %span.title How does the warranty work?
          %p
            The warranty protects the end user if an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            Certificate is mis-issued (i.e. issued to a third party that was not entitled to the SSL Certificate).
          %span.title What is the Green Bar EV SSL assurance?
          %p
            The Green Bar EV SSL assurance increases customer trust and prevents cart/checkout abandonment by displaying the organization name of the ev ssl certificate through the address bar in the browser which turns green. The Green Bar is a feature of the EV
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate and represents the highest level of trust offered by any ssl certificate authority including
            = succeed ".com." do
              %i{:style => "font-weight:bold;"} SSL
        .faq-boxes
          %span.title How does the free trial ssl certificate work?
          %p
            The trial certificate allows for the customer to test the ssl installation and function of an
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate. The free ssl certificate installs and functions identically to a standard
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate, but it does not come with any warranty and the organization name of the website owner does not appear in the ssl certificate. Because of this, the trial ssl certificate is only meant as a test solution and does not build customer trust the way a standard
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            certificate would.
          %span.title How long does it take to get my ssl certificate?
          %p
            Depending on the certificate type, typical ssl issuance normally takes several minutes but can take up to several hours.
          %span.title What is a Multi-Domain UC certificate / SAN certificate?
          %p
            Multi-domain certificates (commonly know as Exchange Server Certificates or Unified Communications Certificates - UCC for short) are ssl certificates that can secure multiple domains (including wildcard domains and fqdns) and hostnames in a single ssl certificate. They are ideal for cloud services whereby the number of allocated ip addresses are limited yet must be shared with multiple virtual hosts. They are also ideal as Exchange ssl certificates for use in Microsoft Exchange Server 2007, Exchange Server 2010, and MS Live Communications Server.
          %span.title
            Why choose
            %span{:style => "font-family:helvetica,arial,san-serif;font-size:14px;letter-spacing:-1px;"}
              %b{:style => "font-family:'arial black italic';font-size:20px;letter-spacing:-2px;font-weight:100;"} SSL
              \.com
            over the competition?
          %p
            %i{:style => "font-weight:bold;"}> SSL
            \.com believes electronic security should be easy to implement and accessible to everyone without sacrificing product integrity. Because of our core beliefs,
            = succeed ".com" do
              %i{:style => "font-weight:bold;"} SSL
            is engaged with the community at large to provide unprecedented levels support and to offer an enhanced user experience.
        .notes
          %a{:href => "https://info.ssl.com"}
            %div Still have questions? Visit the FAQ page for more answers.
        -#
          %h2 Testimonials
          .testimonial-boxes
            .box
              %img{:alt => "", :src => "images/pic1.jpg"}/
              %blockquote "I wouldn't be sitting in jail right now if I hadn't cancelled my SSL.com certificate."
              .name
                %span.black Kim Dotcom
                %span.gray Megaupload.com
            .box.long
              %img{:alt => "", :src => "images/pic3.jpg"}/
              %blockquote "Verisign and Geotrust are easy hacks. But after Isreal switched to SSL.com we couldn't hack them anymore. Damn you Leo!"
              .name
                %span.black Mahmoud
                %span.gray Google me
          .testimonial-boxes
            .box.short
              %img{:alt => "", :src => "images/pic2.jpg"}/
              %blockquote "Leo and I go way back!"
              .name
                %span.black Jenna Jameson
                %span.gray clubjenna.com
            .box
              %img{:alt => "", :src => "images/pic4.jpg"}/
              %blockquote "In my will I stated Kim Jr should switch to SSL.com."
              .name
                %span.black Kim Jong II
                %span.gray iminhell.com
          .notes
            %a{:href => ""}
              %div Still don't believe us? Visit Testimonial for more rave reviews.
      .clear
