-c={}
-c[:description]="#{community_name} RESTful api makes ssl buying easy and seamless."
-c[:keywords]="ssl certificates restful api rest hosting registrars backend interface integrate system integration resellers"
-c[:title]="#{community_name} RESTful API"
-c[:header]='public'
-c.each do |k, v|
  -content_for k, c[k]
%h1=c[:title]
%h2 Make ssl purchasing automatic, seamless, and effortless
.default_container
  %h3 Program Overview
  %p
    The #{community_name} RESTful API Program is an open standards based, RESTful api that allows resellers and systems
    integrators to automatically manage their ssl certificates through #{community_name}'s backfacing interface.
    The api is freely available to users with reseller accounts
    (#{link_to "click here for more details on #{community_name} Reseller Program", details_resellers_url(subdomain: Reseller::SUBDOMAIN)}).
    If you are a hosting provider, registrar, or other reseller with specific volume
    requirements and would like to participate in beta-testing the api, please contact us at support@ssl.com.
.default_container
  %h3 API Documentation
  %p
    Click #{link_to "here for the current api documentation", "http://docs.sslcomapi.apiary.io/", target: "_new"}.
    Currently only reseller partners can access the api. To register for a free reseller account please visit the
    #{link_to "reseller registration page", new_user_url(subdomain: Reseller::SUBDOMAIN)}.
