<script type="text/javascript">
jQuery.noConflict();
jQuery(function($) {
  $.domains = function(textArea){
    textArea.value = textArea.value.replace(/(\W)(\s+)/g, "$2").
      replace('_','').
      replace(/(\s+|^)([^<%='\*' if @certificate.allow_wildcard_ucc?%>\w])/g, "$1").
      replace(/[^\s\n\w\.\-<%='\*' if @certificate.allow_wildcard_ucc?%>]/g, "");
    <%if @certificate.allow_wildcard_ucc?-%>
      textArea.value = textArea.value.replace(/(\w)\*/g, "$1");
      textArea.value = textArea.value.replace(/(\*)[^\.]/g, "$1");
    <%end-%>
    domains = textArea.value.split(/\s/);
    <%if @certificate.product=="premiumssl"-%>
      domains = domains.slice(0,3);
      textArea.value = domains.join(' ');
    <%end-%>
    return domains;
  };
  $.adjust_domain_pricing = function(textArea){
      domains = $.domains(textArea);
      $.removeFromArray("",domains);
      $('.order_amount_desc span').text((domains.length > 3) ? domains.length : 3);
      if(domains.length > <%=Certificate::NUM_DOMAINS_TIERS%>)
        $.update_order_pricing();
  };
  $("textarea[name*=signing_request]").click(function(){
    $(this).select();
  });
  $("textarea[name*=signing_request]").bind("keyup", function() {
    if($(this).val()==""){
      $(".flash_message").remove();
      return;
    }
    $.ajax({
      url: "<%=parse_csr_certificate_orders_url%>",
      data: {csr: $(this).val(), certificate: "<%=@certificate.product%>"},
      type: "POST",
      success: function(data, status){
        $(".flash_message").remove();
        var ajax_errors="";
        if((typeof data.certificate_content.csr.errors.base != 'undefined') && (data.certificate_content.csr.errors.base.length>0)){
          $.each(data.certificate_content.csr.errors.base, function(key, value){
            ajax_errors+="<li>"+value+"</li>";
          });
        }
        if((typeof data.certificate_content.errors.base != 'undefined') && (data.certificate_content.errors.base.length>0))
          $.each(data.certificate_content.errors.base, function(key, value){
            ajax_errors+="<li>"+value+"</li>";
          });
        if((typeof data.certificate_content.errors.signing_request != 'undefined') && (data.certificate_content.errors.signing_request.length>0))
          $.each(data.certificate_content.errors.signing_request, function(key, value){
            ajax_errors+="<li>signing request "+value+"</li>";
          });
        if(ajax_errors!="")
          $(".cert_reqs").after("<div class='flash_message error'><span><ul class='ajax_info'>"+ajax_errors+"</ul></span></div>");
        else{
          if((typeof data.certificate_content.csr.common_name != 'undefined')){
            $(".cert_reqs").after("<div class='flash_message notice'><span class='ajax_info'>certificate to be issued to: "+data.certificate_content.csr.common_name+"</span></div>");
          }
        <%if @certificate.is_ucc?-%>
          if((typeof data.certificate_content.csr.subject_alternative_names != 'undefined')){
            $("textarea[name*=additional_domains]").val(data.certificate_content.csr.subject_alternative_names.join(" "));
            $.adjust_domain_pricing($("textarea[name*=additional_domains]")[0]);
          }
        <%end-%>
        }
      }
    });
  });
  $.update_order_pricing = function(){
    domains_cost = 0.0
    server_license_cost = 0.0;
    duration_index = $(':radio[name*=duration]:checked').val();
    duration_cost = durations[duration_index-1];
    <%if @certificate.is_ucc? || @certificate.is_wildcard?%>
      server_license_cost = licenses[duration_index-1] * $('#certificate_order_server_licenses').val();
      included = "";
      if(server_license_cost==0)
        included = " (included)";
      $('#server_license_cost_ea').text(server_license_cost.toFixed(2)+included);
      <%if @certificate.is_ucc?%>
        if(domains.length > <%=Certificate::UCC_INITIAL_DOMAINS_BLOCK%>){
          num_domains_buy = domains.length-<%=Certificate::UCC_INITIAL_DOMAINS_BLOCK%>;
          domains_cost = durations[duration_index-1][1]*num_domains_buy;
        }
        $('#first_domain_tier_price').text(durations[duration_index-1][0].toFixed(2));
        $('#second_domain_tier_price').text(durations[duration_index-1][1].toFixed(2));
      <%end%>
    <%end%>
    $('#calculated_price').text('$'+((parseFloat(duration_cost)+
      parseFloat(domains_cost)+parseFloat(server_license_cost)).toFixed(2))+
      " USD");
  };
    var show_csr=true;
  $.build_cart_item = function(){
    return {"<%=ShoppingCart::PRODUCT_CODE%>" : $('#certificate_product').val() ,
      "<%=ShoppingCart::DURATION%>" : $(':radio[name*=duration]:checked').val(),
      <%if instance_variable_get('@'+CertificateOrder::RENEWING)-%>
        "<%=ShoppingCart::RENEWAL_ORDER%>" : '<%=instance_variable_get('@'+CertificateOrder::RENEWING).ref%>',
      <%end-%>
      "<%=ShoppingCart::LICENSES%>" :
      <%if @certificate.is_ucc? || @certificate.is_wildcard?-%>
      $('#certificate_order_server_licenses').val()
      <%else%>
      "0"
      <%end%>
      , "<%=ShoppingCart::DOMAINS%>" :
      <%if @certificate.is_ucc?%>
      $.domains($('textarea[id$=domains]')[0]).join(" ")
      <%else%>
      "0"
      <%end%>
      , "<%=ShoppingCart::AFFILIATE%>" : $.get_affiliate()};
  };
  $.change_cart_items = function(add_or_remove){
    add = (add_or_remove=="add") ? true : false;
    configured = $.build_cart_item();
    $.add_remove_cart_items(add, configured);
  };

  $(document).ready(function() {
    domains = [];
    durations = new Array(<%=@certificate.num_durations%>);
    <%c = -1%>
    <%@certificate.num_durations.times do |i| -%>
      <%if @certificate.is_ucc?-%>
        durations[<%=i%>] = new Array(<%=Certificate::NUM_DOMAINS_TIERS%>);
        <%Certificate::NUM_DOMAINS_TIERS.times do |j|%>
            durations[<%=i%>][<%=j%>] = <%=(@certificate.items_by_domains[c+=1].price*((j==0)?3:1))%>;
        <%end%>
      <%else -%>
        durations[<%=i%>] = <%=@certificate.items_by_duration[i].price%>;
      <%end -%>
    <%end -%>
    <%if @certificate.is_ucc? || @certificate.is_wildcard?%>
      licenses = new Array(<%=@certificate.num_durations%>);
      <%@certificate.num_durations.times do |i| -%>
        licenses[<%=i%>] = <%=@certificate.items_by_server_licenses[i].price%>;
      <%end -%>
    <%end%>
    $('textarea[id$=domains]').keyup(function () {
      $.adjust_domain_pricing(this);
    });
    $(':radio[name*=duration]').click(function(){
      duration_index = $(':radio[name*=duration]:checked').val();
      $.update_order_pricing();
    });
    $('#certificate_order_server_licenses').click(function(){
      $.update_order_pricing();
    });
    $("li:contains('<%=CertificateContent::NOT_VALID_ISO_CODE%>')")
      .append(" <a href='<%=country_codes_csrs_path%>'>Please visit this link</a> for accepted country codes.");
    var profile_id = "";
    $('#expand_register_card').toggle(
      function(event){
          $('#register_card_form').fadeIn();
          $(this).add('img[id=toggle_billing_profile_form]').attr('src', '/images/hide_billing_profile_form.png');
          $(event.target).text('Click here to hide form');
          profile_id = $(':radio[id*=funded_account_funding_source]:checked').attr("id");
          $(':radio[id*=funded_account_funding_source]').removeAttr('checked');},
      function(event){
          $('#register_card_form').fadeOut();
          $(this).add('img[id=toggle_billing_profile_form]').attr('src', '/images/add_new_billing_profile.png');
          $(event.target).text('Click here to add a new credit card')
          $(':radio[id*='+profile_id+']').attr("checked","checked")}
      );
    $.last_delete_clicked=function(){
      if($('.delete_billing_profile').size() <= 1)
        $('.funding_sources_head, #existing_credit_cards').empty();
      $('#register_card_form').fadeIn();
    };
    $('#funded_account_amount').keyup(function () {
      amount = this.value
      this.value = this.value.replace(/((\.\d\d).*)/g, "$2").replace(/[^0-9\.]/g,'');
      $.update_balance_after_load();
    });
    $('#register_card_form').click(function(){
      $(':radio[id*=funded_account_funding_source]').removeAttr('checked');
    });
    $(':radio[id*=funded_account_funding_source]').click(function(){
      $('#register_card_form').fadeOut();
    });
    $('.has_csr_container').click(function(){
      $(this).siblings().filter(':radio[name*=has_csr]').click();
    });
    $(':radio[name*=has_csr]').click(function(){
      if($(this).val()=="false"){
        show_csr=false;
        $('#csr_section').hide();
        $('#form_progress_indicator').fadeOut();
      }
      else{
        show_csr=true;
        $('#csr_section').show();
        $('#form_progress_indicator').fadeIn();
      }
    });
    <%if Settings.show_csr_submit_on_buy_page && !@certificate_order.is_unused_credit?%>
    $('form').submit(function(){
      //add to cart if csr is not ready
      if($(':radio[name*=has_csr]').length!=0 &&
        $(':radio[name*=has_csr]:checked').val()=="false"){
        $('textarea[name*=signing_request]').remove();
        $.change_cart_items("add");
        window.location="<%=show_cart_orders_url%>";
        return false;}
    });
    if($(':radio[name*=has_csr]:checked').val()=="false"){
      show_csr=false;
      $('#csr_section').hide();
      $('#form_progress_indicator').hide();
    }
    $('.add_to_cart_button').click(function(){
      $.change_cart_items("add");
    });
    $('.remove_from_cart_button').click(function(){
      $.change_cart_items("remove");
    });
    <%end%>
    <%if @certificate.is_ucc?-%>
      $.adjust_domain_pricing($('textarea[id$=domains]')[0]);
    <%end-%>
    $.update_order_pricing();
  });
});
</script>
