- title = 'Certificates'
- will_paginate @certificates
- content_for :title, title
- system_admins = current_user.is_system_admins?

#validations
  = render partial: 'filter_form'
  
#certificates-admin-index
  %table(cellspacing='0')
    %br
    - if current_user.can_manage_certificates?
      %tr
        = link_to 'New Certificate', new_certificate_path, class: 'button_blue button_index'
    - if will_paginate @certificates
      %tfoot
        %tr
          %td(colspan='5')
            = will_paginate @certificates
    %caption
      %strong
        = title
      = will_paginate @certificates
    %thead
      %tr.heading_row
        %th
          = sort_link('serial', get_col_direction('serial', params), 'Serial')
        %th
          = sort_link('title', get_col_direction('title', params), 'Title')
        %th
          = sort_link('product', get_col_direction('product', params), 'Product')
        %th 
          = sort_link('reseller_tier_id', get_col_direction('reseller_tier_id', params), 'Reseller Tier')
        %th
    %tbody
      -@certificates.each do |c|
        %tr
          %td.serial #{c.serial}
          %td.title #{c.title}
          %td #{c.product}
          %td.roles #{c.reseller_tier ? c.reseller_tier.roles : nil}
          - if current_user.can_manage_certificates?
            %td.actions
              = link_to 'edit', edit_certificate_path(c.id), class: 'btn-cert-update'
          