-c={}
-c[:description]="Purchase ssl certificates from ssl.com. Buy ev, wildcard, uc, or any digital certificate."
-c[:keywords]="buy ssl certificate purchase certificates low cost prices ev wildcard uc ucc exchange apache java iis"
-co=@certificate_order
-if @renewing
  -c[:title] = "Renewing #{@certificate.title} Certificate For #{@renewing.subject}"
-elsif @reprocessing
  -c[:title] = "Reprocessing #{@certificate.title} Certificate For #{co.subject}"
-else
  -c[:title] = "#{co.is_unused_credit? ? "Process" : buy_or_get} #{@certificate.title} Certificate"
-c.each do |k, v|
  -content_for k, c[k]
=order_progress_indicator(1, @certificate)
-form_params=new_certificate_params
#buy_other_certs
  %ul
    %li.heading other SSL certificates
    -Certificate.public.reject{|c|c.product=~/\dtr/ || c.product=~/free/}.each do |cert|
      -unless cert==@certificate
        %li=link_to cert.title, buy_certificate_path(:id=>cert.product_root)
.reseller_registration_profile
  #buy_certificate_heading
    %h1
      =c[:title]
      =link_to "(click here for product details)", certificate_url(@certificate)
    %h2 Please fill out the required fields below to begin your certificate order.
  -add_link=@certificate_order.certificate_content.errors if @certificate_order.try(:certificate_content).try(:errors)
  =error_messages_for :certificate_order, :certificate_content
  =form_for(*form_params) do |f|
    =hidden_field :certificate, :product
    =recert?
    #stylized.default_form
      =render :partial => "/certificates/form", :locals => {:f=>f}
    #button_container
      #next_submit=image_submit_tag "next_bl.gif"
=render :partial => '/certificates/index_scripts'
