-c={}
-c[:description]="Purchase ssl certificates and digital certificates from ssl.com. Buy ev, wildcard, uc, code signing, or any digital certificate."
-c[:keywords]="buy ssl certificate purchase code signing certificates low cost prices ev wildcard uc ucc exchange apache java iis"
-co=@certificate_order
-if @renewing
  -c[:title] = "Renewing #{@certificate.title} Certificate For #{@renewing.subject}"
-elsif @reprocessing
  -c[:title] = "Reprocessing #{@certificate.title} Certificate For #{co.subject}"
-else
  -c[:title] = "#{co.is_unused_credit? ? "Process" : buy_or_get} #{@certificate.title} Certificate"
-c.each do |k, v|
  -content_for k, c[k]
=order_progress_indicator(1, @certificate)
-form_params=new_certificate_params
#buy_other_certs
  %ul
    %li.heading Other Certificates
    -Certificate.base_products.available.reject{|c|c.product=~/free/}.each do |cert|
      -unless cert==@certificate
        %li=link_to cert.title, buy_certificate_path(:id=>cert.product_root)
.reseller_registration_profile
  #buy_certificate_heading
    %h1
      =c[:title]
      =link_to "(click here for product details)", certificate_url(@certificate)
    %h2 Please fill out the required fields below to begin your certificate order.
  =error_messages_for :certificate_order, :certificate_content
  #stylized.default_form.clearfix
    -if !(Settings.show_csr_submit_on_buy_page || @certificate_order.is_unused_credit?)
      -if @certificate.is_code_signing?
        %p #{@certificate.title} Certificate Summary
        %ul.cert_reqs
          %li Used to secure apps by making them tamper proof
          %li Validates the identity of the owner or author of the application to be installed
          %li Eliminates "Untrusted App" dialogs when installing or executing the application
          %li Prevents unauthorized bundling of app with other applications (such as malware/bloatware/spyware)
      -elsif @certificate.is_wildcard?
        %p #{@certificate.title} Summary
        %ul.cert_reqs
          %li CAN secure any number of subdomains (no limit) for 1 single price
          %li No additional charge for each subdomain
          %li Secures root domain as well as subdomains (ie domain.com, www.domain.com, exch01.domain.com)
          %li All entries will have the same root domain name
          %li CAN use on unlimited ip addresses with multiple, concurrent private keys (great for hosting and virtual hosts)
          %li CAN use certificate on unlimited multiple servers concurrently
        %p Example entries include:
        %ul.cert_reqs
          %li domain.com
          %li www.domain.com
          %li mail.domain.com
          %li lync.domain.com
          %li exch01.domain.com
          %li autodiscover.domain.com
        %p and so on...
      -elsif @certificate.is_premium_ssl?
        %p #{@certificate.title} Summary
        %ul.cert_reqs
          %li CAN secure up to 3 different subdomains
          %li An entry CAN be a Fully Qualified Domain Name (FQDN) or simply a subdomain+domain
          %li All entries MUST have the same domain name, but can have different subdomains; for multi domain ssl please see #{link_to 'UCC SSL', buy_certificate_url("ucc") }
          %li An entry CANNOT represent a wildcard domain name (i.e. *.domain.com); for multi domain wildcard ssl please see #{link_to 'UCC SSL', buy_certificate_url("ucc") }
          %li CAN use on unlimited ip addresses with multiple, concurrent private keys (great for hosting and virtual hosts)
          %li CAN use certificate on unlimited multiple servers concurrently
        %p Example entries include:
        %ul.cert_reqs
          %li www.domain.com
          %li lync.domain.com
          %li any.domain.com
      -elsif @certificate.is_ucc?
        %p #{'Extended Validation' if @certificate.is_ev?} UC Certificate (aka SANs, Exchange SSL, multidomain SSL) Summary
        %ul.cert_reqs
          -if @certificate.is_ev?
            %li Displays your company name with a green background in the address bar
            %li Displays your company details in the SSL Certificate details
          %li CAN secure up to 2000 entries (first 3 non-wildcard are free, additional charge per entry after the 3rd entry)
          %li CAN use certificate on unlimited multiple servers concurrently
          %li CAN change domains at anytime or specify them later without fees or costs
          %li An entry CAN be a Fully Qualified Domain Name (FQDN)
          -unless @certificate.is_ev?
            %li An entry CAN be a single worded server name or an internal ip address (but the certificate #{link_to "will not be effective past Dec 2015", "https://cabforum.org/wp-content/uploads/Guidance-Deprecated-Internal-Names.pdf", target: "_blank"} per CAB Forum Reqs.)
          -unless @certificate.allow_wildcard_ucc?
            %li An entry CANNOT represent a wildcard domain name (i.e. *.domain.com); for multi domain wildcard ssl please see #{link_to 'UCC SSL', buy_certificate_url("ucc") }
          -else
            %li An entry CAN represent a wildcard domain name (i.e. *.domain.com, but NOT multiple levels like *.*.domain.com)
          %li CAN use on unlimited ip addresses with multiple, concurrent private keys (great for hosting and virtual hosts)
        %p Example entries include:
        %ul.cert_reqs
          %li domain.com
          %li www.domain.net
          -unless @certificate.is_ev?
            %li *.example.com
            %li *.apps.domain.co.uk
      -else
        %p
          %em Each domain the ssl certificate will secure conforms to the following:
        %ul.cert_reqs
          -unless @certificate.is_wildcard?
            -unless @certificate.allow_wildcard_ucc?
              %li It CANNOT represent a wildcard domain name (i.e. *.domain.com); for wildcard ssl please see #{link_to 'Wildcard SSL', buy_certificate_url("wildcard") }
            -if @certificate.is_premium_ssl?
              %li It will secure up to 3 subdomain names (i.e. www.domain.com, mail.domain.com, lync.domain.com)
            -else
              %li It will secure a domain name (i.e. domain.com); comes with 'www' subdomain automatically
              %li It will secure a fully-qualified domain name (i.e. mail.domain.com or secure.domain.info, etc)
              -unless @certificate.is_ev?
                -if @certificate.is_ucc?
                  %li It will secure a local ip address (i.e. 10.0.0.0)
                -unless @certificate.is_free?
                  %li It will secure a single word server name (i.e. localhost or bizserver)
              -unless @certificate.is_ucc?
                %li It will secure the 'www' subdomain free of cost
          -else
            %li It will secure all subdomains (i.e. www.domain.com, mail.domain.com, lync.domain.com, etc.)
          %li CAN use certificate on unlimited multiple servers concurrently
          -if @certificate.is_free?
            %li Only documentation support provided, does NOT come with technical support
    =form_for(*form_params) do |f|
      =hidden_field :certificate, :product
      =recert?
      =render :partial => "/certificates/form_ucc", :locals => {:f=>f}
      #button_container
        #next_submit=image_submit_tag "next_bl.gif", alt: 'submit ssl certificate order'
        #product_details.center{style: "font-size: 1.5em"}
          =link_to image_tag('more_info_sm_bl.gif', :title=>'click to see this certificate'), certificate_url(@certificate.product_root)
    .domainsParent
      .addGroup
        %input#addInput{:placeholder => "Add a domain", :type => "text", :value => ""}
        %label#add{:type => "label"}
          %b +
      #domains
=render :partial => '/certificates/index_scripts_ucc'
