-if Settings.u2f_enabled
  .subheading
    Require 2FA for Team #{@ssl_account.acct_number}
  .settings_block
    .settings_block#u2f_settings
      = radio_button_tag :sec_type, 'u2f', @ssl_account.sec_type == 'u2f'
      = label_tag :sec_type_u2f, "Use U2f"

  -if Settings.duo_auto_enabled || Settings.duo_custom_enabled
    .settings_block.clearfix#duo_settings
      = radio_button_tag :sec_type, 'duo', @ssl_account.sec_type == 'duo'
      = label_tag :sec_type_duo, "Use Duo"
      .clearfix
      .duo_block.duo_check
        .clearfix
          = check_box_tag :duo_login_enable, @ssl_account.id, @ssl_account.duo_enabled, :disabled => !(@ssl_account.sec_type == 'duo')
          = label_tag :duo_login_enable, "Enable Duo login".html_safe
      .duo_block.duo_own{:style => "display: #{!Settings.duo_auto_enabled ? "none" : "block"}"}
        .clearfix
          = check_box_tag :duo_own_used, @ssl_account.id, @ssl_account.duo_own_used, :disabled => !(@ssl_account.duo_enabled) || !(@ssl_account.sec_type == 'duo')
          = label_tag :duo_own_used, "Use own Duo account".html_safe
      .duo_block.duo_info{:style => "display: #{(Settings.duo_custom_enabled && @ssl_account.duo_own_used) || !Settings.duo_auto_enabled ? "block" : "none"};"}
        .clearfix.duo_key
          = label_tag :duo_ikey, "Duo Integration Key".html_safe
          = text_field_tag :duo_ikey, duo ? duo.duo_ikey : "", :class => "click_to_select_all", :disabled => (Settings.duo_auto_enabled && !@ssl_account.duo_own_used) || !(@ssl_account.sec_type == 'duo')
        .clearfix.duo_key
          = label_tag :duo_skey, "Duo Secret Key".html_safe
          = text_field_tag :duo_skey, duo ? "Click to view." : "", :class => "click_to_select_all", :disabled => (Settings.duo_auto_enabled && !@ssl_account.duo_own_used) || !(@ssl_account.sec_type == 'duo'), 'data-skey' => "#{duo ? duo.duo_skey : ""}"
        .clearfix.duo_key
          = label_tag :duo_akey, "Duo A Key".html_safe
          = text_field_tag :duo_akey, duo ? duo.duo_akey : "", :class => "click_to_select_all", :disabled => "disabled"
          = button_tag "Generate", :type=>'button', :class=>'btn_generate', :disabled=>(Settings.duo_auto_enabled && !@ssl_account.duo_own_used) || !(@ssl_account.sec_type == 'duo')
        .clearfix.duo_key
          = label_tag :duo_hostname, "Duo API Hostname".html_safe
          = text_field_tag :duo_hostname, duo ? duo.duo_hostname : "", :class => "click_to_select_all", :disabled => (Settings.duo_auto_enabled && !@ssl_account.duo_own_used) || !(@ssl_account.sec_type == 'duo')
        ._2fa_block.register.clearfix
          -# Button needs to be disabled so that it shows up along with the above elements when JS code is triggered
          = button_tag 'Register', type: 'button', class: 'register_2fa', disabled: (Settings.duo_auto_enabled && !@ssl_account.duo_own_used) || !(@ssl_account.sec_type == 'duo')
