-dcvs=co.csr.domain_control_validations
-last_sent = (dcvs.last.try(:dcv_method)=="http") ? dcvs.last : dcvs.last_sent
-checkout_in_progress=co.validation_stage_checkout_in_progress?
-if last_sent
  -if last_sent.satisfied?
    %li
      %em satisfied on #{(last_sent.responded_at || last_sent.updated_at).strftime("%b %d, %Y %R")}
  -elsif last_sent.is_eligible_to_resend?
    %li
      %em automatic verification email sent:
      %ul
        %li(class="#{satisfied(last_sent)}") on: #{last_sent.sent_at.strftime("%b %d, %Y %R")}
        %li(class="#{satisfied(last_sent)}") to: #{last_sent.email_address}
    %li.category_border=link_to 'resend verification email', edit_certificate_order_validation_url(co)
-else
  %li
    %em no domain verification performed
  %li.category_border=link_to 'perform domain verification', checkout_in_progress ? new_certificate_order_validation_path(co) : edit_certificate_order_validation_path(co)
