-if ca_response.response
  %dt sent on #{ca_response.created_at}
  -if ca_response.instance_of? SslcomCaRequest
    %dd username: #{ca_response.username}
    %dd certificate_chain: #{ca_response.certificate_chain}
    %dd approval_id: #{ca_response.approval_id}
    %dd response: #{ca_response.response}
    -if ca_response.response =~ /WAITING FOR APPROVAL/ or ca_response.response =~ /approval_id/
      -approval_id=ca_response.api_requestable.sslcom_approval_ids.compact.first
      -unique_id=SslcomCaApi.unique_id(approval_id)
      -if unique_id
        %dd=link_to "click to approve",
          "#{Rails.application.secrets.sslcom_ca_admin_host}/ejbca/adminweb/approval/approvalaction.xhtml?uniqueId=#{unique_id}", target: "_blank"
  -elsif !ca_response.response.blank?
    -result=CGI::parse(ca_response.response)
    -if result['errorCode'][0]=~/^[0]/
      %dd order number: #{result['orderNumber'][0]}
      %dd certificate id: #{result['certificateID'][0]}
      %dd cost: $#{result['totalCost'][0]}
      %dd eta: #{result['expectedDeliveryTime'][0]} hours
    -elsif result['errorCode'][0]=~/^[1]/
      %dd payment required
    -else
      %dd=result['errorMessage'][0]
