-if ca_response.response
  -result=CGI::parse(ca_response.response)
  %dt sent on #{ca_response.created_at}
  -if result['errorCode'][0]=~/^[0]/
    %dd order number: #{result['orderNumber'][0]}
    %dd certificate id: #{result['certificateID'][0]}
    %dd cost: $#{result['totalCost'][0]}
    %dd eta: #{result['expectedDeliveryTime'][0]} hours
  -elsif result['errorCode'][0]=~/^[1]/
    %dd payment required
  -else
    %dd=result['errorMessage'][0]