-c={}
-c[:description]="Validations for SSL.com certificates are designed to expedite issuance while maintaining strict compliance."
-c[:keywords]="ssl certificates validation requirement documents ev statements bills id license corporate charter business government compliance"
-c[:title]='SSL Certificate Validation Requirements'
-c[:header]='public'
-c.each do |k, v|
  -content_for k, c[k]
%h1=c[:title]
%h2 Expedite issuance while maintaining SSL.com certificate compliance
.default_container
  %h3 Overview
  %p
    SSL certificates represent the underpinnings of trust in most Web and Internet transactions. As such,
    there is great responsibility for globally trusted certificate authorities like SSL.com to perform
    accurate but timely validation and background validations so that legitimate entities can continue to operate in
    a secure and trusted manner.
.default_container
  %h3 Validation Types
  %p
    Depending on which SSL.com certificate is issued, different validation requirements need to be met in
    order for all parties to maintain strict adherence to SSL.com's Certification Practices Statement. At
    minimum, the customer (or subscriber) will be required to validate domain control by responding to
    an email sent to a predetermined email address. The customer purchasing the SSL.com certificate may be
    required to submit validation artifacts and documents attesting to the ownership of or
    authorization to represent the original entity who registered the domain name listed as the subject in the ssl
    certificate.
    %dl.listing
      %dt.validation_type
        Domain Control Validation
      %dd
        %dl
          %dt
            applies to certificates
          %dd
            -certs = Certificate.root_products.select{|c|c.description["validation_level"] =~ /1/}.map do |cert|
              -link_to(cert.title, certificate_url(cert.product))
            =certs.join(", ").html_safe
      %dd
        %dl
          %dt validation level
          %dd minimal
      %dd
        %dl.last_list
          %dt description
          %dd
            An email from SSL.com Validation Services is sent to a predetermined email address associated
            with the domain name represented by the ssl certificate.
            A user with access to the email address then clicks on a link embedded within the email. This
            will confirm that the customer or authorized party has control of the domain name.
      %dt.validation_type
        Organization Validation
      %dd
        %dl
          %dt applies to certificates
          %dd
            -certs = Certificate.root_products.select{|c|c.description["validation_level"] =~ /2/}.map do |cert|
              -link_to(cert.title, certificate_url(cert.product))
            =certs.join(", ").html_safe
      %dd
        %dl
          %dt validation level
          %dd high assurance
      %dd
        %dl.last_list
          %dt description
          %dd
            To supplement domain control validation, high assurance validation utilizes supporting
            documentation to provide additional assurance that the customer owns or is authorized to represent
            the organization listed as the owner of the domain. The documents can be submitted through each
            SSL.com certificate's order page or through
            the #{link_to "the SSL.com RESTful API", restful_apidocs_apply_url}.
            The accepted documents are as follows:
            %ul
              %li Articles of Association
              %li Business License
              %li Certificate of Compliance
              %li Certificate of Incorporation
              %li Certificate of Authority to Transact Business
              %li Tax Certification
              %li Corporate Charter
              %li Official letter from an authorized representative of a government organization
              %li Official letter from office of Dean or Principal (for Educational Institutions)
      %dt.validation_type
        Extended Validation
      %dd
        %dl
          %dt
            applies to certificates
          %dd
            -certs = Certificate.root_products.select{|c|c.description["validation_level"] =~ /3/}.map do |cert|
              -link_to(cert.title, certificate_url(cert.product))
            =certs.join(", ").html_safe
      %dd
        %dl
          %dt validation level
          %dd.green highest standard
      %dd
        %dl.last_list
          %dt description
          %dd
            Extended validation ssl certificate represent the highest in security standards for
            SSL.com. EV SSL certificates that have gone through the extended validation progress
            display the browser address bar with a green background. In addition to using domain control and
            organization validation, extended validation requires that the end customer sign an EV SSL request form
            which can be found below:
          %dd
            %ul
              %li
                %dt Full EV Authorization Form (#{link_to "click here to download form #{image_tag('pdf_icon.gif')}".html_safe, "http://support.ssl.com/index.php?_m=downloads&_a=downloadfile&downloaditemid=4"})
                %dd This form of the EV Request should be used when more than one individual are acting in the roles of Certificate Requester, Certificate Approver and Contract (Subscriber Agreement) Signer.)
              %li
                %dt Simplified EV Authorization Form (#{link_to "click here to download form #{image_tag('pdf_icon.gif')}".html_safe, "http://support.ssl.com/index.php?_m=downloads&_a=downloadfile&downloaditemid=5"})
                %dd This form should be used if one person is to act in all three roles, Certificate Requester, Certificate Approver and Contract (Subscriber Agreement) Signer.


