-content_for :title, "Verify email verification code"
= render :partial => 'verification_scripts'
= javascript_include_tag "form.authy"
= stylesheet_link_tag 'bootstrap_style', :media => 'all'
= stylesheet_link_tag 'form.authy'
= stylesheet_link_tag 'flags.authy'
- if @status
  %h2
    Callback Verification for Certificate Order
    =link_to @token, @certificate_order_token
  %div.pt-3.automated-call-verification
    .row
      .col-md-3
        = hidden_field_tag 'token', @token
        = hidden_field_tag 'passed_token', nil
      .col-md-6
        .row.pt-3.phone-call-block
          .col-md-6
            .row.verification-method.pull-right
              = label_tag 'method_sms', 'SMS: '
              = radio_button_tag 'method', 'sms'
              = label_tag 'method_call',  'Call: '
              = radio_button_tag 'method', 'call', true
          .col-md-4
            = button_tag 'Call Now', :type => 'button', :class => 'btn btn-automated-callback btn-primary'
        .row.pt-3.phone-verification-block{:style => 'display: none'}
          .col-md-4
            Phone Verification Code :
          .col-md-5
            = text_field_tag 'phone_verification_code', nil
          .col-md-3
            = button_tag 'Verify Phone', :type => 'button', :class => 'btn btn-phone-verification', :disabled => 'disabled'
      .col-md-3



    -#.row
      .col-md-2
      .col-md-8
        .row.pt-3.email-verification-block
          .col-md-3
            Email Verification Code :
          .col-md-7
            = text_field_tag 'email_verification_code', nil
          .col-md-2
            = button_tag 'Verify Email', :type => 'button', :class => 'btn btn-email-verification', :disabled => 'disabled'
        .row.pt-3.phone-call-block{:style => 'display: none'}
          .col-md-6
            = label_tag 'authy-countries',  'Country Code: '
            = select_tag 'authy-countries', nil, name: 'country_code', 'data-show-as': 'number'
          .col-md-4
            .row.verification-method
              = label_tag 'method_sms', 'SMS: '
              = radio_button_tag 'method', 'sms'
              = label_tag 'method_call',  'Call: '
              = radio_button_tag 'method', 'call', true
          .col-md-2
            = hidden_field_tag 'passed_token', nil
            = button_tag 'Call Now', :type => 'button', :class => 'btn btn-automated-callback btn-primary'
        .row.pt-3.phone-verification-block{:style => 'display: none'}
          .col-md-3
            Phone Verification Code :
          .col-md-7
            = text_field_tag 'phone_verification_code', nil
          .col-md-2
            = button_tag 'Verify Phone', :type => 'button', :class => 'btn btn-phone-verification', :disabled => 'disabled'
      .col-md-2
