-content_for :title, "Verify email verification code"
= render :partial => 'verification_scripts'
= javascript_include_tag "form.authy"
= javascript_include_tag "jquery.timepicker.min"
= javascript_include_tag "jstz.min"
= stylesheet_link_tag "jquery.timepicker.min"
= stylesheet_link_tag 'bootstrap_style', :media => 'all'
= stylesheet_link_tag 'form.authy'
= stylesheet_link_tag 'flags.authy'
- if @status
  %h2
    Callback Verification for Certificate Order
    =link_to @token, @certificate_order_token
  %div.pt-3.automated-call-verification
    .row
      .col-md-3
        = hidden_field_tag 'token', @token
        = hidden_field_tag 'passed_token', @callback_type == 'none' ? nil : @certificate_order_token.passed_token
      .col-md-6
        .row.pt-3.phone-number-block
          .col-md-5
            .row.callback-number.pull-right
              Phone Number :
          .col-md-4
            = @mobile_number
          .col-md-3
        .row.pt-3.phone-callback-method-desc{:style=> @callback_type == 'none' ? 'display: none' : 'display: flex'}
          .col-md-5
            .row.callback-method-desc-lbl.pull-right
              Callback Method :
          .col-md-4.callback-method-desc
            - unless @callback_type == 'none'
              = @callback_method
        .row.pt-3.phone-callback-datetime-desc{:style=> @callback_type == 'none' ? 'display: none' : 'display: flex'}
          .col-md-5
            .row.callback-datetime-desc-lbl.pull-right
              Callback Date & Time :
          .col-md-4.callback-datetime-desc
            - unless @callback_type == 'none'
              = @callback_datetime
        .row.pt-3.phone-callback-locale
          .col-md-5
            .row.callback-locale-lbl.pull-right
              Language :
          .col-md-4.callback-local-desc
            = select_tag 'callback_locale', options_for_select(@supported_languages, @callback_locale), :class => 'form-control', :disabled => @callback_type == 'none' ? false : true
        .row.pt-3.pb-3.phone-callback-option
          .col-md-5
            .row.callback-type.pull-right
              Callback Types :
          .col-md-4
            = select_tag 'callback_type', options_for_select([['Callback Now', 'callback'],['Schedule Callback', 'schedule'], ['Manual Callback','manual']], @callback_type), :class => 'form-control', :disabled => @callback_type == 'none' ? false : true
          .col-md-3
        - if @callback_type == 'none'
          .row.pt-3.phone-call-block
            .col-md-7
              .row.verification-method.pull-right
                = label_tag 'method_sms', 'SMS: '
                = radio_button_tag 'method', 'sms'
                = label_tag 'method_call',  'Call: '
                = radio_button_tag 'method', 'call', true
            .col-md-4
              = button_tag 'Call Now', :type => 'button', :class => 'btn btn-automated-callback btn-primary'
          .row.pt-3.phone-callback-date-block{:style => 'display: none'}
            .col-md-9
              .row.pb-3.callback-method
                .col-md-6
                  .row.pull-right
                    = label_tag 'callback_method', '* Method: '
                .col-md-6
                  .row.callback-type-method
                    = label_tag 'callback_type_method_sms', 'SMS: ', :class => 'callback_type_method_lbl'
                    = radio_button_tag 'callback_type_method', 'sms', true
                    = label_tag 'callback_type_method_call', 'Call: ', :class => 'callback_type_method_lbl'
                    = radio_button_tag 'callback_type_method', 'call'
              .row.pb-3.timezone-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'timezone', '* Timezone: '
                .col-md-6
                  -#= select_tag 'callback_time_zone', options_for_select(ActiveSupport::TimeZone.all.sort.map{|tz| [tz.to_s, tz.tzinfo.name]}), :class => 'form-control'
                  -#= select_tag 'callback_time_zone', options_for_select(ActiveSupport::TimeZone.all.sort.map{|tz| [tz.to_s, tz.utc_offset / 3600]}), :class => 'form-control'
                  -#= select_tag 'callback_time_zone', options_for_select(ActiveSupport::TimeZone.all.sort.map{|tz| [tz.to_s, tz.name]}), :class => 'form-control'
                  = select_tag 'callback_time_zone', options_for_select(@time_zones), :class => 'form-control'
              .row.pb-3.date-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'date', '* Date: '
                .col-md-6
                  = text_field_tag 'callback_date', nil, :class => 'form-control date-picker', :readonly => true
                  .error-block.pt-1
                    * It is required field.
              .row.pb-3.time-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'time', '* Time: '
                .col-md-6
                  = text_field_tag 'callback_time', nil, :class => 'form-control time-picker', :readonly => true
                  .error-block.pt-1
                    * It is required field.
              .row.pt-3.submit-date-block
                .col-md-6
                .col-md-6
                  .row.pull-right
                    = button_tag 'Submit', :type => 'button', :class => 'btn btn-callback-date btn-primary'
            .col-md-3
        .row.pt-3.phone-verification-block{:style => @callback_type == 'none' ? 'display: none' : 'display: ""'}
          .col-md-4
            Phone Verification Code :
          .col-md-5
            = text_field_tag 'phone_verification_code', nil
          .col-md-3
            = button_tag 'Verify Phone', :type => 'button', :class => 'btn btn-phone-verification', :disabled => 'disabled'
      .col-md-3



    -#.row
      .col-md-2
      .col-md-8
        .row.pt-3.email-verification-block
          .col-md-3
            Email Verification Code :
          .col-md-7
            = text_field_tag 'email_verification_code', nil
          .col-md-2
            = button_tag 'Verify Email', :type => 'button', :class => 'btn btn-email-verification', :disabled => 'disabled'
        .row.pt-3.phone-call-block{:style => 'display: none'}
          .col-md-6
            = label_tag 'authy-countries',  'Country Code: '
            = select_tag 'authy-countries', nil, name: 'country_code', 'data-show-as': 'number'
          .col-md-4
            .row.verification-method
              = label_tag 'method_sms', 'SMS: '
              = radio_button_tag 'method', 'sms'
              = label_tag 'method_call',  'Call: '
              = radio_button_tag 'method', 'call', true
          .col-md-2
            = hidden_field_tag 'passed_token', nil
            = button_tag 'Call Now', :type => 'button', :class => 'btn btn-automated-callback btn-primary'
        .row.pt-3.phone-verification-block{:style => 'display: none'}
          .col-md-3
            Phone Verification Code :
          .col-md-7
            = text_field_tag 'phone_verification_code', nil
          .col-md-2
            = button_tag 'Verify Phone', :type => 'button', :class => 'btn btn-phone-verification', :disabled => 'disabled'
      .col-md-2
