-content_for :title, "Verify email verification code"
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js'
= javascript_include_tag "form.authy"
= javascript_include_tag "jstz.min"
= javascript_include_tag '//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'
= stylesheet_link_tag 'bootstrap_fix'
= stylesheet_link_tag 'form.authy'
= stylesheet_link_tag 'flags.authy'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css'
= render partial: 'verification_scripts'

- if @status
  %h2
    Callback Verification for Certificate Order
    =link_to @certificate_order_token.certificate_order.ref, @certificate_order_token.certificate_order
  %div.pt-3.automated-call-verification
    .row
      .col-md-2
        = hidden_field_tag 'token', @token
        = hidden_field_tag 'passed_token', @callback_type == 'none' ? nil : @certificate_order_token.passed_token
      .col-md-8
        .row.pt-3.phone-number-block
          .col-md-6
            .row.callback-number.pull-right
              Phone Number :
          .col-md-6
            = @mobile_number
          .col-md-3
        .row.pt-3.phone-callback-method-desc{:style=> @callback_type == 'none' ? 'display: none' : 'display: flex'}
          .col-md-5
            .row.callback-method-desc-lbl.pull-right
              Callback Method :
          .col-md-4.callback-method-desc
            - unless @callback_type == 'none'
              = @callback_method
        .row.pt-3.phone-callback-datetime-desc{:style=> @callback_type == 'none' ? 'display: none' : 'display: flex'}
          .col-md-5
            .row.callback-datetime-desc-lbl.pull-right
              Callback Date & Time :
          .col-md-4.callback-datetime-desc
            - unless @callback_type == 'none'
              = @callback_datetime
        .row.pt-3.phone-callback-locale
          .col-md-5
            .row.callback-locale-lbl.pull-right
              Language :
          .col-md-4.callback-local-desc
            = select_tag 'callback_locale', options_for_select(@supported_languages, @callback_locale), :class => 'form-control', :disabled => @callback_type == 'none' ? false : true
        .row.pt-3.pb-3.phone-callback-option
          .col-md-5
            .row.callback-type.pull-right
              Callback Types :
          .col-md-4
            = select_tag 'callback_type', options_for_select([['Callback Now', 'callback'],['Schedule Callback', 'schedule'], ['Manual Callback','manual']], @callback_type), :class => 'form-control', :disabled => @callback_type == 'none' ? false : true
          .col-md-3
        - if @callback_type == 'none'
          .row.pt-3.phone-call-block
            .col-md-7
              .row.verification-method.pull-right
                = label_tag 'method_sms', 'SMS: '
                = radio_button_tag 'method', 'sms'
                = label_tag 'method_call',  'Call: '
                = radio_button_tag 'method', 'call', true
            .col-md-4
              = button_tag 'Call Now', :type => 'button', :class => 'btn btn-automated-callback btn-primary'
          .row.pt-3.phone-callback-date-block{:style => 'display: none'}
            .col-md-9
              .row.pb-3.callback-method
                .col-md-6
                  .row.pull-right
                    = label_tag 'callback_method', '* Method: '
                .col-md-6
                  .row.callback-type-method
                    = label_tag 'callback_type_method_sms', 'SMS: ', :class => 'callback_type_method_lbl'
                    = radio_button_tag 'callback_type_method', 'sms', true
                    = label_tag 'callback_type_method_call', 'Call: ', :class => 'callback_type_method_lbl'
                    = radio_button_tag 'callback_type_method', 'call'
              .row.pb-3.timezone-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'timezone', '* Timezone: '
                .col-md-6
                  = select_tag 'callback_time_zone', options_for_select(@time_zones), :class => 'form-control'
              .row.pb-3.date-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'date', '* Date: '
                .col-md-6
                  = text_field_tag 'callback_date', nil, :class => 'form-control date-picker', :readonly => true
                  .error-block.pt-1
                    * It is required field.
              .row.pb-3.time-block
                .col-md-6
                  .row.pull-right
                    = label_tag 'time', '* Time: '
                .col-md-6
                  = text_field_tag 'callback_time', nil, :class => 'form-control time-picker', :readonly => true
                  .error-block.pt-1
                    * It is required field.
              .row.pt-3.submit-date-block
                .col-md-6
                .col-md-6
                  .row.pull-right
                    = button_tag 'Submit', :type => 'button', :class => 'btn btn-callback-date btn-primary'
            .col-md-3
        .row.pt-3.phone-verification-block{:style => @callback_type == 'none' ? 'display: none' : 'display: ""'}
          .col-md-4{:style => 'text-align: right; line-height: 33px'}
            Phone Verification Code :
          .col-md-5
            = text_field_tag 'phone_verification_code', nil, :class => 'form-control'
          .col-md-3
            = button_tag 'Verify Phone', :type => 'button', :class => 'btn btn-phone-verification', :disabled => 'disabled'
      .col-md-2
