.clearfix.form_input
  = form.label :login, "Login<span class='label_desc'>your username</span>".html_safe
  = form.text_field :login, :size=>HTML_TEXT_FIELD_SIZE
.clearfix.form_input
  = form.label :password, "Password<span class='label_desc'>min. size 4 chars</span>".html_safe
  = form.password_field :password, :size=>HTML_TEXT_FIELD_SIZE
.clearfix.form_input
  = form.label :remember_me
  = form.check_box :remember_me

