%div(style="background:#BAD6B8;border:1px solid #999;color:#000;font:13px arial,sans-serif;font-weight:normal;margin:6px;padding:4px;text-align:left")
  %div(style="float: left;margin-right: 4px;")
    =link_to image_tag("http://#{Surl::URL}/images/sslscan.png"), "http://links.ssl.com"
  %div(style="float: right; margin-left: 4px;")
    %a(style="cursor:pointer;margin-bottom: 3px;font-size: 9px;text-decoration:underline;color:#00c;text-align: right;display: block" onclick="this.parentNode.parentNode.style.display = 'none';")
      close x
    -if @surl.share
      #twitter
        %a.twitter-share-button{"data-count" => "none", :href => "http://twitter.com/share"} Tweet
        %script{:src => "https://platform.twitter.com/widgets.js", :type => "text/javascript"}
      #google
        /Place this tag where you want the +1 button to render
        %g:plusone(size="medium")
        /Place this render call where appropriate
        :javascript
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
  This shortened secure link (ssl) points to
  #{link_to @surl.original, @surl.original, style: "text-decoration:underline;color:#00c"} which
  was scanned for safe viewing on #{DateTime.now.strftime("%B %d, %Y")} by ssl.com security services.
  Securely shorten links with free ssl.com links. Visit
  #{link_to "http://links.ssl.com", "http://links.ssl.com", style: "text-decoration:underline;color:#00c"}
  to learn more.
  %br
  %span(style='font-size: 9px')
    #{link_to "disclaimer", ssl_links_disclaimer_url(subdomain: Surl::SUBDOMAIN), target: "_blank", style: "text-decoration:underline;color:#00c"}
    #{mail_to "abuse@ssl.com", "report abuse", subject: "ssl link #{@surl.full_link}", style: "text-decoration:underline;color:#00c"}
