#header
  .inner
    %table#at_a_glance_header
      %tbody
        %tr
          %th.validations
            %table
              %tr
                %td.validations=link_to "NEED MORE INFO", incomplete_certificate_orders_path
              %tr
                %td.validations=link_to CertificateOrder.unvalidated.count, incomplete_certificate_orders_path
          %th.certificate_status
            %table
              %tr
                %td.certificate_status=link_to "IN PROGRESS", pending_certificate_orders_path
              %tr
                %td.certificate_status=link_to CertificateOrder.pending.count, pending_certificate_orders_path
          %th.certificate_status
            %table
              %tr
                %td.certificate_status=link_to "REPROCESSING", reprocessing_certificate_orders_path
              %tr
                %td.certificate_status=link_to CertificateOrder.reprocessing.count, reprocessing_certificate_orders_path
          %th.certificate_status{rowspan: 5}
            %table
              %tr
                %td=link_to "ORDER BY CSR", order_by_csr_certificate_orders_path
              %tr
                %td=link_to "FILTER BY EV", filter_by_certificate_orders_path("ev")
              %tr
                %td=link_to "FILTER BY UCC", filter_by_certificate_orders_path("ucc")
              %tr
                %td=link_to "FILTER BY PREMIUM", filter_by_certificate_orders_path("premium")
              %tr
                %td=link_to "FILTER BY WILDCARD", filter_by_certificate_orders_path("wildcard")
              %tr
                %td=link_to "FILTER BY TEST", filter_by_certificate_orders_path("wildcard")
          -#-unless current_user.ssl_account.funded_account.blank?
          -#  %th AVAILABLE FOR USE
          -if show_short_links?
            %th=link_to "SSL LINKS", surls_root_url(subdomain: Surl::SUBDOMAIN)
          %th=link_to 'Logout', logout_url
        %tr#info
          %td
          %td
          %td
          %td
          -#-unless current_user.ssl_account.funded_account.blank?
          -#  %td=current_user.ssl_account.funded_account.amount(true).format :with_currency=>false
          %td
    %span.logo=link_to "", root_url
#content
  .containerp
    #prog_nav_container
      %ul(id="prog_nav")
        %li(id="#{current_page?(account_url) ? 't-intro' : 'dashboard' }")
          =link_to "Dashboard", account_url
        %li(id="#{current_page?(users_url) ? 't-intro' : 'manage_certificates'}")
          =link_to "Users", users_url
        %li(id="#{current_page?(validations_url) ? 't-intro' : 'manage_validations'}")
          =link_to "Validations", validations_url
        %li(id="#{current_page?(validations_url) ? 't-intro' : 'manage_validations'}")
          =link_to "Documents", validations_url
        %li(id="#{current_page?(site_seals_url) ? 't-intro' : 'manage_site_seals'}")
          =link_to "Smart SeaLs", site_seals_url
        %li(id="#{current_page?(certificate_orders_url) ? 't-intro' : 'manage_certificate_orders'}")
          =link_to "Orders", certificate_orders_path
        %li(id="#{current_page?(orders_url) ? 't-intro' : 'manage_orders'}")
          =link_to "Transactions", orders_path
    .inner
      =render :partial => "shared/messages"
      =yield
