-unless DEPLOYMENT_CLIENT=~/certassure/i
  .content
    -unless is_new_order_page?
      -if Rails.env =~ /production/
        .box
          =render 'site/site_seal'
          .footer-like
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsslcorp&width=210&height=62&colorscheme=dark&show_faces=false&border_color&stream=false&header=false", :style => "border:none; overflow:hidden; width:210px; height:62px;"}
          %a{style: "margin-left: 12px", href: "http://www.bbb.org/houston/business-reviews/internet-services/ssl-com-in-houston-tx-51001755/#bbbonlineclick", title: "SSL.Com BBB Business Review", target: '_blank'}
            %img{alt: "SSL.Com BBB Business Review", src: "//seal-houston.bbb.org/seals/black-seal-200-42-whitetxt-ssl-com-51001755.png", style: "border: 0;"}/
      .box
        %span.title CERTIFICATES
        %ul
          %li
            %a{:href => "#{certificate_path('basicssl')}"}
              %b> SSL
              \.com
              Basic
          %li
            %a{:href => "#{certificate_path('premiumssl')}"}
              %b> SSL
              \.com Premium
          %li
            %a{:href => "#{certificate_path('ev')}"}
              %b> SSL
              \.com Enterprise EV
          %li=link_to "Wildcard Certificate", certificate_path('wildcard')
          %li=link_to "Multi-Domain (UCC)", certificate_path('ucc')
          %li=link_to "Multi-Domain EV (UCC)", certificate_path('evucc')
      .box
        %span.title SUPPORT
        %ul
          %li=link_to "What is <b>SSL</b>?".html_safe, "http://info.ssl.com/article.aspx?id=10241"
          %li=link_to "Knowledgebase", "https://support.ssl.com/Knowledgebase/List"
          %li=link_to "Contact Support", "https://support.ssl.com/Tickets/Submit"
          %li
            %a{:href => "http://www.ssltools.com"}
              %b> SSL
              \.com Tools
          %li=link_to "Compatibility/Acceptance", browsers_path
          %li=link_to "Country Codes", country_codes_csrs_path
          %li=link_to "Top Level Domains (tlds)", tlds_path
          %li=link_to "Validation Requirements", requirements_validations_path
      .box
        %span.title PROGRAMS
        %ul
          %li=link_to "Partners", affiliates_path
          %li=link_to "RESTful API", "http://docs.sslcomapi.apiary.io/", target: "_new"
          -Reseller::TARGETED.each do |t|
            %li=send :link_to, t.titleize, eval("#{t}_path")
      .box
        %span.title COMPANY
        %ul
          %li=link_to "About #{Settings.community_name}", about_path
          %li=link_to "Contact Us", contact_us_path
          -# %li
            %a{:href => "#"} Jobs
          %li=link_to "CA Repository", repository_path
          %li=link_to "Terms of Service", terms_of_use_path
          %li=link_to "Privacy", privacy_policy_path
          -# %li=link_to "Refund Policy", ""
        / end of content
        .clear
  .content
    .copyright
      \© #{Time.now.year}&nbsp;
      %b>
        %i> SSL
      \.com Corp. All Rights Reserved
  -if Rails.env=~/production/
    / Start of StatCounter Code for Default Guide
    :javascript
      var sc_project=10146096;
      var sc_invisible=1;
      var sc_security="a05875f5";
      var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
    %noscript
      .statcounter
        %a{:href => "http://statcounter.com/", :target => "_blank", :title => "web analytics"}
          %img.statcounter{:alt => "web analytics", :src => "https://c.statcounter.com/10146096/0/a05875f5/1/"}
    / End of StatCounter Code for Default Guide
    / Start of StatCounter Code for Default Guide
    :javascript
      var sc_project=10147535;
      var sc_invisible=1;
      var sc_security="399a9d97";
      var sc_https=1;
      var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
    %noscript
      .statcounter
        %a{:href => "http://statcounter.com/", :target => "_blank", :title => "web stats"}
          %img.statcounter{:alt => "web stats", :src => "https://c.statcounter.com/10147535/0/399a9d97/1/"}
    / End of StatCounter Code for Default Guide
    :javascript
      adroll_adv_id = "GKW2MQRAWVFYDC4JAVRP76";
      adroll_pix_id = "ZOLIZBRU6BDQBB3OXRSNTE";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
         __adroll_loaded=true;
         var scr = document.createElement("script");
         var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
         scr.setAttribute('async', 'true');
         scr.type = "text/javascript";
         scr.src = host + "/j/roundtrip.js";
         ((document.getElementsByTagName('head') || [null])[0] ||
          document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
         if(oldonload){oldonload()}};
      }());
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30469369-1', 'ssl.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    / Google Code for Remarketing Tag
    /
      \-
      Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
      \-
    :javascript
      /* <![CDATA[ */
      var google_conversion_id = 975052302;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    %script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
    %noscript
      %div{style: "display:inline;"}
        %img{alt: "", height: "1", src: "//googleads.g.doubleclick.net/pagead/viewthroughconversion/975052302/?value=#{@order ? @order.amount : "0"}&guid=ON&script=0", style: "border-style:none;", width: "1"}/
-else
  #renew-query
    %h2#renew-query-text Renew Product
    %h4 Enter your reference/voucher number
    %form
      %input#renew-query-reference.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :type => "text", :value => "ca-"}
        #renew-query-confirm.signup{:onclick => "renewRedirect()", :style => "margin-bottom:10px;margin-top:10px;"} RENEW
  .et_pb_section.et_section_regular{:style => "background-color:#f5f5f5;"}
    .et_pb_row
      .et_pb_column.et_pb_column_1_3
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "http://www.ssltools.com/", :target => "_blank"}
            %img{:src => "/wp-content/uploads/2015/06/ssl-toolbox.png"}
              %br
                SSL Certificate Toolbox
        / .et_pb_text
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "/whitepapers"}
            %img{:src => "/wp-content/uploads/2015/06/whitepapers.png"}
              %br
                Whitepaper Resources
      / .et_pb_text
      / .et_pb_column
      .et_pb_column.et_pb_column_1_3
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "#"}
            %img{:src => "/wp-content/uploads/2015/06/certificate-configuration.png"}
              %br
                Certificate Configuration &amp; Installation Support
        / .et_pb_text
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "/customer-feedback"}
            %img{:src => "/wp-content/uploads/2015/06/comments.png"}
              %br
                Customer Comments
      / .et_pb_text
      / .et_pb_column
      .et_pb_column.et_pb_column_1_3
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "/industry-news"}
            %img{:src => "/wp-content/uploads/2015/06/industry-news.png"}
              %br
                Blog, WebSecurity and Industry News
        / .et_pb_text
        .et_pb_text.et_pb_bg_layout_light.et_pb_text_align_center.footer-bar-item
          %a{:href => "/request-a-demo"}
            %img{:src => "/wp-content/uploads/2015/06/request-demo.png"}
              %br
                Request a Demo
  / .et_pb_text
  / .et_pb_column
  / .et_pb_row
  .et_pb_row.cert-footer-menu
    .cert-footer-menu-col
      %a{:href => "/ssl-certificates"} SSL Certificates
      %a{:href => "/code-signing-certificate"} Code Signing Certificates
      %a{:href => "/email-and-identity-certificates"} Email & Identity Certificates
      %a{:href => "/mobile-device-certificates"} Mobile Device Management
    .cert-footer-menu-col
      %a{:href => "/enterprise-managed-pki"} Enterprise MKPI
      %a{:href => "/about-certassure"} About CertAssure
      %a{:href => "/trust-assurance"} Trust Assurance Services
      %a{:href => "/compare-ssl"} Compare SSL Certificates
    .cert-footer-menu-col
      %a{:href => "/always-on-ssl"} Always-On-SSL
      %a{:href => "/secured-seal-of-trust"} Secured Seal of Trust
      %a{:href => "/seal-install"} Install Seal of Trust
      %a{:href => "/ssl-corner-of-trust"} Corner Secured Seal of Trust
    .cert-footer-menu-col
      %a{:href => "/free-trial-ssl"} Trial SSL Certificates
      %a{:href => "/contact"} Contact Us
      %a{:href => "#"} Support
    .cert-footer-email
      %form#mc-embedded-subscribe-form.validate{:action => "//certassure.us11.list-manage.com/subscribe/post?u=e45f2ecdea9d292fd68eec4e8&amp;id=be39574f68", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        %p Register your email for all the latest news and special offers
        %br
          %input#mce-EMAIL{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
            %div{:style => "position: absolute; left: -5000px;"}
              %input{:name => "b_e45f2ecdea9d292fd68eec4e8_be39574f68", :tabindex => "-1", :type => "text", :value => ""}/
            %input#mc-embedded-subscribe.signup{:name => "subscribe", :style => "border:0 solid white", :type => "submit", :value => "Subscribe"}
  .footer-logos
    %img.footer-image{:src => "/wp-content/uploads/2015/06/trust_ev.png"}
      %img.footer-image{:src => "/wp-content/uploads/2015/06/ta_trust_alliance.png"}
        %img.footer-image{:src => "/wp-content/uploads/2015/06/cab.png"}
          %img.footer-image{:src => "/wp-content/uploads/2015/06/ca_security.png"}
            %img.footer-image{:src => "/wp-content/uploads/2015/06/qualys.png"}
              %img.footer-image{:src => "/wp-content/uploads/2015/07/guarantee.png"}
  #certificate-image{:onmouseout => "document.getElementById('certificate-popup').style.display = 'none';", :onmouseover => "document.getElementById('certificate-popup').style.display = 'block';"}
    %img{:src => "/wp-content/uploads/2015/06/trust01corner.png"}/
  #certificate-popup
    %img{:src => "/wp-content/uploads/2015/06/popup_graphic.png"}/
  %footer#main-footer
    #et-footer-nav
      .container
        %ul#menu-footer-menu.bottom-nav
          %li#menu-item-880.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-880
            %a{:href => "/wp-content/uploads/2015/07/Website-Terms-and-Conditions.pdf"} Terms and Conditions
          %li#menu-item-881.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-881
            %a{:href => "/wp-content/uploads/2015/07/CERTASSURE-Web-Site-Privacy-Policy.pdf", :target => "_blank"} Privacy Policy
          %li#menu-item-923.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-923
            %a{:href => "https://www.certassure.com/contact/"} Contact
          %li#menu-item-882.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-882
            %a{:href => "http://support.certassure.com"} Support
          %li#menu-item-924.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-924
            %a{:href => "https://www.certassure.com/industry-news/"} Industry News
          %li#menu-item-925.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-925
            %a{:href => "https://www.certassure.com/repository/"} Repository
    / #et-footer-nav
    #footer-bottom
      .container.clearfix
        %ul.et-social-icons
          %li.et-social-icon.et-social-facebook
            %a.icon{:href => "#"}
              %span Facebook
          %li.et-social-icon.et-social-twitter
            %a.icon{:href => "#"}
              %span Twitter
          %li.et-social-icon.et-social-google-plus
            %a.icon{:href => "#"}
              %span Google
          %li.et-social-icon.et-social-linkedin
            %a.icon{:href => "https://www.linkedin.com/company/certassure‎"}
              %span LinkedIn
        %p#footer-info &copy; 2015 CERTASSURE INC. SSL Certificate Authority and Trust Assurance Services. All Rights Reserved
        %br/
        %p#footer-subinfo All trademarks displayed on this site are the exclusive property of the respective holders
    / .container
    / #main-footer
    / #et-main-area
    / #page-container
    %script{:src => "/wp-content/uploads/2015/06/cbpFWTabs.js"}
  :javascript
      (function() {
        [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
          new CBPFWTabs( el );
        });

      })();
  %script{:src => "/wp-content/uploads/2015/07/jquery.simplemodal.js"}
  :javascript
      function openRenewDialog(product, baseUrl) {
        jQuery('#renew-query-text').text('Renew ' + product);
        jQuery('#renew-query').modal();
      };

      function renewRedirect() {
        var url = 'https://www.certassure.com/certificate_orders/{-orderid-}/renew';
        var ref = jQuery('#renew-query-reference').val();
        window.location.href = url.replace('{-orderid-}', ref);
      }

      function aossl(title, body) {
        jQuery('#aossl_header').text(title);
        jQuery('#aossl_text').text(body);
        jQuery('#aossl_info_box').slideDown("fast");
      }

      function aossl_off() {
        jQuery('#aossl_info_box').hide();
      }

      function swapTab(newTab, content) {
        jQuery('.tab-current').removeClass('tab-current');
        jQuery(newTab).addClass('tab-current');
        jQuery('.content-current').removeClass('content-current');
        jQuery(content).addClass('content-current');
      }
  %script{:src => "https://www.certassure.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20", :type => "text/javascript"}
  :javascript
      /*  */
      var _wpcf7 = {"loaderUrl":"https:\/\/www.certassure.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
      /*  */
  %script{:src => "https://www.certassure.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.2.1", :type => "text/javascript"}
  %script{:src => "https://www.certassure.com/wp-includes/js/comment-reply.min.js?ver=4.2.3", :type => "text/javascript"}
  %script{:src => "https://www.certassure.com/wp-content/themes/Divi/js/jquery.fitvids.js?ver=2.3.2", :type => "text/javascript"}
  %script{:src => "https://www.certassure.com/wp-content/themes/Divi/js/waypoints.min.js?ver=2.3.2", :type => "text/javascript"}
  %script{:src => "https://www.certassure.com/wp-content/themes/Divi/js/jquery.magnific-popup.js?ver=2.3.2", :type => "text/javascript"}
  :javascript
      /*  */
      var et_custom = {"ajaxurl":"https:\/\/www.certassure.com\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/www.certassure.com\/wp-content\/themes\/Divi\/images","et_load_nonce":"9222bdd6d5","subscription_failed":"Please, check the fields below to make sure you entered the correct information.","fill":"Fill","field":"field","invalid":"Invalid email","captcha":"Captcha","prev":"Prev","previous":"Previous","next":"Next"};
      /*  */
  %script{:src => "https://www.certassure.com/wp-content/themes/Divi/js/custom.js?ver=2.3.2", :type => "text/javascript"}
  / Google Tag Manager
  %noscript
    %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-WRK5XS", :style => "display:none;visibility:hidden", :width => "0"}
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WRK5XS');/ End Google Tag Manager
-unless @certificate_order.blank? || @certificate_order.id.blank?
  :javascript
    jQuery(function($){
      $("#start_over").click(function(){
        $.ajax({
          url: "#{start_over_certificate_order_path(@ssl_slug, @certificate_order.ref)}",
          type: "POST",
          beforeSend: function(){
            return confirm("Are you sure you want to start over with this certificate order?");
          },
          success: function(data, status){
            window.location.href = "#{edit_certificate_order_path(@ssl_slug, @certificate_order.ref)}";
          }
        });
      });
    });
:javascript
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/5823.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
:javascript
  jQuery(function($){
    $('#live_chat').click(function(){
      $('#habla_topbar_div').click();
    });
    $.prettyLoader();
    $(".btn-buynow span, .hide_me").hide();
    $("a[rel^='prettyPopin']").prettyPopin();
    $('div.flash_message').click(function(){
      $(this).fadeOut();
    });
    $('div.flash_message a').click(function(event){
      event.stopPropagation();
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false, allowresize:false, theme:'pp_default', showTitle:false});
    $('.striped_div > div:nth-child(odd)').css("background-color","#eeeeee");
    $('.striped_tr tr:nth-child(odd)').css("background-color","#eeeeee");
    $('#close_window').live('click', function(){
      window.close();
    });
    $('.close').live('click', function(){
      $(this).remove();
    });
    $("input[name='next']").click(function(){
      $("#waiting_bar").show();
    });
    //#{"$('#colorpicker').farbtastic('.color');" if Rails.env.development?}
    $("#cancel_reseller_signup").click(function(){
      $.ajax({
        url: "#{cancel_reseller_signup_users_path}",
        type: "GET",
        beforeSend: function(){
          return confirm("Are you sure you want to cancel your reseller signup?");
        },
        success: function(data, status){
          if($.inArray("#{Role::OWNER.to_sym}", data.user.role_symbols)>-1)
            window.location.href = "#{account_path}";
        }
      });
    });
    //cart functions
    $.toMoneyFloat = function(money){
      money = money.replace(",","");
      money = money.replace("$","");
      var usdIndex = money.indexOf(" USD");
      if(usdIndex!=-1)
        money = money.substring(0,usdIndex)
      return money;
    }
    $.adjust_items_in_cart = function(){
      var items = "items";
      var howMany = $.get_cart_items().length;
      if(howMany>0)
        $(".icn_cart").addClass("icn_cart-filled").removeClass("icn_cart");
      else
        $(".icn_cart-filled").addClass("icn_cart").removeClass("icn_cart-filled");
      if(howMany==1)
        items = "item";
      $("#cart_size").text(howMany.toString()+" "+items+" in cart");
      $("#cart_count").text(howMany.toString());
    };
    $.adjust_order_total = function(){
      var total = 0;
      $('.amount').each(function(){
        total += parseFloat($.toMoneyFloat($(this).text()));
      });
      total=(total!=0)?total.toFixed(2).toString():"0.00";
      $('#cart_total').text('$'+total+" USD");
    };
    $.empty_out_cart = function(){
      $.cookie("cart", "", {path: '/'});
      $('.add_to_cart_button').removeAttr("disabled");
      $(".icn_cart-filled").addClass("icn_cart").removeClass("icn_cart-filled");
      $('#cart','#cart_total', '.icn_cart').effect("highlight", {}, 3000);
    };
    $('#empty_cart').click(function(){
      $.empty_out_cart();
    })
    $('.remove_from_cart_link').click(function(){
      var id = $(this).attr("id");
      $.remove_from_cart(id);
      $(this).parents('tr[id='+$(this).attr("id")+']').
        fadeOut('slow', function(){
          $(this).remove();
          $.adjust_items_in_cart();
          $.adjust_order_total();
          $('#cart','#cart_total', '.icn_cart').effect("highlight", {}, 3000);}
        );
    });
    $.save_cart = function(cart){
      if(cart=="" || cart.length==0)
        $.cookie("cart", null); //deletes cookie jquery method
      else
        $.cookie("cart", $.toJSON(cart), { expires:
          #{Settings.cart_cookie_days}, path: '/'});
    };
    $.get_cart_items = function(){
      if($.cookie("cart")==null || $.cookie("cart")=="")
        return [];
      else
        return $.evalJSON($.cookie("cart"));
    };
    $.get_affiliate = function(){
      return ($.cookie("aid")==null || $.cookie("aid")=="")
        ? #{ShoppingCart::DEFAULT_AFFILIATE_ID} : $.cookie("aid");
    };
    $.remove_from_cart=function(indx){
      cart = $.get_cart_items();
      cart.remove(indx);
      $.save_cart(cart);
    };
    $.add_remove_cart_items=function(add, item){
      cart = $.get_cart_items();
      indx = $.cart_has_item(item) //find index of existing line item
      if(indx==-1)
        if(add){
          item["#{ShoppingCart::QUANTITY}"]=1;
          if($.isArray(cart)){
            cart.push(item);
          }
          else
            cart=[item];
        }
        else
          return;
      else{
        matched=cart[indx];
        if(add)
          ++matched["#{ShoppingCart::QUANTITY}"];
        else
          if(matched["#{ShoppingCart::QUANTITY}"]==1){
            cart.remove(indx);
          }
          else
            --matched["#{ShoppingCart::QUANTITY}"];
      }
      $.save_cart(cart);
    };
    $.cart_has_item = function(cart_item){
      items=$.get_cart_items();
      if(items==null)
        return -1;
      else{
        var match=true, indx=-1;
        $(items).each(function(i, v){
          match=true;
          for (var key in v) {
            if(key!="#{ShoppingCart::QUANTITY}" &&
                key!="#{ShoppingCart::AFFILIATE}" && v[key]!=cart_item[key]){
              match=false;
              break;
            }
          }
          if(match){
            indx=i;
            return false;
          }
        });
        return indx;
      }
    };
    // Array Remove - By John Resig (MIT Licensed)
    Array.prototype.remove = function(from, to) {
      var rest = this.slice((to || from) + 1 || this.length);
      this.length = from < 0 ? this.length + from : from;
      return this.push.apply(this, rest);
    };
    Array.prototype.find = function(searchStr) {
      var returnArray = false;
      for (i=0; i<this.length; i++) {
        if (typeof(searchStr) == 'function') {
          if (searchStr.test(this[i])) {
            if (!returnArray) { returnArray = [] }
            returnArray.push(i);
          }
        } else {
          if (this[i]===searchStr) {
            if (!returnArray) { returnArray = [] }
            returnArray.push(i);
          }
        }
      }
      return returnArray;
    };
    $.removeFromArray = function(value, arr) {
        return jQuery.grep(arr, function(elem, index) {
            return elem !== value;
        });
    };
    $.update_balance_after_load = function(){
      if($('#funded_account_amount').length) {
        var bracket = $.toMoneyFloat($('#funded_account_amount').val());
        if(bracket == null || bracket == "" || bracket == ".")
          bracket = 0;
        var current_balance = $.toMoneyFloat($('#current_balance').text());
        $('[name*=paypal]').attr("href", $('[name*=paypal]').attr("href").replace(/amount=\d+/, "amount="+$('#funded_account_amount').val()*100));
        $('#balance_after_load').text('$'+((parseFloat(bracket)+parseFloat(current_balance)).toFixed(2))+" USD");
      }
    };

    $.filterPaypalExpressUrl = function(type) {
      var paypal_final = $('[name*=paypal]').attr('href').split(/\&|\?/),
          pattern      = (type == 'discount') ? 'discount' : 'funded_account\|funded_target';
      for (var i=paypal_final.length-1; i>=0; i--) {
        if ( paypal_final[i].match(new RegExp(pattern, 'i')) ) {paypal_final.splice(i, 1);}
      }
      paypal_final = (paypal_final.length > 1) ? paypal_final.join('&').replace('&', '?') : paypal_final.join('')+'?';
      return paypal_final;
    };
    
    roundToTwo = function(num) {
      return + (Math.round(parseFloat(num) + 'e+2') + 'e-2');
    };

    $.updateRequiredDeposit = function(){
      if ($('#funded_account_target_amount').length) {
        var discount_data  = $('span#discount_applied').data('discount'),
            discount_amt   = ((typeof discount_data !== 'undefined') ? roundToTwo(discount_data) : 0),
            deposit_amt    = roundToTwo($('#funded_account_target_amount').val()),
            funded_amt     = roundToTwo($('#current_balance').data('funded-account')),
            order_amt      = roundToTwo($('#funded_account_amount').val()-discount_amt),
            diff           = roundToTwo(deposit_amt - order_amt),
            min_amt        = roundToTwo(order_amt - funded_amt),
            funded_fnl_amt = 0,
            str_amt        = '',
            paypal_final   = $.filterPaypalExpressUrl('funded');
        funded_fnl_amt     = (diff >= 0) ? 0.00 : roundToTwo(funded_amt-(funded_amt-Math.abs(diff)));
        
        if (funded_fnl_amt > funded_amt) {
          str_amt = 'Minimum not met, amount below limit of $'+min_amt.toFixed(2);
          $('#click_to_load').hide();
        } else {
          str_amt       = '-$'+funded_amt.toFixed(2)+' USD';
          paypal_final += '&funded_target='+deposit_amt;
          $('#fnd_remaining_amt').text('$'+min_amt.toFixed(2));
          $('#funded_account_target_amount').attr('min', min_amt);
          $('#click_to_load').show();
          paypal_final += '&funded_account='+funded_amt;
        }
        $('[name*=paypal]').attr('href', paypal_final);
        $('#current_balance').text(str_amt);
      }
    };

    $.applyDiscount = function() {
      var discount_code   = $('#discount_code').val(),
          load_amount     = $('#tier_load_amount'),
          original_amount = load_amount.data('original-amount'),
          old_total_text  = '$'+original_amount+' USD';
      if (discount_code.length === 0 || !discount_code.trim()) {
        $('span#discount_applied, span#invalid_discount_code').remove();
        $('[name*=paypal]').attr('href', $.filterPaypalExpressUrl('discount'));
        $('#discount_amount').val(0);
        load_amount.text(old_total_text);
        return;
      }
      $.ajax({
        url:  "#{lookup_discount_orders_url}",
        data: {discount_code: discount_code},
        type: 'POST',
        success: function(data) {
          $('span#discount_applied, span#invalid_discount_code').remove();
          load_amount.text(old_total_text);
          if (typeof data.discount !== 'undefined') {
            var apply         = parseFloat(data.discount.value),
                old_total     = parseFloat(original_amount),
                discount_show = $('span#discount_applied');
            if (data.discount.apply_as == 'absolute') {
              discount = apply * 0.01;
            } else {
              discount = (old_total * apply).toFixed(2);
              load_amount.text('$'+(old_total - discount).toFixed(2)+' USD');
              if (discount_show.length == 0) {
                $('div#tier_load_amount').after(
                  "<span id='discount_applied'>"+data.discount.label
                    +' applied (-$'+discount+' from total of $'+old_total+')</span>'
                );
                $('span#discount_applied').data('discount', discount);
                $('span#discount_applied').data('discount_code', discount_code);
                $('#discount_amount').val(discount);
              }
              // Update PayPal express url w/discount params
              if ($('[name*=paypal]').length) {
                var url       = $.filterPaypalExpressUrl('discount'),
                    delimeter = url.match(/\?/g) ? '&' : '?',
                    href      = url+delimeter+'discount='+discount+'&discount_code='+discount_code;
                $('[name*=paypal]').attr('href', href);
              }
            }
          } else if (discount_code != '') {
            $('label[for=discount_code]')
              .append("<span class='label_desc' id='invalid_discount_code'>invalid discount code</span>");
            if ($('[name*=paypal]').length) {
              $('[name*=paypal]').attr('href', $.filterPaypalExpressUrl('discount'));
            }
            $('#discount_amount').val(0);
          }
        }
      });
    };
    $.adjust_items_in_cart();
    // Toggle Billing Profile CC form 'required' attributes
    $.profileRequiredToggle = function(type) {
      var form_fields = [
        '#billing_profile_first_name',
        '#billing_profile_last_name',
        '#billing_profile_address_1',
        '#billing_profile_postal_code',
        '#billing_profile_city',
        '#billing_profile_state',
        '#billing_profile_phone',
        '#billing_profile_credit_card',
        '#billing_profile_card_number',
        '#billing_profile_security_code'
      ].join(', ');
      $(form_fields).attr('required', (type=='enable'));
    };
    /* Easiest Tooltips CONFIG */
    // these 2 variable determine popup's distance from the cursor
    // you might want to adjust to get the right result
    var xOffset = 10;
    var yOffset = 30;
    /* END CONFIG */
  });

