.content
  -unless is_new_order_page?
    -if Rails.env =~ /production/
      .box
        .logo-small &nbsp;
        .footer-like
          %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsslcorp&width=210&height=62&colorscheme=dark&show_faces=false&border_color&stream=false&header=false", :style => "border:none; overflow:hidden; width:210px; height:62px;"}
        %a{style: "margin-left: 12px", href: "http://www.bbb.org/houston/business-reviews/internet-services/ssl-com-in-houston-tx-51001755/#bbbonlineclick", title: "SSL.Com BBB Business Review", target: '_blank'}
          %img{alt: "SSL.Com BBB Business Review", src: "//seal-houston.bbb.org/seals/black-seal-200-42-whitetxt-ssl-com-51001755.png", style: "border: 0;"}/
    .box
      %span.title CERTIFICATES
      %ul
        %li
          %a{:href => "#{certificate_url('basicssl')}"}
            %b> SSL
            \.com
            Basic
        %li
          %a{:href => "#{certificate_url('premiumssl')}"}
            %b> SSL
            \.com Premium
        %li
          %a{:href => "#{certificate_url('ev')}"}
            %b> SSL
            \.com Enterprise EV
        %li=link_to "Wildcard Certificate", certificate_url('wildcard')
        %li=link_to "Multi-Domain (UCC)", certificate_url('ucc')
        %li=link_to "Multi-Domain EV (UCC)", certificate_url('evucc')
    .box
      %span.title SUPPORT
      %ul
        %li=link_to "What is <b>SSL</b>?".html_safe, "http://info.ssl.com/article.aspx?id=10241"
        %li=link_to "Knowledgebase", "https://support.ssl.com/Knowledgebase/List"
        %li=link_to "Contact Support", "https://support.ssl.com/Tickets/Submit"
        %li
          %a{:href => "http://www.ssltools.com"}
            %b> SSL
            \.com Tools
        %li=link_to "Compatibility/Acceptance", browsers_url
        %li=link_to "Country Codes", country_codes_csrs_url
        %li=link_to "Top Level Domains (tlds)", tlds_url
        %li=link_to "Validation Requirements", requirements_validations_url
    .box
      %span.title PROGRAMS
      %ul
        %li=link_to "Partners", affiliates_url
        %li=link_to "RESTful API", restful_apidocs_apply_url
        -Reseller::TARGETED.each do |t|
          %li=send :link_to, t.titleize, eval("#{t}_url")
    .box
      %span.title COMPANY
      %ul
        %li=link_to "About SSL.com", about_url
        %li=link_to "Contact Us", contact_us_url
        -# %li
          %a{:href => "#"} Jobs
        %li=link_to "CA Repository", repository_url
        %li=link_to "Terms of Service", terms_of_use_url
        %li=link_to "Privacy", privacy_policy_url
        -# %li=link_to "Refund Policy", ""
/ end of content
.clear
.content
  .copyright
    \© #{Time.now.year}&nbsp;
    %b>
      %i> SSL
    \.com Corp. All Rights Reserved
-if Rails.env=~/production/
  / Start of StatCounter Code for Default Guide
  :javascript
    var sc_project=10146096;
    var sc_invisible=1;
    var sc_security="a05875f5";
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  %noscript
    .statcounter
      %a{:href => "http://statcounter.com/", :target => "_blank", :title => "web analytics"}
        %img.statcounter{:alt => "web analytics", :src => "http://c.statcounter.com/10146096/0/a05875f5/1/"}
  / End of StatCounter Code for Default Guide
  / Start of StatCounter Code for Default Guide
  :javascript
    var sc_project=10147535;
    var sc_invisible=1;
    var sc_security="399a9d97";
    var sc_https=1;
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  %noscript
    .statcounter
      %a{:href => "http://statcounter.com/", :target => "_blank", :title => "web stats"}
        %img.statcounter{:alt => "web stats", :src => "http://c.statcounter.com/10147535/0/399a9d97/1/"}
  / End of StatCounter Code for Default Guide
  :javascript
    adroll_adv_id = "GKW2MQRAWVFYDC4JAVRP76";
    adroll_pix_id = "ZOLIZBRU6BDQBB3OXRSNTE";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
    }());
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-30469369-1', 'ssl.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  / Google Code for Remarketing Tag
  /
    \-
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    \-
  :javascript
    /* <![CDATA[ */
    var google_conversion_id = 975052302;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
  %script{src: "//www.googleadservices.com/pagead/conversion.js", type: "text/javascript"}
  %noscript
    %div{style: "display:inline;"}
      %img{alt: "", height: "1", src: "//googleads.g.doubleclick.net/pagead/viewthroughconversion/975052302/?value=0&guid=ON&script=0", style: "border-style:none;", width: "1"}/
-unless @certificate_order.blank? || @certificate_order.id.blank?
  :javascript
    jQuery(function($){
      $("#start_over").click(function(){
        $.ajax({
          url: "#{start_over_certificate_order_url(@certificate_order.ref)}",
          type: "POST",
          beforeSend: function(){
            return confirm("Are you sure you want to start over with this certificate order?");
          },
          success: function(data, status){
            if(data.certificate_order.certificate_content.workflow_state=="new")
              window.location.href = "#{edit_certificate_order_url(@certificate_order.ref)}";
          }
        });
      });
    });
:javascript
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/5823.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
:javascript
  jQuery(function($){
    $('#live_chat').click(function(){
      $('#habla_topbar_div').click();
    });
    $.prettyLoader();
    $(".btn-buynow span, .hide_me").hide();
    $("a[rel^='prettyPopin']").prettyPopin();
    $('div.flash_message').click(function(){
      $(this).fadeOut();
    });
    $('div.flash_message a').click(function(event){
      event.stopPropagation();
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false, allowresize:false, theme:'pp_default', showTitle:false});
    $('.striped_div > div:nth-child(odd)').css("background-color","#eeeeee");
    $('.striped_tr tr:nth-child(odd)').css("background-color","#eeeeee");
    $('#close_window').live('click', function(){
      window.close();
    });
    $('.close').live('click', function(){
      $(this).remove();
    });
    $("input[name='next']").click(function(){
      $("#waiting_bar").show();
    });
    //#{"$('#colorpicker').farbtastic('.color');" if Rails.env.development?}
    $("#cancel_reseller_signup").click(function(){
      $.ajax({
        url: "#{cancel_reseller_signup_users_url}",
        type: "GET",
        beforeSend: function(){
          return confirm("Are you sure you want to cancel your reseller signup?");
        },
        success: function(data, status){
          if($.inArray("#{Role::CUSTOMER.to_sym}", data.user.role_symbols)>-1)
            window.location.href = "#{account_url}";
        }
      });
    });
    //cart functions
    $.toMoneyFloat = function(money){
      money = money.replace(",","");
      money = money.replace("$","");
      var usdIndex = money.indexOf(" USD");
      if(usdIndex!=-1)
        money = money.substring(0,usdIndex)
      return money;
    }
    $.adjust_items_in_cart = function(){
      var items = "items";
      var howMany = $.get_cart_items().length;
      if(howMany>0)
        $(".icn_cart").addClass("icn_cart-filled").removeClass("icn_cart");
      else
        $(".icn_cart-filled").addClass("icn_cart").removeClass("icn_cart-filled");
      if(howMany==1)
        items = "item";
      $("#cart_size").text(howMany.toString()+" "+items+" in cart");
      $("#cart_count").text(howMany.toString());
    };
    $.adjust_order_total = function(){
      var total = 0;
      $('.amount').each(function(){
        total += parseFloat($.toMoneyFloat($(this).text()));
      });
      total=(total!=0)?total.toFixed(2).toString():"0.00";
      $('#cart_total').text('$'+total+" USD");
    };
    $.empty_out_cart = function(){
      $.cookie("cart", "", {path: '/'});
      $('.add_to_cart_button').removeAttr("disabled");
      $(".icn_cart-filled").addClass("icn_cart").removeClass("icn_cart-filled");
      $('#cart','#cart_total', '.icn_cart').effect("highlight", {}, 3000);
    };
    $('#empty_cart').click(function(){
      $.empty_out_cart();
    })
    $('.remove_from_cart_link').click(function(){
      var id = $(this).attr("id");
      $.remove_from_cart(id);
      $(this).parents('tr[id='+$(this).attr("id")+']').
        fadeOut('slow', function(){
          $(this).remove();
          $.adjust_items_in_cart();
          $.adjust_order_total();
          $('#cart','#cart_total', '.icn_cart').effect("highlight", {}, 3000);}
        );
    });
    $.save_cart = function(cart){
      if(cart=="" || cart.length==0)
        $.cookie("cart", null); //deletes cookie jquery method
      else
        $.cookie("cart", $.toJSON(cart), { expires:
          #{Settings.cart_cookie_days}, path: '/'});
    };
    $.get_cart_items = function(){
      if($.cookie("cart")==null || $.cookie("cart")=="")
        return [];
      else
        return $.evalJSON($.cookie("cart"));
    };
    $.get_affiliate = function(){
      return ($.cookie("aid")==null || $.cookie("aid")=="")
        ? #{ShoppingCart::DEFAULT_AFFILIATE_ID} : $.cookie("aid");
    };
    $.remove_from_cart=function(indx){
      cart = $.get_cart_items();
      cart.remove(indx);
      $.save_cart(cart);
    };
    $.add_remove_cart_items=function(add, item){
      cart = $.get_cart_items();
      indx = $.cart_has_item(item) //find index of existing line item
      if(indx==-1)
        if(add){
          item["#{ShoppingCart::QUANTITY}"]=1;
          if($.isArray(cart)){
            cart.push(item);
          }
          else
            cart=[item];
        }
        else
          return;
      else{
        matched=cart[indx];
        if(add)
          ++matched["#{ShoppingCart::QUANTITY}"];
        else
          if(matched["#{ShoppingCart::QUANTITY}"]==1){
            cart.remove(indx);
          }
          else
            --matched["#{ShoppingCart::QUANTITY}"];
      }
      $.save_cart(cart);
    };
    $.cart_has_item = function(cart_item){
      items=$.get_cart_items();
      if(items==null)
        return -1;
      else{
        var match=true, indx=-1;
        $(items).each(function(i, v){
          match=true;
          for (var key in v) {
            if(key!="#{ShoppingCart::QUANTITY}" &&
                key!="#{ShoppingCart::AFFILIATE}" && v[key]!=cart_item[key]){
              match=false;
              break;
            }
          }
          if(match){
            indx=i;
            return false;
          }
        });
        return indx;
      }
    };
    // Array Remove - By John Resig (MIT Licensed)
    Array.prototype.remove = function(from, to) {
      var rest = this.slice((to || from) + 1 || this.length);
      this.length = from < 0 ? this.length + from : from;
      return this.push.apply(this, rest);
    };
    Array.prototype.find = function(searchStr) {
      var returnArray = false;
      for (i=0; i<this.length; i++) {
        if (typeof(searchStr) == 'function') {
          if (searchStr.test(this[i])) {
            if (!returnArray) { returnArray = [] }
            returnArray.push(i);
          }
        } else {
          if (this[i]===searchStr) {
            if (!returnArray) { returnArray = [] }
            returnArray.push(i);
          }
        }
      }
      return returnArray;
    };
    $.removeFromArray = function(value, arr) {
        return jQuery.grep(arr, function(elem, index) {
            return elem !== value;
        });
    };
    $.update_balance_after_load = function(){
      var bracket = $.toMoneyFloat($('#funded_account_amount').val());
      if(bracket == null || bracket == "" || bracket == ".")
        bracket = 0;
      var current_balance = $.toMoneyFloat($('#current_balance').text());
      $('#balance_after_load').text('$'+((parseFloat(bracket)+parseFloat(current_balance)).toFixed(2))+" USD");
    };
    $.adjust_items_in_cart();
    /* Easiest Tooltips CONFIG */
    // these 2 variable determine popup's distance from the cursor
    // you might want to adjust to get the right result
    var xOffset = 10;
    var yOffset = 30;
    /* END CONFIG */
  });

