#header
  .content
    %a{:href => "#{root_url}"}
      .logo
    / end of logo
    .navigation
      .top_navigation
        %ul
          %li
            %a{:href => "#{show_cart_orders_url}", :style => "text-decoration:none;"}
              %span.icn_cart
                My Cart (
                %span#cart_count> #{cart_items_count}
                )
          %li
            %span.icn_support &nbsp;
            =link_to "Support", "http://support.ssl.com"
          %li
            %span.icn_email &nbsp;
            =link_to "Email Us", contact_us_url
          %li
            %span.icn_phone> &nbsp;
            1-877-SSL-SECURE
          %li
            %span.icn_live &nbsp;
            %a#live_chat{:href => "#"} Live Chat
      / end of top_navigation
      .bottom_navigation
        %ul#nav
          %a(href="#{account_url}")
            %li MY ACCOUNT
          %a(href="#{certificate_url("free")}")
            %li FREE TRIAL
          %li
            %a(href="#{affiliates_url}")
              PARTNERS
            %ul
              %a{:href => "#{affiliates_url}"}
                %li Overview
              %a{:href => "#{details_affiliates_url}"}
                %li Referral Link FAQ
              %a{:href => "#{affiliate_signup_url}"}
                %li Referral Link Signup
              %a{:href => "#{details_resellers_url(:subdomain=>Reseller::SUBDOMAIN)}"}
                %li Reseller Program Details
              %a{:href => "#{reseller_tiers_url(:subdomain=>Reseller::SUBDOMAIN)}"}
                %li Reseller Pricing
              %a{:href => "#{new_account_url(:subdomain=>Reseller::SUBDOMAIN)}"}
                %li Reseller Sign Up
          %li
            %a{:href => "#{certificates_url}"}
              %div OUR CERTIFICATES
            %ul
              %a{:href => "#{certificate_url('basicssl')}"}
                %li
                  %i> SSL
                  \.com Basic
              %a{:href => "#{certificate_url('premiumssl')}"}
                %li
                  %i> SSL
                  \.com Premium
              %a{:href => "#{certificate_url('ev')}"}
                %li
                  %i> SSL
                  \.com Enterprise EV
              %a{:href => "#{certificate_url('wildcard')}"}
                %li Wildcard (Unlimited Subdomains)
              %a{:href => "#{certificate_url('ucc')}"}
                %li Multi-Domain (UCC)
              %a{:href => "#{certificate_url('evucc')}"}
                %li Multi-Domain Plus (UCC EV)
              %a{:href => "#{certificate_url('free')}"}
                %li Free Trial SSL
              %li.divider
              %li
                %a{:href => "#{details_site_seals_url({:subdomain=>false})}"} Smart SeaL
            -#
              %li.divider
              %li
                %a{:href => "#"} SSL Selection Wizard
                %li
                  %a{:href => "#"} Compare SSL.com Certificates
                %li
                  %a{:href => "#"}
                    %i> SSL
                    \.com vs Competition
      .clear
#container
  #content.content
    -if is_public_index_page? || yield(:header)=='public_wo_container'
      =yield
    -else
      .containerl
        .inner
          =render :partial => "shared/messages"
          =yield
