#header(class="show_sales_number")
  .inner
    %ul.nav
      %li#cart_items=link_to "Cart (<span id='cart_items_qty'>#{pluralize(cart_items_count, 'item')}</span>)".html_safe, show_cart_orders_url
      %li
        %a{ :href => "/blog/" }
          Blog
      %li=link_to "About Us", about_url
      %li
        %a{ :href => "http://support.ssl.com/" }
          Support
      -unless current_user
        %li.user_session
          =link_to "Login", login_url
          or
          =link_to "Sign Up", new_user_url
      -else
        %li.user_session=link_to "Logout", logout_url
    %ul#menu
      -unless current_user
        %li(class="#{current_page?(root_url) ? 'active' : ''}")
          =link_to "Home", root_url
      -else
        %li(class="#{current_page?(account_url) ? 'active' : ''}")
          =link_to "Dashboard", account_url
      %li(class="#{current_page?(details_resellers_path) ? 'active' : ''}")
        =link_to "Resellers", root_url(:subdomain=>Reseller::SUBDOMAIN)
      %li(class="#{current_page?(certificates_path) ? 'active' : ''}")
        =link_to "Products", certificates_path
      %li(class="#{current_page?(details_site_seals_path) ? 'active' : ''}")
        =link_to "Smart SeaL", details_site_seals_path
    =render partial: "/layouts/logo_header"
#content
  -if is_public_index_page?
    =yield
  -else
    .containerl
      .inner
        =yield
