#header
  .content
    .logo
      %a{:href => "#{root_url}"} &nbsp;
    / end of logo
    .navigation
      .top_navigation
        %ul
          %li
            %a{:href => "#{show_cart_orders_url}", :style => "text-decoration:none;"}
              %span.icn_cart
                My Cart (
                %span#cart_count> #{cart_items_count}
                )
          %li
            %span.icn_support &nbsp;
            =link_to "Support", "http://support.ssl.com/Tickets/Submit"
          %li
            %span.icn_email &nbsp;
            =link_to "Email Us", contact_us_url
          %li
            %span.icn_phone> &nbsp;
            1-877-SSL-SECURE
          %li
            %span.icn_live &nbsp;
            %a{:href => "#"} Live Chat
      / end of top_navigation
      .bottom_navigation
        %ul#nav
          %li=link_to "MY ACCOUNT", account_url
          %li=link_to "FREE TRIAL", certificate_url("free")
          %li=link_to "RESELLERS", resellers_root_url(:subdomain=>Reseller::SUBDOMAIN)
          %li
            %a{:href => "#"} OUR CERTIFICATES
            %ul
              %li
                %a{:href => "#{certificate_url('basic')}"}
                  %i> SSL
                  \.com Basic
              %li
                %a{:href => "#{certificate_url('premium')}"}
                  %i> SSL
                  \.com Premium
              %li
                %a{:href => "#{certificate_url('ev')}"}
                  %i> SSL
                  \.com Enterprise EV
              %li=link_to "Wildcard (Unlimited Subdomains)", certificate_url('wildcard')
              %li=link_to "Multi-Domain (UCC)", certificate_url('ucc')
              %li=link_to "Multi-Domain Plus (UCC EV)", certificate_url('evucc')
              %li=link_to "Free Trial SSL", certificate_url('evucc')
              %li.divider
              %li
                %a{:href => "#"} SSL Selection Wizard
              %li
                %a{:href => "#"} Compare SSL.com Certificates
              %li
                %a{:href => "#"}
                  %i> SSL
                  \.com vs Competition
      .clear
#container
  #content.content
    -if is_public_index_page? || yield(:header)=='public_wo_container'
      =yield
    -else
      .containerl
        .inner
          =render :partial => "shared/messages"
          =yield
