-if Settings.enable_google_translate
  #google_translate_element
  :javascript
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
  %script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}
#header
  .content
    -unless is_new_order_page?
      %a{:href => "#{root_url}"}
        .logo
    -else
      .logo
    / end of logo
    -unless is_sandbox?
      .navigation
        .top_navigation
          -unless is_new_order_page?
            %ul
              %li
                %a{:href => "#{show_cart_orders_url}", :style => "text-decoration:none;"}
                  %span.icn_cart
                    My Cart (
                    %span#cart_count> #{cart_items_count}
                    )
              %li
                %span.icn_support &nbsp;
                =link_to "Support", "https://#{Settings.support_domain}"
              %li
                %span.icn_email &nbsp;
                =link_to "Email Us", contact_us_url
              %li
                %span.icn_phone> &nbsp;
                =Settings.public_header_phone_number
              %li
                %span.icn_live &nbsp;
                %a#live_chat{:href => "#"} Live Chat
          -else
            %ul{style: "float:left;"}
              %li
                %span.icn_live &nbsp;
                %a#live_chat{:href => "#"} Live Chat
        / end of top_navigation
        .bottom_navigation
          -if !is_new_order_page? and !is_sandbox? and !current_page?(action: "generate_cert")
            %ul#nav
              %li
                %a(href="#{account_url}")
                  %div MY ACCOUNT
                -if current_user && session[:authenticated]
                  %ul
                    %li
                      =link_to "Logout", logout_url
              -if Settings.offer_trial
                %li
                  %a(href="#{certificate_url("free")}") FREE TRIAL
              -if Settings.enable_affiliate_program
                %li
                  %a(href="#{affiliates_url}")
                    %div PARTNERS
                  %ul
                    %li
                      %a{:href => "#{affiliates_url}"} Overview
                    %li
                      %a{:href => "#{details_affiliates_url}"} Referral Link FAQ
                    %li
                      %a{:href => "#{affiliate_signup_url}"} Referral Link Signup
                    %li
                      %a{:href => "#{details_resellers_url(:subdomain=>Reseller::SUBDOMAIN)}"} Reseller Program Details
                    %li
                      %a{:href => "#{reseller_tiers_url(:subdomain=>Reseller::SUBDOMAIN)}"} Reseller Pricing
                    %li
                      %a{:href => "#{new_account_url(:subdomain=>Reseller::SUBDOMAIN)}"} Reseller Sign Up
              %li
                %a{:href => "#{certificate_url('code_signing')}"}
                  %div CODE SIGNING CERTIFICATES
              %li
                %a{:href => "#{certificates_url}"}
                  %div SSL CERTIFICATES
                %ul
                  -%w(dv premiumssl ev wildcard ucc evucc ov).each do |type|
                    -next if type=='premiumssl' && !(DEPLOYMENT_CLIENT=~/ssl\.com/)
                    %li
                      %a{:href => "#{certificate_url(Settings.subca_mapping.send(type).send "product")}"}
                        =Settings.subca_mapping.send(type).send("label").html_safe
                  -if Settings.offer_trial
                    %li
                      %a{:href => "#{certificate_url('free')}"}
                        -if DEPLOYMENT_CLIENT=~/certassure/
                          30 Day Trial
                        -else
                          Free Trial SSL
                  -if DEPLOYMENT_CLIENT=~/ssl\.com/
                    %li.divider
                    %li
                      %a{:href => "#{details_site_seals_url({:subdomain=>false})}"}
                        Smart SeaL
                -#
                  %li.divider
                  %li
                    %a{:href => "#"} SSL Selection Wizard
                    %li
                      %a{:href => "#"} Compare #{community_name} Certificates
                    %li
                      %a{:href => "#"}
                        %i> SSL
                        \.com vs Competition
          .clear
#container
  #content.content
    -if is_public_index_page? || yield(:header)=='public_wo_container'
      =yield
    -else
      .containerl
        .inner
          =render :partial => "shared/messages"
          =yield
