#prog_nav_container
  %ul(id="prog_nav")
    %li(id="#{'t-intro' if current_page?(account_url)}")
      =link_to "Dashboard", account_url
    %li(id="#{'t-intro' if current_page?(certificates_url)}")
      =link_to "Certificates", certificates_url
    %li(id="#{'t-intro' if is_on?("validations")}")
      =link_to "Validations", validations_url
    %li(id="#{'t-intro' if is_on?("site_seals")}")
      =link_to "Smart SeaLs", site_seals_url
    %li(id="#{'t-intro' if is_on?("certificate_orders")}")
      =link_to "Orders", certificate_orders_path
    %li(id="#{'t-intro' if is_on?("orders")}")
      =link_to "History", orders_path
    %li(id="#{'t-intro' if current_page?(edit_settings_ssl_account_url)}")
      =link_to "Settings", edit_settings_ssl_account_url
    %li(id="#{'t-intro' if current_page?(edit_account_url)}")
      =link_to "Account", edit_account_url
