!!!
%html(xmlns:fb="facebook.com/2008/fbml" itemscope="" itemtype="http://schema.org/Organization")
  %head
    :javascript
      var _sf_startpt=(new Date()).getTime()
    =javascript_include_tag 'jquery'
    =javascript_include_tag 'select2'
    =javascript_include_tag '//kit.fontawesome.com/32ac29d6b6.js', crossorigin: 'anonymous'
    =javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js'
    =stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css'
    =javascript_include_tag 'https://cdn.lr-ingest.io/LogRocket.min.js', crossorigin: 'anonymous'
    %favicon_link_tag
    %meta{ "http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= h(yield(:title).or_else(Settings.meta_title)) + " | #{community_name}"
    -if @meta
      -@meta.each do |key|
        %meta{:name=>key[0], :content=>key[1]}
    %meta{ :name => "description", :content => h(yield(:description).or_else(Settings.meta_description)) }
    %meta{ :content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    -unless DEPLOYMENT_CLIENT=~/certassure/i
      %meta{ name: "google-site-verification", content: "b65HKRyxFnyE0Qc-CUNw2qzcgkX9TzX_mQP68sfdmQc" }
      %meta{ content: "u5-F_Ea1wBSyXQRDH-SCD9NbgIQFyGxaCJUTvo6J4v0", name: "google-site-verification" }
    %meta(content="width=1115" name="viewport")
    -# the following metas are for google+ custom message
    %meta(itemprop="name" content="Educating the public about SSL Certificates | #{community_name}")
    -# the following metas are for facebook custom message
    %meta(property="og:title" content="Educating the public about SSL Certificates | #{community_name}")
    %meta(property="og:description" content="At #{community_name}, our vision is to create public awareness on the importance of SSL Certificates.  Have questions?  Post them on our Facebook wall using the link above and we will do our best to respond to your comments as soon as possible.")
    %meta(property="og:type" content="product")
    %meta(property="og:image" content="#{asset_path('SSL.com-social_profile_pic.png')}")
    %meta(property="og:fb:app_id" content="175898732515690")
    -if Settings.enable_google_translate
      %meta(content="270203b2aec0195d-351e2e7194e8a573-g8eac2d942a134c20-b" name="google-translate-customization")
    =csrf_meta_tag
    =render :partial => "shared/scripts_and_styles"
    =yield :js
  %body
    #wrapper
      -if (current_user.blank?) || (!current_user.is_passed_2fa(session[:duo_auth]) || !session[:authenticated]) || yield(:header)=='public' || yield(:header)=='public_wo_container'
        -unless request.subdomain==Reseller::SUBDOMAIN
          =render :partial => '/layouts/public_new'
        -else
          =render :partial => '/layouts/public_resellers'
      -elsif current_user.is_system_admins?
        =yield(:header)
        =render :partial => '/layouts/admin'
      -elsif current_user.ssl_account.is_registered_reseller? and current_user.role_symbols!=[:individual_certificate]
        =yield(:header)
        =render :partial => '/layouts/reseller'
      -else
        =yield(:header)
        =render :partial => '/layouts/standard'
      .push
    -unless is_sandbox?
      #footer
        =render partial: '/layouts/footer'
        #swifttagcontainerwoyxz3g3q4
          #proactivechatcontainerwoyxz3g3q4
          #swifttagdatacontainerwoyxz3g3q4(style="display: inline;")
        -if in_production_mode? && !is_sandbox? and !current_user&.is_system_admins?
          / Start of HubSpot Embed Code
          :javascript
            window.hsConversationsSettings = { disableAttachment: true }

          %script#hs-script-loader{:async => "", :defer => "defer", :src => "//js.hs-scripts.com/7793904.js", :type => "text/javascript"}
          / End of HubSpot Embed Code
- if in_production_mode?
  :javascript
    window.LogRocket && window.LogRocket.init("m9241k/ssl-com-#{Rails.env.production? ? Socket.gethostname : Rails.env}")
- if current_user.present? && in_production_mode?
  :javascript
    LogRocket.identify("#{current_user.id}", {
      email: "#{current_user.login}",
      login: "#{current_user.email}"
    });
